.mainContent {
    display: flex;

    width: 100%;
    min-height: 90vh;
}

.centerBlockContent {
    width: 100%;
    min-height: 90vh;
    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.mainBlockContent {
    display: flex;
    flex-direction: row-reverse;

    margin: 32px 0 37px;
    padding: 0 24px 0 0;
}

.btnDownloadContent {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 216px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnDownloadContent img {
    margin-right: 12px;

    content: url('../../assets/iconDownloadWhite.svg');
}

.btnDownloadContent img.webContent {
    margin-right: 12px;

    content: url('../../assets/iconPlus.svg');
}

.btnDownloadContent:hover(not.disabled) {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnDownloadContent:active {
    background: #1026cf;
}

.btnDownloadContent:disabled,
.btnDownloadContent.disabled {
    cursor: auto;

    color: #fff;
    border: none;
    background: #babee6;
}

.wrapperContentAll {
    display: flex;
}

.mainFolderBlock {
    position: relative;

    width: 412px;

    margin: 0;
    padding: 0;
}

.folderPointsSale {
    display: flex;
    justify-content: space-between;

    margin: 0 0 9px;
    padding: 0 28px 0 24px;
}

.mainFolderBlock h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.wrapperFolderBlock {
    overflow: hidden scroll;

    height: calc(100vh - 72px - 32px - 50px);

    margin: 0;
    margin-right: 2px;
    padding: 3px 20px 0 24px;
}

.contentWithoutFolder {
    box-sizing: border-box;

    width: 367px;

    margin: 0 0 16px;
    padding: 15px 15px 11px;

    border: 1px solid transparent;
    border-radius: 6px;

    background: #fff;
}

.folderStatistics {
    position: relative;

    display: flex;

    margin: 0;
    padding: 0;
}

.fieldStatisticsItem {
    display: flex;
    align-items: center;

    margin: 0 20px 0 0;
    padding: 0;
}

.fieldStatisticsItem img {
    margin-right: 8px;
}

.folderItem {
    margin: 0;

    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.contentFolderItem {
    box-sizing: border-box;

    width: 367px;

    /* height: 151px; */
    margin: 0 0 16px;
    padding: 8px 6px 8px 15px;

    border: 1px solid transparent;
    border-radius: 6px;

    background: #fff;
}

.contentFolderInfoText {
    overflow: hidden;

    width: 279px;

    margin: 0 0 0 16px;
    padding: 16px 0 0;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.contentFolderInfoText .iconContentSelect {
    top: -8px;
    right: -8px;
}

.fieldFolderCardName {
    height: 17px;

    margin: 0 0 5px;
    padding: 0 24px 0 0;
}

.folderCardName {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.wrapFieldFolderCardAddress {
    height: 36px;

    margin: 0;
    padding: 0;
}

.fieldFolderCardAddress {
    margin: 0;
    padding: 0;
}

.folderCardAddress {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.contentFolderInfoStatistics {
    margin: 0;
    padding: 0;
}

.wrapContentCardItem {
    margin: 0 10px 10px 0;
    padding: 3px;
}

.wrapContentCardItem1 {
    margin: 0;
    padding: 0;

    border-radius: 6px;

    background: #fff;
}

.contentCardItem {
    position: relative;

    /* margin: 0 16px 16px 0; */
    margin: 0;
    padding: 0;

    border: 1px solid transparent;
    border-radius: 6px;

    /* background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%); */
}

.wrapperVideoCart {
    position: relative;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.wrapperVideoCart::before {
    position: absolute;

    z-index: 2;

    top: 0;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';

    border-radius: 6px 6px 0 0;
    background: #19191b;
}

.wrapperVideoCart::after {
    position: absolute;

    z-index: 2;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';

    background: #19191b;
}

.wrapContentCardItemImg {
    height: 70%;

    margin: 0 0 7px;
    padding: 0;
}

.contentCardItem img,
.contentCardItem video {
    object-fit: cover;

    width: 100%;
    height: 100%;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.contentWithoutFolder:hover,
.contentFolderItem:hover,
.contentCardItem:hover {
    box-shadow: 2px 18px 28px rgb(166 171 195 / 19%);
}

.contentWithoutFolder.active,
.contentFolderItem.active,
.contentCardItem.active,
.contentWithoutFolder.active:hover,
.contentFolderItem.active:hover,
.contentCardItem.active:hover {
    border: 1px solid #3b51f9;
    box-shadow: 0 0 0 3px #c1c8fd;
}

.contentWithoutFolder.active.activeContentItem,
.contentFolderItem.active.activeContentItem {
    border: none;
}

.contentWithoutFolder h2 {
    margin: 0 0 9px;
    padding: 0;

    color: #191919;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.contentFolderItemInfo {
    position: relative;

    display: flex;
}

.contentFolderItemInfo img,
.contentFolderItemInfo video {
    margin: 19px 0 0;
    padding: 0;
}

.mainRightMenuInfoItem span,
.wrapMainRightMenuInfoAll span {
    color: #101431;
}

.contentCardItemName span {
    width: 118px;

    margin: 0 8px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.contentRightBlockH2 {
    margin: 25px 0 0 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
}

.contentRightBlockH2_1 {
    margin-bottom: 23px;
}

.contentRightBlockH2_2 {
    margin-bottom: 20px;
}

.contentRightBlockH3 {
    margin: 0 0 0 24px;
    padding: 0;

    user-select: none;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.contentRightBlockH3 span {
    font-weight: normal;
}

.contentRightBlockH3_1 {
    margin-bottom: 20px;
}

.contentRightBlockH3_2 {
    margin-bottom: 15px;
}

.contentRightBlockH3_3 {
    margin-bottom: 14px;
}

.contentWithoutFolder h2 span {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.pageContentRightBlock3 h3 span {
    font-weight: 400;
}

.pageContentRightBlock3 p span {
    color: #101431;

    font-weight: 400;
}

.contentFolderInfoStatistics .folderItem {
    margin-bottom: 3px;
}

.contentFolderInfoStatistics .folderItem span {
    color: #101431;
}

.mainContentBlock {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 0;
    padding: 0;
}

.mainContentBlock::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: calc(100vh - 72px - 32px - 10px);

    content: '';

    background: #dddfee;
}

.contentSelectAll {
    display: flex;
    justify-content: space-between;

    margin: 0 0 9px;
    padding: 0 33px 0 20px;
}

.mainContentBlock h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.contentBlockEmpty {
    display: block;

    width: 210px;

    margin: 179px auto auto;
    padding: 0;

    text-align: center;
}

.contentBlockEmpty p {
    margin: 0;
    padding: 0;

    cursor: default;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.contentBlockEmpty a {
    color: #3b51f9;
}

.contentBlockEmpty a.disabled {
    cursor: default;

    color: #9093ae;
}

.wrapperContentBlockList {
    overflow-y: scroll;

    height: calc(100vh - 72px - 32px - 45px);

    margin: 0;
    margin-right: 2px;
    padding: 0 0 0 20px;
}

.mainContentBlockList {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.contentCardItemName p {
    overflow: hidden;

    margin: 0;
    padding: 0 8px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.contentCardItem:hover:not(.selectedItem) .blackoutOverlay {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 70%;

    transition: 0.3s ease;

    opacity: 1;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background: rgb(15 16 31 / 40%);
}

.overlayTrash {
    position: absolute;
    top: 8px;
    left: 8px;

    content: url('../../assets/iconTrash_22x22.svg');

    opacity: 0;
}

.overlayCheckCircle {
    position: absolute;
    top: 8px;
    right: 8px;

    opacity: 0;
}

.overlayCheckCircle svg {
    stroke: white;
}

.overlayCheckCircleActive {
    z-index: 3;

    opacity: 1;
}

.overlayScreen {
    position: absolute;

    bottom: 35%;
    left: 8px;

    width: 18px;
    height: 13px;

    transform: rotate(90deg);

    opacity: 0;

    border: 1.2px solid #fff;
    border-radius: 2px;
}

.overlayScreen.square {
    width: 13px;
}

.overlayScreen.horizontal {
    transform: none;
}

.overlayScreenResolution {
    position: absolute;

    bottom: 35%;
    left: 36px;

    /* width: 90px; */
    height: 13px;

    opacity: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
}

.overlayScreen:hover,
.overlayScreenResolution:hover {
    cursor: default;
}

.contentCardItem.selectedSome .overlayScreen,
.contentCardItem.selectedSome .overlayScreenResolution,
.contentCardItem:hover:not(.selectedSome) .overlayTrash,
.contentCardItem:hover .overlayCheckCircle,
.contentCardItem:hover .overlayScreen,
.contentCardItem:hover .overlayScreenResolution {
    z-index: 3;

    opacity: 1;
}

.contentCardItem:hover:not(.selectedSome) .overlayTrash:hover {
    content: url('../../assets/iconTrashHover_22x22.svg');

    cursor: auto;
}

.contentCardItem:hover:not(.selectedSome) .overlayTrash.disabled {
    content: url('../../assets/iconTrash_22x22.svg');
    cursor: auto;

    opacity: 0.5;
}

/* Style Right Block Page Content - Начало */

.rightBlockPageContentContainer {
    display: flex;

    width: 340px;
    height: 100vh;

    margin: 0;
    padding: 0;
}

.pageContentRightBlockEmpty {
    width: 340px;

    margin: 0;
    padding: 0;
}

.wrapRightBlockPageContent {
    display: flex;
    flex-direction: column;

    width: 340px;
    margin: 0;
    padding: 0;

    flex: 1;
}

.rightBlockPageContent {
    overflow: hidden scroll;

    /* height: 70vh; */
    margin: 0;
    margin-right: 2px;
    padding: 0;

    flex: 1 0 auto;
}

.wrapperFolderBlock::-webkit-scrollbar,
.wrapperContentBlockList::-webkit-scrollbar,
.rightBlockPageContent::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapperFolderBlock::-webkit-scrollbar-thumb,
.wrapperContentBlockList::-webkit-scrollbar-thumb,
.rightBlockPageContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.wrapInputRightBlockFolder {
    position: relative;

    margin: 0 0 16px 24px;
    padding: 0;
}

.wrapInputRightBlockFolder1 {
    margin-bottom: 29px;
}

.pageContentRightBlock2 .wrapInputRightBlockFolder {
    margin-bottom: 28px;
}

.rightBlockPageContent label {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.inputRightBlockFolder {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0;
    margin-top: 9px;
    padding: 10px 20px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.inputRightBlockFolder:hover {
    border: 1px solid #bec1d2;
}

.inputRightBlockFolder:active,
.inputRightBlockFolder:focus {
    border: 1px solid #566dec;
}

.btnDeleteFolder img {
    margin: 0;
    margin-right: 12px;

    content: url('../../assets/iconDeletePlaylist.svg');
}

.btnDeleteContent img {
    margin: 0;
    margin-right: 12px;

    content: url('../../assets/iconDeletePlaylist.svg');
}

.rightBlockPageContent > img,
.rightBlockPageContent > video,
.rightBlockPageContent > iframe {
    object-fit: cover;

    margin: 0 0 18px 24px;
    padding: 0;

    border-radius: 6px;
}

.rightBlockPageContent .mainRightMenuInfoItem {
    margin: 0 0 0 24px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.rightBlockPageContent .mainRightMenuInfoItem1 {
    margin-bottom: 8px;
}

.rightBlockPageContent .mainRightMenuInfoItem2 {
    margin-bottom: 6px;
}

.rightBlockPageContent .mainRightMenuInfoItem3 {
    margin-bottom: 24px;
}

.rightBlockPageContent .mainRightMenuInfoItem4 {
    margin-bottom: 24px;
}

.rightBlockPageContent .mainRightMenuInfoItem5 {
    margin-bottom: 13px;
}

.rightBlockPageContent .mainRightMenuInfoItem span {
    color: #101431;
}

.rightBlockPageContent .folderStatistics {
    margin: 14px 0 28px 24px;
}

.rightBlockPageContent .folderItem {
    font-size: 14px;
}

.rightBlockPageContent .fieldStatisticsItem img {
    margin: 0 8px 0 0;
}

.btnFieldRightPageContent {
    width: 340px;
    height: 86px;
    margin: 0;
    padding: 0;

    background: #fff;
    box-shadow: 0 0 20px rgb(166 167 195 / 20%);
}

.btnFieldRightPageContent1 {
    box-shadow: 0 -20px 20px -7px rgb(166 167 195 / 13%);
}

.btnFieldRightPageContent2 {
    height: 144px;
}

.btnDeleteFolder,
.btnDeleteContent {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0;
    margin-bottom: 16px;
    margin-left: 24px;
    padding: 0;

    color: #f92424;

    border: 1.2px solid #ff7171;
    border-radius: 6px;

    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnDeleteFolder:hover img {
    content: url('../../assets/iconTrash_22x22.svg');
}

.btnDeleteContent:hover img {
    content: url('../../assets/iconTrash_22x22.svg');
}

.btnDeleteContent {
    margin-bottom: 0;
}

.btnDeleteFolder:hover,
.btnDeleteContent:hover {
    cursor: pointer;

    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.btnDeleteFolder:active,
.btnDeleteContent:active {
    color: #fff;
    background: #e41d1d;
}

.btnDeleteFolder.disabled,
.btnDeleteContent.disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
    background-color: #fff;
    box-shadow: none;
}

.btnDeleteContent.disabled:not([hover]) img {
    content: url('../../assets/iconTrashDisabled_22x22.svg');
}

.btnDeleteFolder.disabled:not([hover]) img {
    content: url('../../assets/iconTrashDisabled_22x22.svg');
}

.btnSaveSettings {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 20px 0 0 24px;
    padding: 0;

    color: #fff;

    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnFieldRightPageContent2 .saveSettings {
    margin-top: 20px;
}

.btnDeselect {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 20px 0 -4px 24px;
    padding: 0;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSaveSettings:hover,
.btnDeselect:hover {
    cursor: pointer;

    color: #fff;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnSaveSettings:active,
.btnDeselect:active {
    color: #fff;
    background: #1026cf;
}

.btnSaveSettings:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

.wrapperVideo {
    position: relative;

    width: 292px;
    height: 164px;

    margin: 0 0 18px 24px;
    padding: 0;
}

.wrapperVideo::before {
    position: absolute;

    z-index: 2;

    top: 0;
    left: 0;

    width: 292px;
    height: 24px;

    content: '';

    border-radius: 6px 6px 0 0;
    background: #19191b;
}

.wrapperVideo::after {
    position: absolute;

    z-index: 2;

    bottom: 0;
    left: 0;

    width: 292px;
    height: 24px;

    content: '';

    border-radius: 0 0 6px 6px;
    background: #19191b;
}

.rightBlockPageContent video {
    margin: 0;
}

.wrapMainRightMenuInfoAll {
    position: relative;

    margin: 0;
    padding: 0;
}

.wrapMainRightMenuInfoAll h3 {
    margin: 0 0 0 24px;
    padding: 0;

    /* color: #6c6e82; */
    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.wrapperInfo {
    position: relative;

    margin: 0 0 25px;
    padding: 0;
}

.iconArrowInfoUp::before {
    position: absolute;

    top: 0;
    right: 15px;

    content: url('../../assets/iconCaretUp.svg');

    cursor: pointer;
}

.iconArrowInfoDown::after {
    position: absolute;

    top: 0;
    right: 15px;

    content: url('../../assets/iconCaretDown.svg');

    cursor: pointer;
}

.mainRightMenuInfoAll {
    width: 292px;

    margin: 0 0 21px 24px;
    padding: 0;

    color: #6c6e82;

    border: none;

    outline: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenuInfoAll a {
    margin: 0;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenuInfoAll li {
    display: flex;
    justify-content: space-between;

    width: 292px;

    margin-top: 10px;

    color: #101431;
}

.pageContentRightBlock3 button {
    margin-bottom: 28px;
}

.pageContentRightBlock3 p {
    margin-bottom: 24px;
}

.mainRightMenuInfoAll li p {
    overflow: hidden;

    width: 220px;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.rightMenuSettingSelectFolder {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0 0 28px;
    padding: 10px 42px 10px 20px;

    color: #6c6e82;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.tooltip {
    position: relative;
}

.fieldDeleteContent {
    position: relative;

    margin: 0 0 28px;
    padding: 0;
}

.fieldDeleteFolder {
    position: relative;

    margin: 0;
    padding: 0;
}

.contentVideoTime {
    margin: 0;
    margin-left: 8px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.infoHeader {
    cursor: pointer;
    user-select: none;
}

.nonUserSelect {
    user-select: none;
}

/* .tooltiptextItem {
    margin: 0;
    padding: 0;

    line-height: 16px;
}

.tooltiptextItem:first-child {
    margin-bottom: 5px;
} */

@media (width >= 1029px) and (width <= 1169px) {
    .mainFolderBlock {
        width: 341px;
    }

    .contentWithoutFolder,
    .contentFolderItem {
        width: 296px;
    }

    .contentFolderInfoText {
        width: 176px;
    }

    .contentCardItem {
        width: calc(((100vw - 80px - 375px - 340px) / 2) - 16px);
        height: calc((((100vw - 80px - 370px - 340px) / 2) - 16px) * 1.428);
    }
}

@media (width >= 1170px) and (width <= 1299px) {
    .mainFolderBlock {
        width: 341px;
    }

    .contentWithoutFolder,
    .contentFolderItem {
        width: 296px;
    }

    .contentFolderInfoText {
        width: 176px;
    }

    .contentCardItem {
        width: calc(((100vw - 80px - 375px - 340px) / 3) - 16px);
        height: calc((((100vw - 80px - 370px - 340px) / 3) - 16px) * 1.428);
    }
}

@media (width >= 1300px) and (width <= 1365px) {
    .mainFolderBlock {
        width: 341px;
    }

    .contentWithoutFolder,
    .contentFolderItem {
        width: 296px;
    }

    .contentFolderInfoText {
        width: 176px;
    }

    .contentCardItem {
        width: calc(((100vw - 80px - 378px - 340px) / 4) - 16px);
        height: calc((((100vw - 80px - 373px - 340px) / 4) - 16px) * 1.428);
    }
}

@media (width >= 1366px) and (width <= 1399px) {
    .contentCardItem {
        width: calc(((100vw - 208px - 446px - 340px) / 3) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 3) - 16px) * 1.428);
    }
}

@media (width >= 1400px) and (width <= 1494px) {
    .contentCardItem {
        width: calc(((100vw - 208px - 446px - 340px) / 3) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 3) - 16px) * 1.428);
    }
}

@media (width >= 1495px) and (width <= 1660px) {
    .contentCardItem {
        width: calc(((100vw - 208px - 448px - 340px) / 4) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 4) - 16px) * 1.428);
    }
}

@media (width >= 1661px) and (width <= 1830px) {
    .contentCardItem {
        width: calc(((100vw - 208px - 450px - 340px) / 5) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 5) - 16px) * 1.428);
    }
}

@media (width >= 1831px) and (width <= 1999px) {
    .contentCardItem {
        width: calc(((100vw - 208px - 452px - 340px) / 6) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 6) - 16px) * 1.428);
    }
}

@media (width >= 2000px) {
    .contentCardItem {
        width: calc(((100vw - 208px - 454px - 340px) / 7) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 7) - 16px) * 1.428);
    }
}
