.mainPage {
    display: flex;

    width: 100%;
    height: calc(100vh - 72px - 48px);

    margin: 0;
    padding: 24px 9px 24px 24px;

    background: #f7f7f9;
}

.tooltiptext {
    margin: 0;
    padding: 4px 12px;

    color: #fff;
    border-radius: 6px;

    background: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.mainPageInfo {
    width: calc(100vw - 208px - 355px - 36px);

    margin: 0;
    margin-right: 16px;
    padding: 0;
}

.wrapblock1 {
    display: flex;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.wrapblock2 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 309px;

    margin: 0;
    padding: 0;

    border-radius: 8px;

    background: #fff;

    /* box-shadow: 2px 4px 20px rgb(166 171 195 / 6%); */
}

.wrapperBlockScreenSetting {
    width: 100%;
    height: 309px;

    margin: 0;
    padding: 0;

    border-radius: 8px;

    background: #fff;

    /* box-shadow: 2px 4px 20px rgb(166 171 195 / 6%); */
}

.block1 {
    position: relative;

    display: flex;
    align-items: center;

    /* justify-content: center; */
    width: 640px;
    height: 316px;

    margin: 0;
    padding: 0;
    padding: 0 64px;
}

.block1Info {
    margin: 0;
    padding: 0;
}

.block1 img {
    width: 348px;
    height: 225px;

    margin: 0;
    padding: 0;
}

.block1Item {
    width: 328px;

    margin: 0;
    margin-bottom: 13px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.block1Info p {
    width: 328px;
    height: 44px;

    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.button.button1 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    /* width: 200px; */
    min-width: 180px;
    height: 42px;

    margin: 0;
    padding: 0 24px 0 16px;

    color: #fff;

    border: none;
    border-radius: 6px;
    background-color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.button.button1 svg {
    width: 22px;
    height: 22px;

    margin-right: 12px;

    stroke: white;
}

.wrapBlockScreenSetting {
    display: flex;
}

.blockScreenSetting {
    position: relative;

    margin: 0;
    padding: 38px 64px 39px;
}

.blockScreenSetting h3 {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;

    color: #191919;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.ScreenStatistic {
    display: flex;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.cardScreenStatistic {
    box-sizing: border-box;

    width: 100%;
    min-width: 145px;
    height: 89px;
    margin: 0;
    margin-right: 20px;
    padding: 0;

    border: 1px solid #eaecfc;
    border-radius: 6px;

    background: #fff;
}

.cardScreenStatistic:last-child {
    margin-right: 0;
}

.cardScreenStatistic p {
    cursor: default;
}

/* .cardScreenStatistic:hover { */

/*    border: none; */

/*    border-radius: 6px; */

/*    background: #fff; */

/*    box-shadow: 2px 18px 28px rgba(166, 171, 195, .19); */

/* } */

.screenStatisticNumber {
    margin: 19px 0 3px;
    padding: 0;

    text-align: center;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 29px;
}

.screenStatisticAll {
    color: #3b51f9;
}

.screenStatisticOn {
    color: #18c55d;
}

.screenStatisticOff {
    color: #6c6e82;
}

.screenStatisticError {
    color: #f92424;
}

.screenStatisticName {
    margin: 0;
    padding: 0;

    text-align: center;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.button.button3 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 200px;
    height: 42px;

    margin: 0;
    padding: 0;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.button.button3 svg {
    margin-right: 12px;

    stroke: #3b51f9;
}

.button.button3:hover svg {
    stroke: white;
}

.button.button3.buttonBanner {
    width: 262px;
    margin-top: 33px;
}

.button.button1:hover,
.button.button3:hover {
    cursor: pointer;

    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.button.button1:active,
.button.button3:active {
    background: #1026cf;
}

.button.button1:disabled {
    cursor: auto;

    background: #babee6;

    box-shadow: none;
}

.button.button3:disabled:not([hover]) {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;

    background: none;
    box-shadow: none;
}

.button.button3:disabled svg {
    stroke: #9093ae;

    cursor: auto;
}

/* Popup window add screen */

.popup {
    position: fixed;
    inset: 0;

    visibility: hidden;

    opacity: 0;

    background: rgb(15 16 31 / 51%);
}

.popup:target {
    visibility: visible;

    opacity: 1;
}

.popupAddScreen {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 594px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupAddScreen h2 {
    margin: 0;

    margin-bottom: 20px;
    padding: 0;

    padding-top: 45px;
    padding-left: 92px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupAddScreen label {
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.enterNumberScreen,
.enterNameScreen {
    width: 294px;
    height: 42px;
    margin-top: 9px;
    margin-left: 88px;
    padding: 10px 42px 10px 20px;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.enterNumberScreen {
    margin-bottom: 16px;
}

.enterNameScreen {
    margin-bottom: 32px;
}

.buttonCreate {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    margin-right: 16px;
    margin-left: 88px;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonAddScreen:hover,
.buttonCreate:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonAddScreen:active,
.buttonCreate:active {
    background: #1026cf;
}

.buttonAddScreen:disabled,
.buttonCreate:disabled {
    background: #babee6;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
}

/* Popup window add playlist */

.popupAddPlaylist {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 310px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupAddPlaylist h2 {
    margin: 0;

    margin-bottom: 19px;
    padding: 0;

    padding-top: 50px;
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupAddPlaylist label {
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.enterNamePlaylist {
    width: 294px;
    margin-top: 9px;
    margin-bottom: 40px;
    margin-left: 88px;
    padding: 10px 42px 10px 20px;
}

.fieldBtnAddScreen {
    position: relative;

    margin: 0;
    padding: 0;
}

.fieldBtnAddScreen .tooltiptext {
    position: absolute;
    z-index: 1;

    top: 50px;
    left: 30px;

    visibility: hidden;

    width: 260px;

    text-align: center;
}

.fieldBtnAddScreen:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.fieldBtnAddScreen .tooltiptext::after {
    position: absolute;

    top: -12px;
    right: 50%;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.wrapperRightBlockMainPage {
    overflow-y: scroll;

    height: calc(100vh - 72px - 48px);

    margin: 0;
    padding: 0;
}

.wrapperRightBlockMainPage::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapperRightBlockMainPage::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.wrapperLearningBlog {
    width: 335px;
}

.learningBlog {
    position: relative;

    /* display: none; */
    width: calc(326px - 32px - 32px);

    margin: 0;
    margin-bottom: 16px;
    padding: 32px 32px 38px;

    border-radius: 8px;

    background: #3b51f9;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.wrappImgLearningBlog {
    display: flex;
    justify-content: center;

    /* align-items: center; */
    width: 262px;
    height: 131px;

    margin: 0;
    margin-bottom: 24px;
    padding: 0;

    border-radius: 8px;

    background: #fff;
}

.wrappImgLearningBlog img {
    margin-top: 27px;
}

.learningBlogItem {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
}

.learningBlogItem1 {
    margin: 0;
    padding: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.learningBlogLink {
    margin: 0;
    padding: 0;

    text-decoration: underline;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.learningBlogClose {
    position: absolute;

    top: 8px;
    right: 6px;

    width: 22px;
    height: 22px;

    content: url('../../../../../../assets/iconX_white.svg');

    cursor: pointer;
}

.wrapperOrderBox,
.wrapperOrderScreen {
    width: 335px;

    margin: 0;
    padding: 0;
}

.wrapperOrderScreen {
    display: none;
}

.orderBox {
    position: relative;

    /* display: none; */
    width: calc(326px - 32px - 32px);

    margin: 0;
    margin-bottom: 16px;
    padding: 32px;

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.orderScreen {
    position: relative;

    /* display: none; */
    width: calc(326px - 32px - 32px);

    margin: 0;
    margin-bottom: 16px;
    padding: 32px 32px 27px;

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.wrappImgOrderBlog {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 262px;
    height: 120px;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    border-radius: 8px;

    background: #f2f3f5;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.wrappImgOrderBlogFirst {
    height: 106px;
}

.orderBlogItem {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.youtubeBlogItemWrapper {
    height: 100px;
    margin-top: 30px;
}

.youtubeBlogItem {
    margin: 0;
    padding: 0;

    text-align: left;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.orderBlogItemFirst {
    margin-bottom: 9px;
}

.orderBlogItemSecond {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.btnLearnDetails {
    box-sizing: border-box;

    width: 262px;
    height: 42px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.orderBlogClose {
    position: absolute;

    top: 6px;
    right: 6px;

    width: 22px;
    height: 22px;

    content: url('../../../../../../assets/iconXDefault_24x24.svg');

    cursor: pointer;
}

.btnLearnDetails:hover {
    color: #fff;
    background: #3b51f9;
}

.btnLearnDetails:active {
    color: #fff;
    background: #1026cf;
}

@media (width <= 1365px) {
    .mainPageInfo {
        width: calc(100vw - 80px - 355px - 36px);
    }
}
