.wrapCheckEmail {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.checkEmail {
    position: relative;

    margin: 0;
    padding: 0;

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.checkEmail::before {
    position: absolute;
    top: 45px;
    left: 69px;

    width: 141px;
    height: 141px;

    content: '';

    background-image: url('../../../../assets/imageOfAccessRights.png');
    background-size: cover;
}

.checkEmail h2 {
    width: 512px;
    height: 41px;
    margin: 50px 88px 9px 234px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.checkEmailParagraph {
    width: 512px;
    height: 48px;
    margin: 0 88px 34px 234px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.checkEmailParagraph span {
    font-weight: 700;
}

.checkEmailBlock {
    display: flex;

    margin: 0 0 56px 234px;
    padding: 0;
}

.btnCheckEmail {
    box-sizing: border-box;

    width: 115px;
    height: 42px;
    margin: 0;

    margin-right: 40px;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnCheckEmail:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnCheckEmail:active {
    background: #1026cf;
}

.btnCheckEmail:disabled {
    background: #babee6;
}

.checkEmailItem {
    margin: 0;
    padding: 0;
    padding-top: 10px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.checkEmail a {
    margin: 0;
    margin-left: 8px;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.checkEmail a:hover {
    color: #3b51f9;
}

.checkEmail a:active {
    color: #1026cf;
}

.checkEmail a:disabled {
    color: #9093ae;
}

/* Mobile screen */

@media (min-width: 320px) and (max-width: 428px) {
    .wrapRecoveryPassword {
        justify-content: unset;
        align-items: unset;
    }

    .wrapCheckEmail {
        justify-content: unset;
        align-items: unset;
    }

    .wrapCheckEmail::before {
        opacity: 0;
    }

    .checkEmail {
        width: 100%;
    }

    .checkEmail::before {
        opacity: 0;
    }

    .checkEmail h2 {
        position: relative;

        width: 288px;

        margin: 201px auto 15px;
        padding: 0;

        font-size: 20px;
        line-height: 24px;
    }

    .checkEmail h2::before {
        position: absolute;
        bottom: 153px;
        left: 0;

        width: 90px;
        height: 30px;

        content: url('../../../../assets/bigLogo.svg');
    }

    .checkEmailParagraph {
        width: 288px;
        height: 60px;

        margin: 0 auto 24px;
        padding: 0;

        font-size: 14px;
        line-height: 20px;
    }

    .btnCheckEmail {
        width: 288px;
        margin: 0;
    }

    .checkEmailBlock {
        display: flex;
        flex-direction: column;

        width: 288px;
        margin: 0 auto;
    }

    .checkEmailItem {
        display: none;
    }
}
