body {
    background: #f7f7f9;
}

.wrapConfirmEmail {
    position: fixed;

    inset: 0;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.confirmEmailContainer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.confirmEmail {
    position: relative;

    margin: 0;
    padding: 0;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.confirmEmail::before {
    position: absolute;
    top: 45px;
    left: 69px;

    width: 141px;
    height: 141px;

    content: '';

    background-image: url('../../../../assets/imageOfAccessRights.png');
    background-size: cover;
}

.confirmEmail h2 {
    width: 512px;
    height: 31px;
    margin: 50px 88px 18px 235px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.confirmEmailText {
    width: 512px;
    margin: 0 88px 34px 235px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.confirmEmailText span {
    font-weight: 700;
}

.confirmEmailItem {
    display: flex;
}

.btnOk {
    box-sizing: border-box;

    width: 240px;
    height: 42px;
    margin: 0 0 56px 235px;
    padding: 0;

    cursor: pointer;

    color: #fff;

    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnOk:hover:not(:disabled) {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnOk:active {
    background: #1026cf;
}

.btnOk:disabled {
    cursor: auto;

    background: #babee6;
}

.confirmEmailQuestion {
    margin: 0;
    margin-left: 32px;
    padding: 0;
    padding-top: 10px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.confirmEmailQuestion a {
    margin: 0;
    margin-left: 8px;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.confirmEmailQuestion a:hover {
    color: #3b51f9;
}

.confirmEmailQuestion a:active {
    color: #1026cf;
}

/* Mobile screen */

@media (width >= 320px) and (width <= 428px) {
    .confirmEmailContainer {
        justify-content: unset;
        align-items: unset;
    }

    .wrapConfirmEmail {
        justify-content: unset;
        align-items: unset;
    }

    .confirmEmail {
        width: 100%;
    }

    .confirmEmail::before {
        opacity: 0;
    }

    .confirmEmail h2 {
        position: relative;

        width: 288px;

        margin: 192px auto 15px;
        padding: 0;

        font-size: 20px;
        line-height: 24px;
    }

    .confirmEmail h2::before {
        position: absolute;
        bottom: 144px;
        left: 0;

        width: 90px;
        height: 30px;

        content: url('../../../../assets/bigLogo.svg');
    }

    .confirmEmailText {
        width: 288px;

        margin: 0 auto 24px;
        padding: 0;

        font-size: 14px;
        line-height: 20px;
    }

    .btnOk {
        width: 288px;
        margin: 0 auto;
    }

    .confirmEmailQuestion {
        display: none;
    }
}
