.wraperMobilePage {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background: #e5e5e5;
}

.mobileSignIn {
    position: relative;

    width: 288px;
    height: 30px;
    margin: 52px auto 0;
    padding: 0;

    text-align: right;
}

.mobileSignIn a {
    margin: 0;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.mobileSignIn::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 90px;
    height: 30px;

    content: url('../../../../assets/bigLogo.svg');
}

.mobilePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 288px;
    margin: 0 auto;
    padding: 0;

    flex: 1;
}

.mobilePage img {
    margin-bottom: 27px;
}

.mobilePage h2 {
    width: 288px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.mobilePage p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.mobilePage p span {
    font-weight: bold;
}

.mobileBtn {
    width: 288px;
    height: 42px;
    margin: 22px auto 0;
    padding: 10px 20px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.mobileBtn:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.mobileBtn:active {
    background: #1026cf;
}

@media (min-width: 429px) and (max-width: 1023px) {
    .mobileSignIn,
    .mobilePage,
    .mobilePage h2,
    .mobileBtn {
        width: 328px;
    }
}
