.btnClose {
    width: 172px;
    height: 42px;

    margin: 0;
    padding: 0;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;

    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnClose:hover {
    cursor: pointer;

    color: #fff;
    background: #5f71ff;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnClose:active {
    color: #fff;
    background: #1026cf;
}

.btnClose:disabled:not([hover]){
    cursor: auto;

    color: #9093AE;
    border: 1px solid #BABEE5;
    background: none;
    box-shadow: none;
}
