.circleButton {
    display: inline-block;

    width: 24px;
    height: 24px;

    margin: 0;
    padding: 0;

    border: none;
    background: none;
}

.circleButton svg {
    stroke: #9093ae;
}

.circleButton:hover svg {
    cursor: pointer;

    stroke: #3b51f9;
}

.circleButton.disabled svg {
    cursor: auto;

    stroke: #d9dae4;
}

.circleButton:active:not(.disabled) .circleIcon,
.circleButton.active:not(.disabled) .circleIcon {
    display: none;
}

.checkIcon {
    display: none;
}

.circleButton:active:not(.disabled) .checkIcon,
.circleButton.active:not(.disabled) .checkIcon {
    display: block;
}
