.slider {
    position: relative;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    /* width: 1045px; */

    /* margin: 127px auto; */
}

.sliderList {
    margin: 0 auto;
    padding: 0;
}

.textSlider {
    position: absolute;
    top: 0;

    overflow: hidden;

    /* width: 886px; */
    margin: 0;
    padding: 12px 35px 12px 30px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;

    background: rgb(10 12 22 / 60%);

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

/* Вперед и назад кнопки */
.prev,
.next {
    position: absolute;

    top: 50%;

    width: 22px;
    height: 22px;

    margin: 0;
    padding: 10px;

    cursor: pointer;

    border-radius: 50%;

    background: rgb(255 255 255 / 40%);
}

.prev {
    left: 0;

    content: url('../../../../assets/caretLeftSlider22x22.svg');
}

.next {
    right: 0;

    content: url('../../../../assets/caretRightSlider22x22.svg');
}

.prev:hover,
.next:hover {
    background: rgb(192 193 201 / 59%);
}

.iconXwhite {
    position: absolute;

    top: 12px;

    content: url('../../../../assets/iconX_white.svg');
}

.iconXwhite:hover {
    cursor: pointer;
}

.contentImage {
    object-fit: cover;
}
