.outerContainer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;

    margin: 0;
    padding: 45px 88px;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195/6%)
}

.imgContainer {
    height: 154px;

    margin: 0 0 25px;
    padding: 0;

    border-radius: 6px;

    background: #f2f3f5;
    background-image: url('../../../../assets/tvBox.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    display: flex;
    flex-direction: column;

    width: 624px;
    height: 41px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
    justify-content: center;
    flex-shrink: 0;
}

.titleItem {
    display: flex;
    flex-direction: column;

    width: 615px;
    height: 41px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    justify-content: center;
    flex-shrink: 0;
}

.titleItem1 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.titleItem2 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.titleItem3 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.telegramBotLink,
.menuNavigationFeedBackLink {
    margin: 0;
    padding: 0;

    color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.actionContainer {
    display: flex;
    justify-content: flex-end;

    margin: 0;
    margin-top: 32px;
    padding: 0;
}

.btnClose {
    width: 230px;
    height: 42px;

    margin: 0;
    padding: 0;

    border-radius: 6px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnClose {
    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    background: transparent;
}

.btnClose:hover {
    cursor: pointer;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnClose:hover {
    color: #fff;
    background: #5f71ff;
}

.btnClose:active {
    background: #1026cf;
}




