.modalPopupExitMode {
    position: fixed;

    top: 50%;
    left: 50%;

    width: calc(360px + 88px);

    margin: auto;
    padding: 66px 0 56px 88px;

    transform: translate(-50%, -50%);

    border-radius: 8px;
    background: #fff;
}

.modalPopupExitMode h2 {
    margin: 0 0 19px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.modalPopupExitMode p {
    width: 360px;
    height: 48px;
    margin: 0 0 34px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.fieldButtons {
    display: flex;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.btnExitMode {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 172px;
    height: 42px;

    margin: 0;
    padding: 0;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #f92424;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnExitMode img {
    margin-right: 12px;

    content: url('../../../../assets/signOutWhite.svg');
}

.btnExitMode:hover {
    cursor: pointer;

    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.btnExitMode:active {
    background: #e41d1d;
}

.btnExitMode:disabled {
    cursor: auto;

    background: #ffaeae;
    box-shadow: none;
}

.btnCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;

    padding: 0;

    cursor: pointer;

    color: #1f36e5;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnCancel:hover {
    color: #fff;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnCancel:active {
    color: #fff;
    background: #1026cf;
}

.btnCancel:disabled {
    box-sizing: border-box;

    color: #9093ae;

    border: 1.2px solid #babee6;
}
