body {
    background: #f7f7f9;
}

.wrapConfirmEmail {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.confirmEmail {
    position: relative;

    margin: 0;
    padding: 0;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.confirmEmail::before {
    position: absolute;
    top: 50px;
    left: 70px;

    width: 114px;
    height: 114px;

    content: '';

    background-image: url('../../../../assets/imageB-test.png');
    background-size: cover;
}

.confirmEmail h2 {
    width: 512px;
    margin: 50px 88px 19px 212px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.confirmEmailText {
    width: 512px;
    margin: 0 88px 34px 212px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.btnOk {
    position: relative;

    width: 115px;
    height: 42px;
    margin: 0;
    margin-bottom: 56px;
    margin-left: 212px;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnOk.enter {
    width: 227px;
}

.btnOk:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnOk:active {
    background: #1026cf;
}

.btnOk:disabled {
    background: #babee6;
}

/* Mobile screen */

@media (min-width: 320px) and (max-width: 428px) {
    .wrapConfirmEmail {
        justify-content: unset;
        align-items: unset;
    }

    .confirmEmail {
        width: 100%;
    }

    .confirmEmail::before {
        opacity: 0;
    }

    .confirmEmail h2 {
        position: relative;

        width: 288px;

        margin: 212px auto 15px;
        padding: 0;

        font-size: 20px;
        line-height: 24px;
    }

    .confirmEmail h2::before {
        position: absolute;
        bottom: 153px;
        left: 0;

        width: 90px;
        height: 30px;

        content: url('../../../../assets/bigLogo.svg');
    }

    .confirmEmailText {
        width: 288px;
        height: 40px;

        margin: 0 auto 24px;
        padding: 0;

        font-size: 14px;
        line-height: 20px;
    }

    .fieldBtnOk {
        width: 288px;
        margin: 0 auto;
    }

    .btnOk {
        width: 288px;
        margin: 0 auto;
    }
}
