.mb-5 {
    margin-bottom: 1.25rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.h-screen {
    overflow: hidden scroll;

    height: 83vh;
}

.h-screen.isModal {
    height: 50vh;
}

.h-screen::-webkit-scrollbar {
    width: 6px;
}

.h-screen::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background: #dddfee;
}

.w-full {
    width: 100%;
}

.cursor-default {
    cursor: default;
}

.select-none {
    user-select: none;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
    flex-direction: column;
}

.gap-3 {
    gap: 0.75rem;
}

.overflow-hidden {
    overflow: hidden;
}

.truncate {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.border {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-blue-600 {
    --tw-border-opacity: 1;

    border-color: rgb(37 99 235 / var(--tw-border-opacity));
}

.border-transparent {
    border-color: transparent;
}

.bg-slate-50 {
    --tw-bg-opacity: 1;

    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-10 {
    padding: 1.5rem;
}

.p-5 {
    padding: 1.25rem;
}

.px-5 {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-blue-600 {
    --tw-text-opacity: 1;

    color: rgb(37 99 235 / var(--tw-text-opacity));
}

.ring-2 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-blue-100 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(219 234 254 / var(--tw-ring-opacity));
}

