.startPlaylistModal {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: calc(636px - 88px);
    height: 282px;
    margin: auto;
    padding: 0 0 0 88px;

    border-radius: 8px;
    background: #fff;
}

.startPlaylistModal h2 {
    margin: 38px 0 19px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.startPlaylistModal p {
    width: 459px;

    margin: 0;
    margin-bottom: 32px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.btnSendToScreens {
    width: 221px;
    height: 46px;

    margin: 0;
    padding: 0;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnEdit {
    box-sizing: border-box;

    width: 221px;
    height: 46px;
    margin: 0 16px 0 0;
    padding: 0;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSendToScreens:hover,
.btnEdit:hover {
    cursor: pointer;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnSendToScreens:active,
.btnEdit:active {
    background: #1026cf;
}

.btnSendToScreens:disabled {
    cursor: auto;

    color: #fff;

    background: #babee6;
    box-shadow: none;
}

.btnEdit:hover,
.btnEdit:active {
    color: #fff;
}

.btnEdit:disabled {
    box-sizing: border-box;

    cursor: auto;

    color: #9093ae;

    border: 1.2px solid #babee6;
}
