.chipCard {
    display: inline-block;

    box-sizing: border-box;

    margin-right: 8px;
    padding: 0 4px 1px;

    text-align: center;

    color: #6c6e82;

    border: .6px solid #6c6e82;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.chipPending {
    color: darkorange;
    border-color: darkorange;
}

.chipActive {
    color: #18c55d;
    border-color: #18c55d;
}
