.privacyPolicyContainer {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 948px;
    height: 920px;
    margin: auto;
    padding: 0;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.iconX {
    position: absolute;
    top: 32px;
    right: 33px;

    width: 22px;
    height: 22px;

    content: url('../../../../assets/iconX.svg');

    cursor: pointer;
}

.privacyPolicyContainerText {
    overflow-y: scroll;

    width: 772px;
    height: 739px;
    margin-top: 45px;
    padding: 0 88px;
}

.privacyPolicyContainerText::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.privacyPolicyContainerText::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.privacyPolicyContainerText h2 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.privacyPolicyContainerText h3 {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.privacyPolicyContainerText p {
    margin: 0;
    padding: 0;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.privacyPolicyContainerFieldBtn {
    width: 948px;
    height: 136px;

    box-shadow: 0 -20px 20px -7px rgb(166 167 195 / 13%);
}

.privacyPolicyContainerBtnAccept {
    width: 172px;
    height: 42px;
    margin: 0;
    margin-top: 40px;
    margin-right: 16px;
    margin-left: 299px;
    padding: 0;

    cursor: pointer;

    color: #fff;

    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.privacyPolicyContainerBtnAccept:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.privacyPolicyContainerBtnAccept:active {
    background: #1026cf;
}

.privacyPolicyContainerBtnAccept:disabled {
    background: #babee6;
}

.privacyPolicyContainerBtnNotAccept {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.privacyPolicyContainerBtnNotAccept:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.privacyPolicyContainerBtnNotAccept:active {
    color: #fff;
    background: #1026cf;
}

.privacyPolicyContainerBtnNotAccept:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
}

@media (max-width: 1536px) {
    .privacyPolicyContainer {
        height: 704px;
    }

    .privacyPolicyContainerText {
        height: 522px;
    }
}

@media (max-width: 1366px) {
    .privacyPolicyContainer {
        height: 608px;
    }

    .privacyPolicyContainerText {
        height: 426px;
    }
}
