.wrapRecoveryPassword {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.recoveryPassword {
    position: relative;

    margin: 0;
    padding: 0;

    border-radius: 8px;
    background: #fff;

    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.recoveryPassword::before {
    position: absolute;
    top: 45px;
    left: 69px;

    width: 141px;
    height: 141px;

    content: '';

    background-image: url('../../../../assets/imageOfAccessRights.png');
    background-size: cover;
}

.iconX {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 22px;
    height: 22px;

    content: url('../../../../assets/iconX.svg');

    cursor: pointer;
}

.recoveryPassword h2 {
    width: 512px;
    height: 41px;
    margin: 50px 84px 8px 234px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.recoveryPasswordParagraph {
    width: 512px;
    height: 48px;
    margin: 0 84px 34px 234px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

input {
    outline: none;
}

.recoveryEmail {
    box-sizing: border-box;
    width: 300px;
    height: 42px;

    margin: 0 8px 0 0;
    padding: 10px 42px 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.emailInputError {
    margin-bottom: 5px;

    border: 1px solid #f92424;

    background-image: url('../../../../assets/iconWarning.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.recoveryEmail:hover {
    border: 1px solid #bec1d2;
}

.recoveryEmail:active,
.recoveryEmail:focus {
    border: 1px solid #566dec;
}

.recoveryEmail.valid {
    border: 1px solid #18c55d;
    background-image: url('../../../../assets/iconCheckGreen.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.errorEmail {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.btnGetLink {
    width: 200px;
    height: 42px;
    margin: 0;
    padding: 0;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnGetLink:hover {
    cursor: pointer;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnGetLink:active {
    background: #1026cf;
}

.btnGetLink:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

.fieldEmailRecovery {
    display: flex;

    width: 512px;
    height: 62px;

    margin: 0 0 22px 234px;
    padding: 0;
}

.recoveryPasswordItem {
    margin: 0;
    margin-bottom: 50px;
    margin-left: 234px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.recoveryPassword a {
    margin: 0;
    margin-left: 8px;
    padding: 0;

    letter-spacing: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.recoveryPassword a:hover {
    color: #3b51f9;
}

.recoveryPassword a:active {
    color: #1026cf;
}

.recoveryPassword a:disabled {
    color: #9093ae;
}

/* Mobile screen */

@media (min-width: 320px) and (max-width: 428px) {
    .wrapRecoveryPassword {
        justify-content: unset;
        align-items: unset;
    }

    .recoveryPassword::before,
    .iconX {
        opacity: 0;
    }

    .recoveryPassword {
        width: 100%;
    }

    .recoveryPassword h2 {
        position: relative;

        width: 288px;

        margin: 178px auto 15px;
        padding: 0;

        font-size: 20px;
        line-height: 24px;
    }

    .recoveryPassword h2::before {
        position: absolute;
        bottom: 130px;
        left: 0;

        width: 90px;
        height: 30px;

        content: url('../../../../assets/bigLogo.svg');
    }

    .recoveryPasswordParagraph {
        width: 288px;
        height: 40px;

        margin: 0 auto 24px;
        padding: 0;

        font-size: 14px;
        line-height: 20px;
    }

    .fieldEmailRecovery {
        flex-direction: column;

        width: 288px;
        height: unset;
        margin: 0 auto;
    }

    .recoveryEmail {
        width: 288px;
        margin: 0;
    }

    .btnGetLink {
        width: 288px;
    }

    .errorEmail {
        margin-bottom: 20px;
    }

    .recoveryPasswordItem {
        display: none;
    }
}
