.PhoneInput {
    box-sizing: border-box;

    height: 42px;

    padding: 10px 42px 10px 20px;

    border: 1px solid #dddfee;
    border-radius: 6px;
}

.PhoneInput input {
    border: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.PhoneInput.error {
    color: #6c6e82;

    border: 1px solid #f92424;
}

.PhoneInput:hover {
    border: 1px solid #bec1d2;
}

.PhoneInput:active,
.PhoneInput:focus-within {
    border: 1px solid #566dec;
}

.PhoneInput.valid:not(:focus-within) {
    border: 1px solid #18c55d;
    background-image: url('../../assets/iconCheckGreen.svg');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.PhoneInput.iconWarning {
    background-image: url('../../assets/iconWarning.svg');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}
