.blockDays {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 0;
    padding: 3px 0;

    border-bottom: #dddfee 1px solid;
}

.itemDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 2px 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;

    flex: 1 1 0;
}
