.containerVerticalTrigger {
    display: flex;
    gap: 20px;
}

.wrapperTriggerScript {
    display: flex;

    margin: 0;
    padding: 0;
}

.triggerScriptTimeItem {
    position: relative;

    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.wrapperTriggerComponentImg {
    width: 30px;
    height: 30px;

    margin: 0;
    padding: 0;
}

.wrapperTriggerComponentImg img,
.wrapperTriggerComponentImg video,
.wrapperTriggerComponentImg iframe {
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

img.fiveSecondsSize,
video.fiveSecondsSize,
iframe.fiveSecondsSize {
    width: 30px;
    height: 30px;
}

.wrapperTriggerComponentText {
    width: 100%;

    margin: 0;
    padding: 0;
}

.wrapperTriggerComponentItem {
    position: relative;

    display: flex;
    align-items: center;
    gap: 6px;

    box-sizing: border-box;

    width: 400px;
    height: 42px;

    margin: 0;
    padding: 5px 6px;

    cursor: pointer;

    border: 1px solid #9093ae;
    border-radius: 6px;

    background: #d9dae4;
}

.wrapperTriggerComponentItem:active,
.wrapperTriggerComponentItem:focus,
.wrapperTriggerComponentItem.active {
    border: 1px solid #3b51f9;
}
