.mainPlaylists {
    display: flex;

    width: 100%;

    background: #f7f7f9;
}

.centerBlockPlaylist {
    display: flex;
    flex-direction: column;
    gap: 37px;

    width: 100%;

    /* width: calc(100% - 340px); */
    margin: 0;
    padding: 0;
}

.mainBlockScreen {
    display: flex;
    justify-content: flex-end;

    margin: 32px 24px 0 0;
    padding: 0;
}

.btnBlockScreen {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 216px; */
    min-width: 180px;
    height: 42px;
    margin: 0;
    padding: 0 24px 0 16px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.fieldPlaylistCardStatusCaption {
    margin: 7px 0 16px;
    padding: 0;
}

.btnBlockScreen svg {
    margin-right: 12px;

    stroke: white;
}

.btnBlockScreen:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnBlockScreen:active {
    background: #1026cf;
}

.btnBlockScreen:disabled {
    cursor: auto;

    background: #babee6;

    box-shadow: none;
}

.mainPlaylistsPage {
    display: flex;
}

.mainPlaylistBlocks {
    display: flex;

    width: 100%;
}

.playlistCards {
    position: relative;

    width: 100%;

    margin: 0;
    padding: 0;
}

.playlistCards h2,
.contentPlaylist h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.wrapperPlaylistCards {
    overflow-y: scroll;

    height: calc(100vh - 72px - 32px - 50px);

    margin: 0 2px 0 0;
    padding: 3px 20px 20px 24px;
}

.playlistCard {
    position: relative;

    box-sizing: border-box;

    width: 100%;

    /* height: 146px; */

    /* margin: 0 0 16px;
    padding: 8px 6px 13px 8px; */
    margin: 0 0 12px;
    padding: 8px;

    border: 1px solid transparent;
    border-radius: 6px;

    background: #fff;
}

.wrapPlaylistCard {
    display: flex;

    /* margin: 0 0 21px;
    padding: 0; */
    margin: 0;
    padding: 0;
}

.fieldPlaylistCardImg {
    width: 80px;
    height: 80px;

    /* margin: 0 16px 0 0; */
    margin: 0 8px 0 0;
    padding: 0;
}

.wrapContentPlaylistItem {
    margin: 0 10px 10px 0;
    padding: 3px;
}

.wrapContentPlaylistItem1 {
    margin: 0;
    padding: 0;

    border-radius: 6px;

    background: #fff;
}

.wrapperVideoCart {
    position: relative;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.wrapperVideoCart::before {
    position: absolute;

    z-index: 2;

    top: 0;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';

    border-radius: 6px 6px 0 0;
    background: #19191b;
}

.wrapperVideoCart::after {
    position: absolute;

    z-index: 2;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';

    background: #19191b;
}

.contentPlaylistItem {
    position: relative;

    /* box-sizing: border-box; */
    height: auto;

    margin: 0;
    padding: 0;

    border: 1px solid transparent;

    border-radius: 6px;
}

li.contentPlaylistItem.disabled {
    pointer-events: none;

    opacity: 0.5;

    box-shadow: none;
}

.overlayTrash {
    position: absolute;
    top: 8px;
    left: 8px;

    content: url('../../assets/iconTrash_22x22.svg');

    opacity: 0;
}

.overlayTrash:hover {
    content: url('../../assets/iconTrashHover_22x22.svg');
}

.overlayCheckCircle {
    position: absolute;
    top: 8px;
    right: 8px;

    opacity: 0;
}

.overlayCheckCircle svg {
    stroke: white;
}

.overlayCheckCircleActive {
    z-index: 3;

    opacity: 1;
}

.overlayScreen {
    position: absolute;

    bottom: 35%;
    left: 8px;

    width: 18px;
    height: 13px;

    transform: rotate(90deg);

    opacity: 0;

    border: 1.2px solid #fff;
    border-radius: 2px;
}

.overlayScreen.square {
    width: 13px;
}

.overlayScreen.horizontal {
    transform: none;
}

.overlayScreenResolution {
    position: absolute;

    bottom: 35%;
    left: 36px;

    height: 13px;

    opacity: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
}

.contentPlaylistItem.show .overlayCheckCircle,
.contentPlaylistItem.show .overlayScreen,
.contentPlaylistItem.show .overlayScreenResolution,
.contentPlaylistItem:hover .overlayTrash,
.contentPlaylistItem:hover .overlayCheckCircle,
.contentPlaylistItem:hover .overlayScreen,
.contentPlaylistItem:hover .overlayScreenResolution {
    z-index: 3;

    opacity: 1;
}

.contentPlaylistItem .blackoutOverlay {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 70%;

    transition: 0.3s ease;

    opacity: 0;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background: rgb(15 16 31 / 40%);
}

.contentPlaylistItem:hover .blackoutOverlay {
    opacity: 1;
}

.contentPlaylistItem:hover .blackoutOverlay.disabled {
    transition: none;
}

.playlistCard.active,
.contentPlaylistItem.active,
.playlistCard.active:hover,
.contentPlaylistItem.active:hover {
    border: 1px solid #3b51f9;
    box-shadow: 0 0 0 3px #c1c8fd;
}

.contentPlaylistItem.active:hover .blackoutOverlay {
    opacity: 0;
}

.playlistCard.active.activePlaylistItem {
    border: none;
}

.playlistCard:hover,
.contentPlaylistItem:hover {
    box-shadow: 2px 18px 28px rgb(166 171 195 / 19%);
}

.contentPlaylistItem.disabled:hover {
    box-sizing: initial;

    /* border: none; */
}

/* .playlistCard::before {
    position: absolute;
    top: 99px;
    left: 8px;

    width: calc(100% - 16px);
    height: 1px;

    content: '';

    background: #f2f3f5;
} */

.playlistCardImage {
    width: 80px;
    height: 80px;

    /* margin: 0 16px 0 8px;
    padding: 0;
    padding-bottom: 8px; */
    margin: 0;
    padding: 0;

    border-radius: 4px;
}

.playlistCardImage.withPicture {
    object-fit: cover;

    /* width: 80px;
    height: 80px; */
    margin: 0;
    padding: 0;

    border-radius: 4px;
}

.playlistCardStatus {
    /* width: calc(100% - 80px - 40px);
    min-width: 176px;
    margin: 0;
    padding: 0; */
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    min-width: 176px;
    margin: 0;
    padding: 0;
}

.playlistCardHeader {
    display: flex;
    gap: 15px;
}

.playlistCardStatusCaption {
    display: inline-block;

    box-sizing: border-box;

    margin: 0;
    padding: 0 4px 1px;

    text-align: center;

    color: #6c6e82;

    border: 0.6px solid #6c6e82;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.playlistCardStatusCaptionActive {
    color: #18c55d;
    border-color: #18c55d;
}

.playlistCardStatusCaptionError {
    color: #f92424;
    border-color: #f92424;
}

.playlistCardStatusCaptionUploading {
    color: #937200;
    border-color: #937200;
}

.playlistCardLoad {
    box-sizing: border-box;

    width: 95px;
    height: 18px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    text-align: center;

    color: #3b51f9;
    border: 0.6px solid #3b51f9;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.playlistCardName {
    overflow: hidden;

    width: 100%;
    height: 34px;

    margin: 0;
    padding: 8px 0 0;

    /* margin: 0;
    margin-bottom: 5px;
    padding: 0; */
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.descriptionPlaylistCard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 22px;
}

.fieldPlaylistCardGenerated {
    display: flex;
}

.playlistCardGenerated {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.playlistCardStatistics {
    position: relative;

    display: flex;
    gap: 20px;

    margin: 0;
    padding: 0;

    /* display: flex;
    margin: 0;
    margin-left: 5px;
    padding: 0; */
}

.wrapPlaylistCardStatistics {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    /* margin: 0 20px 0 0;
    padding: 0; */
}

.wrapPlaylistCardStatistics img {
    margin-right: 8px;
}

.playlistCardStatisticsItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.iconYoutubeStatistics {
    position: relative;
}

.iconYoutubeStatistics::before {
    position: absolute;

    top: -3px;
    right: 16px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconYoutube.svg');
}

.contentPlaylist {
    position: relative;

    width: 100%;

    margin: 0;
    padding: 0;
}

.contentSelectAll {
    display: flex;
    justify-content: space-between;

    margin: 0 0 9px;
    padding: 0 33px 0 20px;
}

.wrapMainRightMenu,
.wrapMainRightMenu_1 {
    overflow-y: scroll;

    box-sizing: border-box;
    width: 340px;
    height: calc(100vh - 72px - 122px);

    /* margin-left: 24px; */
    margin: 0 2px 0 0;
    padding: 0 0 0 24px;

    flex: 1 0 auto;
}

.containerTabs {
    display: flex;
    gap: 4px;

    margin-bottom: 20px;
}

.btnTab {
    width: 144px;
    height: 24px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #101431;

    border: none;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;
}

.btnTab:not(.btnTabActive):hover {
    color: #3b51f9;
}

.btnTabActive {
    border-radius: 4px;
    background: #ebeefd;
}

.containerHistoryDescription {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 20px;
}

.historyDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 34px;
}

.historyDescription p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;
}

.historyDescription p:first-child {
    color: #6c6e82;
}

.contentPlaylist::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: calc(100vh - 72px - 32px - 79px);

    content: '';

    background: #dddfee;
}

.contentPlaylistImages {
    overflow-y: scroll;

    height: calc(100vh - 72px - 32px - 79px - 47px - 10px);

    margin: 0 2px 0 0;
    padding: 0 0 0 20px;
}

.wrapperPlaylistCards::-webkit-scrollbar,
.contentPlaylistImages::-webkit-scrollbar,
.contentPlaylist::-webkit-scrollbar,
.wrapMainRightMenu::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapperPlaylistCards::-webkit-scrollbar-thumb,
.contentPlaylistImages::-webkit-scrollbar-thumb,
.contentPlaylist::-webkit-scrollbar-thumb,
.wrapMainRightMenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.contentPlaylistImage {
    display: flex;

    width: 100%;
    margin: 0;
    padding: 0;

    place-content: flex-start flex-start;

    flex-wrap: wrap;
}

.contentPlaylistImagesName {
    overflow: hidden;

    /* width: 110px; */
    margin: 0 8px 1px;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.mainRightMenu,
.mainRightMenuContent,
.mainRightMenuPlaylist {
    display: flex;
    flex-direction: column;

    width: 340px;
    margin: 0;
    padding: 0;

    background-color: #fff;
}

.mainRightMenuPlaylistEmpty {
    width: 340px;
    margin: 0;
    padding: 0;
}

.mainRightMenu h2,
.mainRightMenuContent h2,
.mainRightMenuPlaylist h2 {
    margin: 0;
    margin-top: 25px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
}

.mainRightMenu h2 {
    margin-bottom: 18px;
}

.mainRightMenuContent h2 {
    margin-bottom: 25px;
}

.mainRightMenuPlaylist h2 {
    margin-bottom: 20px;
}

.mainRightMenuPlaylist h3 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.mainRightMenuPlaylist p {
    margin: 0;
    margin-top: -5px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.mainRightMenuPlaylist span {
    color: #101431;

    font-weight: 400;
}

.mainRightMenu .playlistCardStatusCaption {
    margin-top: 0;
    margin-bottom: 12px;
}

.mainRightMenu img,
.mainRightMenuContent img {
    margin: 0;
    padding: 0;

    border-radius: 6px;
}

.mainRightMenu img {
    margin-bottom: 15px;
}

.mainRightMenuContent img {
    margin-bottom: 17px;
}

.mainRightMenu label,
.mainRightMenuContent label {
    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.rightMenuNamePlaylist,
.rightMenuNameContent {
    display: inline-block;

    box-sizing: border-box;
    width: 292px;
    margin: 9px 0 24px;

    /* height: 22px; */
    padding: 9px 42px 9px 20px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;
    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.rightMenuNameContent {
    margin-bottom: 28px;
}

.rightMenuNamePlaylist:hover,
.rightMenuNameContent:hover {
    border: 1px solid #bec1d2;
}

.rightMenuNamePlaylist:active,
.rightMenuNamePlaylist:focus,
.rightMenuNameContent:active,
.rightMenuNameContent:focus {
    border: 1px solid #566dec;
}

.btnPlaylist {
    box-sizing: border-box;

    width: 292px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    border: none;
    border-radius: 6px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.editPlaylist {
    position: relative;

    display: flex;
    justify-content: center;

    margin-bottom: 28px;
    padding: 9px 0;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    background-color: #fff;
}

.editPlaylist:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.editPlaylist:active {
    color: #fff;
    background: #1026cf;
}

.editPlaylist:disabled,
.editPlaylist:disabled:hover {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
    background-color: #fff;
    box-shadow: none;
}

.deletePlaylist {
    position: relative;

    display: flex;
    justify-content: center;

    margin: 0;
    margin-bottom: 28px;
    padding: 9px 0;

    color: #f92424;
    border: 1.2px solid #ff7171;
    background-color: #fff;
}

.mainRightMenuPlaylist .deletePlaylist {
    margin-bottom: 28px;
}

.editPlaylist img {
    margin-right: 12px;

    content: url('../../assets/iconEditPlaylist.svg');
}

.deletePlaylist img {
    margin-right: 12px;

    content: url('../../assets/iconDeletePlaylist.svg');
}

.editPlaylist:hover img {
    content: url('../../assets/iconEditPlaylistWhite.svg');
}

.deletePlaylist:hover img {
    content: url('../../assets/iconTrash_22x22.svg');
}

.editPlaylist:disabled:not([hover]) img {
    content: url('../../assets/iconEditPlaylistDisabled.svg');
}

.deletePlaylist:disabled:not([hover]) img {
    content: url('../../assets/iconTrashDisabled_22x22.svg');
}

.deletePlaylist:active {
    color: #fff;
    background: #e41d1d;
}

.deletePlaylist:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
}

.deletePlaylist:hover:not([disabled]) {
    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.saveSettings {
    color: #fff;
    background: #1f36e5;
}

.saveSettings:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.deselect {
    box-sizing: border-box;

    margin-top: 20px;
    margin-left: 24px;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    background: #fff;
}

.deselect:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.saveSettings:active,
.deselect:active {
    background: #1026cf;
}

.saveSettings:disabled,
.deselect:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

.wrapperFieldBtn {
    width: 340px;
    height: 86px;

    background: #fff;

    box-shadow: 0 0 20px rgb(166 167 195 / 20%);
    flex-shrink: 0;
}

.playlistPointsSale {
    display: flex;
    justify-content: space-between;

    margin: 0 0 9px;
    padding: 0 37px 0 24px;
}

.selectButton {
    display: none;
}

.playlistCard:hover .selectButton,
.playlistCard .selectButton.active {
    display: block;
}

/* Popup window delete playlist or content */

.popup {
    position: fixed;
    inset: 0;

    visibility: hidden;

    opacity: 0;

    background: rgb(15 16 31 / 51%);
}

.popup:target {
    visibility: visible;

    opacity: 1;
}

.popupDeletePlaylist {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 280px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupDeletePlaylist .btnCancel {
    position: relative;
}

.popupAddPlaylist {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 310px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.modalDeleteContent {
    /* position: fixed; */
    position: absolute;
    z-index: 3;
    top: 75%;

    left: 50%;

    display: none;

    width: 536px;
    height: 280px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupDeletePlaylist h2,
.popupAddPlaylist h2,
.modalDeleteContent h2 {
    margin: 0;

    margin-bottom: 19px;
    padding: 0;

    padding-top: 50px;
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupAddPlaylist h2 {
    margin-bottom: 23px;
}

.popupDeletePlaylist p,
.modalDeleteContent p {
    /* width: 360px; */
    height: 48px;
    margin: 0;
    margin-bottom: 34px;
    padding: 0;

    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.buttonDelete {
    position: relative;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 10px 41px 10px 73px;

    cursor: pointer;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #f92424;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonDelete::before {
    position: absolute;

    top: 10px;
    left: 39px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconTrash_22x22.svg');
}

.buttonDelete:hover {
    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.buttonDelete:active {
    color: #fff;
    background: #e41d1d;
}

.buttonDelete:disabled {
    cursor: auto;

    background: #ffaeae;
    box-shadow: none;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
}

.popupAddPlaylist label {
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.enterNamePlaylist {
    box-sizing: border-box;

    width: 360px;
    height: 42px;
    margin-top: 9px;
    margin-bottom: 40px;
    margin-left: 88px;
    padding: 9px 42px 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.enterNamePlaylist:hover {
    border: 1px solid #bec1d2;
}

.enterNamePlaylist:active,
.enterNamePlaylist:focus {
    border: 1px solid #566dec;
}

/*
.enterNamePlaylist:valid {
    border: 1px solid #18c55d;
}

.enterNamePlaylist:invalid {
    border: 1px solid #f92424;
}
*/

.containerBtn {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.buttonCreate {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCreate:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCreate:active {
    background: #1026cf;
}

.buttonCreate:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

.playlistEmpty {
    width: 260px;

    margin: 179px auto 0;
    padding: 0;
}

.playlistEmpty1,
.playlistEmpty2 {
    margin: 0;
    padding: 0;

    text-align: center;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.playlistEmpty a {
    color: #3b51f9;
}

.playlistItemImageRightMenu,
.playlistFirstImageRightMenu {
    margin-bottom: 20px;

    border-radius: 6px 6px 0 0;
    object-fit: cover;
}

.wrapperVideo {
    position: relative;

    width: 292px;
    height: 164px;

    margin: 0 0 18px;
    padding: 0;
}

.wrapperVideo video {
    border-radius: 6px;
}

.wrapperVideo::before {
    position: absolute;

    z-index: 2;

    top: 0;
    left: 0;

    width: 292px;
    height: 24px;

    content: '';

    border-radius: 6px 6px 0 0;
    background: #19191b;
}

.wrapperVideo::after {
    position: absolute;

    z-index: 2;

    bottom: 0;
    left: 0;

    width: 292px;
    height: 24px;

    content: '';

    border-radius: 0 0 6px 6px;
    background: #19191b;
}

.playlistVideoRightMenuIcon {
    position: absolute;

    z-index: 1000;

    top: 46px;
    left: 110px;

    width: 72px;
    height: 72px;

    border: none;

    border-radius: 50%;

    background: rgb(192 193 201 / 59%);
}

.playlistVideoRightMenuIcon::before {
    position: absolute;

    z-index: 1000;

    top: 26px;
    left: 24px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconPlayWhite.svg');

    cursor: pointer;
}

.contentPlaylist .playlistItemImageRightMenu {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.contentPlaylistImagesTime {
    margin: 0;
    margin-left: 8px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.mainRightMenuInfo {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.mainRightMenuInfoItem {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.mainRightMenuInfoItemLast {
    margin-bottom: 24px;
}

.mainRightMenuInfoItem span,
.wrapMainRightMenuInfoAll span {
    color: #101431;
}

.wrapMainRightMenuInfoAll {
    position: relative;
}

.wrapMainRightMenuInfoAll h3 {
    margin: 0;
    padding: 0;

    /* color: #6c6e82; */
    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.wrapperInfo {
    position: relative;

    margin: 0 0 25px;
    padding: 0;
}

.iconArrowInfoUp::before {
    position: absolute;

    top: 0;
    right: 15px;

    content: url('../../assets/iconCaretUp.svg');

    cursor: pointer;
}

.iconArrowInfoDown::after {
    position: absolute;

    top: 0;
    right: 15px;

    content: url('../../assets/iconCaretDown.svg');

    cursor: pointer;
}

.mainRightMenuInfoAll {
    width: 292px;

    margin: 0;
    margin-bottom: 29px;
    padding: 0;

    border: none;

    outline: none;
}

.mainRightMenuInfoAll li {
    display: flex;
    justify-content: space-between;

    width: 292px;

    margin-top: 10px;
}

.mainRightMenuInfoAll p {
    overflow: hidden;

    width: 220px;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenuInfoAll a {
    margin: 0;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSaveSettingsField {
    width: 340px;
    height: 144px;
    margin: 0;
    padding: 0;

    background: #fff;
    box-shadow: 0 -20px 20px -7px rgb(166 167 195 / 13%);
}

.mainRightMenu .btnSaveSettingsField,
.mainRightMenuContent .btnSaveSettingsField {
    height: 86px;
}

.btnSaveSettingsField .saveSettings {
    margin-top: 20px;
    margin-left: 24px;
}

.wrapPlaylistItemImageRightMenu {
    height: 70%;

    margin: 0 0 7px;
    padding: 0;
}

.infoHeader {
    cursor: pointer;
    user-select: none;
}

.nonUserSelect {
    user-select: none;
}

/* .wrapPlaylistItemVideo {
    position: relative;
} */

/* .wrapPlaylistItemVideo::before {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 1;

    content: '';

    width: 100%;
    height: 24px;

    border-radius: 6px 6px 0px 0px;

    background: #19191b;
} */

/* .wrapPlaylistItemVideo::after {
    position: absolute;

    bottom: 0;
    left: 0;

    z-index: 1;

    content: '';

    width: 100%;
    height: 24px;

    border-radius: 0;

    background: #19191b;
} */

@media (width >= 1029px) and (width <= 1169px) {
    /* .playlistCards {
        width: 341px;
    } */

    /* .wrapperPlaylistCards {
        width: calc(341px - 24px - 20px);
    } */

    /* .playlistCard {
        width: 296px;
    } */

    .contentPlaylistItem {
        width: calc(((100vw - 80px - 375px - 340px) / 2) - 16px);
        height: calc((((100vw - 80px - 370px - 340px) / 2) - 16px) * 1.428);
    }
}

@media (width >= 1170px) and (width <= 1299px) {
    /* .playlistCards {
        width: 341px;
    } */

    /* .wrapperPlaylistCards {
        width: calc(341px - 24px - 20px);
    } */

    /* .playlistCard {
        width: 296px;
    } */

    .contentPlaylistItem {
        width: calc(((100vw - 80px - 375px - 340px) / 3) - 16px);
        height: calc((((100vw - 80px - 370px - 340px) / 3) - 16px) * 1.428);
    }
}

@media (width >= 1300px) and (width <= 1365px) {
    /* .playlistCards {
        width: 341px;
    } */

    /* .wrapperPlaylistCards {
        width: calc(341px - 24px - 20px);
    } */

    /* .playlistCard {
        width: 296px;
    } */

    .contentPlaylistItem {
        width: calc(((100vw - 80px - 378px - 340px) / 4) - 16px);
        height: calc((((100vw - 80px - 373px - 340px) / 4) - 16px) * 1.428);
    }
}

@media (width >= 1366px) and (width <= 1399px) {
    .contentPlaylistItem {
        width: calc(((100vw - 208px - 446px - 340px) / 3) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 3) - 16px) * 1.428);
    }
}

@media (width >= 1400px) and (width <= 1494px) {
    .contentPlaylistItem {
        width: calc(((100vw - 208px - 446px - 340px) / 3) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 3) - 16px) * 1.428);
    }
}

@media (width >= 1495px) and (width <= 1660px) {
    .contentPlaylistItem {
        width: calc(((100vw - 208px - 448px - 340px) / 4) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 4) - 16px) * 1.428);
    }
}

@media (width >= 1661px) and (width <= 1830px) {
    .contentPlaylistItem {
        width: calc(((100vw - 208px - 450px - 340px) / 5) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 5) - 16px) * 1.428);
    }
}

@media (width >= 1831px) and (width <= 1999px) {
    .contentPlaylistItem {
        width: calc(((100vw - 208px - 452px - 340px) / 6) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 6) - 16px) * 1.428);
    }
}

@media (width >= 2000px) {
    .contentPlaylistItem {
        width: calc(((100vw - 208px - 454px - 340px) / 7) - 16px);
        height: calc((((100vw - 208px - 440px - 340px) / 7) - 16px) * 1.428);
    }
}
