.containerInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 0 0 16px;
    padding: 10px;

    border-radius: 6px;
    background: lightgoldenrodyellow;
}

.containerInfo.limitReached {
    background: #f92424;
}

.containerInfoText {
    display: flex;
    gap: 4px;

    margin: 0;
    padding: 0;
}

.containerInfoText p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.containerInfoSvg {
    margin-right: 2px;
}

.closeButton {
    cursor: pointer;
}

.containerInfoBtn {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.btnLimit {
    width: 160px;
    height: 42px;

    margin: 0;
    padding: 0;

    color: #3b51f9;

    border-radius: 6px;
    border: 1.2px solid #5f71ff;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.btnLimit:hover {
    cursor: pointer;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnLimit:hover {
    color: #fff;
    background: #5f71ff;
}

.btnLimit:active {
    color: #fff;
    background: #1026cf;
}

.btnLimit:disabled:not([hover]) {
    cursor: auto;

    color: #9093ae;
    border: 1px solid #babee5;
    background: none;
    box-shadow: none;
}
