.addButton {
    width: 24px;
    height: 24px;

    margin: 0;
    padding: 0;

    border: none;
    background: none;
}

.addButton svg {
    stroke: #9093ae;
}

.addButton:hover svg {
    cursor: pointer;

    stroke: #3b51f9;
}

.addButton:disabled svg,
.addButton.disabled svg {
    cursor: auto;

    stroke: #9093ae;
}
