.uploadModal {
    position: relative;
    top: 50%;
    left: 50%;

    margin: 0;
    padding: 50px 40px 56px;

    transform: translate(-50%, -50%);

    border-radius: 8px;
    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.uploadModalView {
    position: relative;

    width: 100%;
    max-width: 800px;
}

.orderBlogClose {
    position: absolute;

    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    cursor: pointer;

    border: none;
    background: none;
    background-image: url('../../../../assets/iconXDefault_24x24.svg');
    background-repeat: no-repeat;
}

.containerTariff {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.fieldBtn {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.containerTariff h2 {
    margin: 0;
    padding: 0;

    color: #101431;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.containerTariff h3 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.fieldBtn h3 {
    margin-bottom: 16px;
}

.containerCardOnline {
    display: flex;
    gap: 16px;
}

.payContent {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 175px;
    height: 210px;
    margin: 0;
    padding: 20px;

    border-radius: 8px;
    border: 1.2px solid #5f71ff;
}

.payContent > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.payContent.legalEntities {
    width: 205px;
}

.sum {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 16px;
}

.quantity {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
}

.description {
    margin: 0;
    padding: 0;

    color: grey;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 14px;
}

.description span {
    font-weight: 600;
}

.inputTariffPlan {
    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;
    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.inputTariffPlan:hover {
    color: #101431;
    border: 1px solid #bec1d2;
}

.inputTariffPlan:active,
.inputTariffPlan:focus {
    color: #101431;
    border: 1px solid #566dec;
}

.btnDownloadContent {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 100%;
    height: 24px;
    margin: 0;
    padding: 20px 10px;

    cursor: pointer;

    color: #fff;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnDownloadContent:active {
    background: #1026cf;
}

.btnDownloadContent:disabled {
    cursor: auto;

    color: #fff;
    border: none;
    background: #babee6;
}

.btnDownloadContent:hover:not(:disabled) {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}
