.menuNavigation {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 24px;

    height: calc(100vh - 42px - 32px);

    margin: 0;
    padding: 42px 12px 32px;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.containerLogoType {
    display: flex;
    justify-content: center;

    width: 184px;
    margin: 0;
    padding: 0;

    user-select: none;
}

.containerSiteNavigation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.siteNavigation {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;

    width: 184px;
    margin: 0;
    padding: 0;
}

.siteNavigation.siteNavigationProfile {
    flex: 0;
}

.siteNavigation a {
    margin: 0;
    padding: 0;

    color: #9093ae;

    user-select: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.siteNavigation svg {
    stroke: #9093ae;
}

.siteNavigation img {
    filter: invert(64%) sepia(9%) saturate(679%) hue-rotate(196deg) brightness(90%) contrast(91%);
}

.siteNavigationCurrent a {
    color: #101431;
}

.siteNavigationCurrent svg {
    stroke: #101431;
}

.siteNavigationCurrent img {
    filter: invert(8%) sepia(11%) saturate(6600%) hue-rotate(209deg) brightness(95%) contrast(100%);
}

.siteNavigation li {
    position: relative;

    display: flex;
    gap: 17px;
    align-items: center;

    margin: 0;
    padding: 7px 23px;
}

.siteNavigation li:hover {
    cursor: pointer;

    color: #101431;
    border-radius: 4px;
    background: rgb(235 238 253 / 100%);
}

.siteNavigationDisabled a:hover {
    color: #9093ae;

    background: none;
}

.iconVideoCamera::before {
    position: absolute;

    top: 16px;
    left: 23px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconVideoCamera.svg');

    opacity: 0.5;
}

.iconYoutubeLogo::before {
    position: absolute;

    top: 16px;
    left: 23px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconYoutube.svg');

    opacity: 0.5;
}

/* .iconVideoCamera:hover::before, */
.iconYoutubeLogo:hover::before {
    opacity: 1;
}

/* .siteNavigationCurrent .iconVideoCamera::before, */
.siteNavigationCurrent .iconYoutubeLogo::before {
    opacity: 1;
}

.wrapperCreateTriggerStatus {
    position: absolute;

    right: 15px;
    bottom: 10px;

    box-sizing: border-box;

    width: 45px;
    height: 18px;

    text-align: center;

    color: #1f36e5;

    border: 0.6px solid #1f36e5;

    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

/* Style for Left-Menu-Naviganion CreatePlaylist */

.menuNavigationCreatePlaylist {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;

    height: calc(100vh - 42px - 32px);

    margin: 0;

    padding: 42px 12px 32px;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.menuNavigationCreatePlaylist.stepMode {
    margin-top: -72px;
}

.menuNavigationCreatePlaylist .containerLogoType {
    width: 56px;
}

.menuNavigationCreatePlaylist .siteNavigation {
    gap: 0;

    width: 56px;
}

.menuNavigationCreatePlaylist .siteNavigation li {
    padding: 16px;
}

.menuNavigationCreatePlaylist .siteNavigation a {
    width: 24px;
    height: 24px;

    /* padding: 16px; */
}

.tooltipSiteNavigation {
    position: relative;
}

.menuNavigationFeedBack {
    width: 154px;
    height: calc(120px + 32px);

    margin: 0;
    margin-left: 32px;
    padding: 0;
}

.menuNavigationFeedBackText {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
}

.contacts {
    margin-top: 20px;
}

.menuNavigationFeedBackPhone {
    position: relative;

    margin: 0;
    margin-left: 30px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.menuNavigationFeedBackPhone::before {
    position: absolute;

    top: 0;
    left: -30px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconPhone.svg');
}

.telegramBotLink,
.menuNavigationFeedBackLink {
    position: relative;

    margin: 0;
    margin-left: 30px;
    padding: 0;

    text-decoration-line: underline;

    color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.menuNavigationFeedBackLink {
    margin-top: 9px;
}

.menuNavigationFeedBackLink::before {
    position: absolute;

    top: -3px;
    left: -30px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconEnvelope.svg');
}

.telegramBotLink::before {
    position: absolute;

    top: -3px;
    left: -30px;

    width: 20px;
    height: 20px;

    content: url('../../assets/telegram_icon.svg');
}

@media (width <= 1365px) {
    .menuNavigationFeedBack {
        display: none;
    }
}
