.outerContainer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 580px;

    padding: 32px;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.imgContainer {
    height: 154px;

    border-radius: 6px;

    /* UI/General/Divider */
    background: #f2f3f5;
    background-image: url('../../../../assets/woohoo.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    /* or 31px */

    /* Text/Black / Primary */
    color: #101431;

    /* Text/Header/24px Medium */
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 130%;
}

.btnTakeTour,
.btnSkipTour {
    /* width: 216px; */

    /* height: 42px; */
    margin: 0;

    /* margin-left: 235px; */
    padding: 10px 37.5px;

    border-radius: 6px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSkipTour {
    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    background: transparent;
}

.btnTakeTour {
    color: #fff;
    border: none;
    background: #1f36e5;
}

.btnTakeTour:hover,
.btnSkipTour:hover {
    cursor: pointer;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnTakeTour:hover {
    background: #3b51f9;
}

.btnTakeTour:active {
    background: #1026cf;
}

.btnSkipTour:hover {
    color: #fff;
    background: #5f71ff;
}

.btnSkipTour:active {
    background: #1026cf;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
}
