.outerContainer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 516px;

    margin: 0;
    padding: 32px 40px 40px;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.imgContainer {
    height: 154px;

    margin: 0 0 25px;
    padding: 0;

    border-radius: 6px;

    background: #f2f3f5;
    background-image: url('../../../../assets/tvBox.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.titleItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.titleItem1 {
    margin-bottom: 12px;
}

.btnLearnDetails,
.btnClose {
    width: 230px;
    height: 42px;

    margin: 0;
    padding: 0;

    border-radius: 6px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnClose {
    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    background: transparent;
}

.btnLearnDetails {
    color: #fff;
    border: none;
    background: #1f36e5;
}

.btnLearnDetails:hover,
.btnClose:hover {
    cursor: pointer;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnLearnDetails:hover {
    background: #3b51f9;
}

.btnLearnDetails:active {
    background: #1026cf;
}

.btnClose:hover {
    color: #fff;
    background: #5f71ff;
}

.btnClose:active {
    background: #1026cf;
}

.actionContainer {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-top: 32px;
    padding: 0;
}
