.wraperDashboardPage {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background: #e5e5e5;
}

.support,
.mobileSignIn {
    position: relative;

    width: 288px;
    height: 30px;
    margin: 52px auto 0;
    padding: 0;

    text-align: right;
}

.support {
    text-align: center;
}

.support a,
.mobileSignIn a {
    margin: 0;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.mobileSignIn::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 90px;
    height: 30px;

    content: url('../../../../assets/bigLogo.svg');
}

.wrapperMobileDashboard {
    /* position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    place-content: center center;
    align-items: center;

    width: 288px;
    margin: 0 auto;
    padding: 0;

    flex: 1;
}

.mobilePage h2 {
    width: 288px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.mobilePage p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.mobilePage p span {
    font-weight: bold;
}

.blockScreenSetting {
    /* position: relative; */
    width: 288px;

    margin: 0 auto 27px;
    padding: 0;

    border-radius: 8px;

    /* box-shadow: 2px 4px 20px rgba(166, 171, 195, 0.06); */
}

.blockScreenSetting h3 {
    margin: 0;
    margin-bottom: 19px;
    padding: 0;

    color: #191919;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.ScreenStatistic {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.cardScreenStatistic {
    box-sizing: border-box;

    width: 140px;
    height: 89px;
    margin: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 0;

    border: 1px solid #eaecfc;
    border-radius: 6px;

    background: #fff;
}

.cardScreenStatistic:nth-child(2n) {
    margin-right: 0;
}

.cardScreenStatistic p {
    cursor: default;
}

.screenStatisticNumber {
    margin: 19px 0 3px;
    padding: 0;

    text-align: center;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 29px;
}

.screenStatisticAll {
    color: #3b51f9;
}

.screenStatisticOn {
    color: #18c55d;
}

.screenStatisticOff {
    color: #6c6e82;
}

.screenStatisticError {
    color: #f92424;
}

.screenStatisticName {
    margin: 0;
    padding: 0;

    text-align: center;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.title {
    display: flex;
    flex-direction: column;

    height: 41px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
    justify-content: center;
    flex-shrink: 0;
}

.mobilePage .titleItem {
    display: flex;
    flex-direction: column;

    height: 41px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
    justify-content: center;
    flex-shrink: 0;
}

.mobilePage .titleItem1 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.mobilePage .titleItem2 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.mobilePage .titleItem3 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.telegramBotLink,
.menuNavigationFeedBackLink {
    margin: 0;
    padding: 0;

    color: #3b51f9;

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

@media (width >= 429px) and (width <= 1023px) {
    .mobileSignIn,
    .wrapperMobileDashboard,
    .mobilePage h2,
    .blockScreenSetting {
        width: 328px;
    }

    .cardScreenStatistic {
        width: 160px;
    }
}
