.blob {
    width: 20px;
    height: 20px;
    margin: 10px;

    transform: scale(1);
    animation: pulse 2s infinite;

    border-radius: 50%;
    background: black;

    box-shadow: 0 0 0 0 rgb(0 0 0 / 100%);
}

@keyframes pulse {
    0% {
        transform: scale(.95);

        box-shadow: 0 0 0 0 rgb(0 0 0 / 70%);
    }

    70% {
        transform: scale(1);

        box-shadow: 0 0 0 10px rgb(0 0 0 / 0%);
    }

    100% {
        transform: scale(.95);

        box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
    }
}
