.limitReachedModal {
    position: relative;
    top: 50%;
    left: 50%;

    width: 395px;

    margin: 0;
    padding: 32px 40px;

    transform: translate(-50%, -50%);

    border-radius: 8px;
    background: #fff;
}

.limitReached {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 0;
    padding: 0;
}

.limitReached h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.containerInfoText {
    display: flex;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.containerInfoText p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;

    cursor: pointer;
}

.containerInfoBtn {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.btnLimit {
    width: 190px;
    height: 42px;

    margin: 0;
    padding: 0;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;

    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.btnLimit:hover {
    cursor: pointer;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnLimit:hover {
    color: #fff;
    background: #5f71ff;
}

.btnLimit:active {
    color: #fff;
    background: #1026cf;
}

.btnLimit:disabled:not([hover]) {
    cursor: auto;

    color: #9093ae;
    border: 1px solid #babee5;
    background: none;
    box-shadow: none;
}

.containerInfoMemory {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 6px;

    border-radius: 6px;
    background: #fff;
}

.containerInfoMemory p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.containerInfoMemory p span:first-child {
    color: red;
}

.containerInfoMemory a {
    margin: 0;
    padding: 6px;

    color: #3b51f9;

    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}
