.infoModal {
    position: relative;
    top: 50%;
    left: 50%;

    width: calc(1106px - 56px - 56px);

    margin: 0;
    padding: 34px 56px 39px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.orderBlogClose {
    position: absolute;

    top: 16px;
    right: 16px;

    width: 24px;
    height: 24px;

    cursor: pointer;

    border: none;
    background: none;
    background-image: url('../../../../../../assets/iconXDefault_24x24.svg');
    background-repeat: no-repeat;
}

.infoModalHeader {
    width: 360px;

    margin: 0;
    margin-bottom: 21px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.infoModalBlockOne {
    display: flex;

    margin: 0;
    padding: 0;
}

.infoModalBlockTwo {
    display: flex;

    margin: 0;
    margin-right: 16px;
    padding: 16px;

    border-radius: 8px;
    background: #f1f2f9;
}

.wrapperOrderBox {
    width: 310px;

    margin: 0;
    margin-right: 16px;
    padding: 0;
}

.wrapperOrderBox:last-child {
    margin-right: 0;
}

.orderBox {
    position: relative;

    width: calc(310px - 24px - 24px);

    margin: 0;
    padding: 24px;

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.wrappImgOrderBlog {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 262px;
    height: 120px;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    border-radius: 8px;

    background: #f2f3f5;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.imagePOS {
    margin-top: 7px;
}

.wrapperConnectScreen {
    margin: 0;
    padding: 0;

    border: 1px solid #f2f3f5;
    border-radius: 8px;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.wrapperConnectScreen .orderBox {
    box-shadow: none;
}

.wrapperConnectScreen .wrappImgOrderBlog {
    height: 148px;

    border-radius: 0;
    background: no-repeat;
    box-shadow: none;
}

.orderBlogItem {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.orderBlogItemOne {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.btnRecordConsultation {
    box-sizing: border-box;

    width: 262px;
    height: 42px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnConnectScreen {
    box-sizing: border-box;

    width: 262px;
    height: 42px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;

    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnRecordConsultation:hover,
.btnConnectScreen:hover {
    color: #fff;
    background: #3b51f9;
}

.btnRecordConsultation:active,
.btnConnectScreen:active {
    color: #fff;
    background: #1026cf;
}

.btnConnectScreen:disabled,
.btnConnectScreen.disabled {
    cursor: auto;

    background: #babee6;

    box-shadow: none;
}
