.tourHeader {
    display: flex;

    width: 100%;

    margin-left: 10px;

    text-align: left;
    letter-spacing: 0;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    order: 1;
    align-items: center;
}
