.headerOrganization {
    display: flex;

    width: 100%;
    height: 72px;
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #f2f3f5;
    background: #fff;
}

.containerLogoType {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 208px;
    margin: 0;
    padding: 0;
}

.containerLogoType img {
    display: block;
}

.bodyOrganization {
    display: flex;
    overflow: auto;
    overflow: -moz-scrollbars-none;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 24px;

    background: #f7f7f9;
    -ms-overflow-style: none;
    column-gap: 20px;
}

.bodyOrganization::-webkit-scrollbar {
    display: none;

    width: 0 !important;
}

.containerColumnOne {
    display: flex;

    width: 208px;
    margin: 0;
    padding: 0;
}

.containerColumnTwo {
    display: flex;

    width: calc(100% - 208px - 208px);
    margin: 0;
    padding: 0;
}

.containerColumnThree {
    display: flex;

    width: 208px;
    margin: 0;
    padding: 0;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    margin: 0;
    padding: 0;
}

.containerItem {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 56px 20px;

    border-radius: 8px;
    background: #fff;
    align-items: center;
    gap: 20px;
}

.containerColumnTwo .containerItem h2 {
    width: 320px;
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter,sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.containerColumnTwo .containerItem p {
    display: flex;

    width: 320px;
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    align-items: center;
}

.containerColumnOne .containerItem,
.containerColumnThree .containerItem {
    padding: 24px;
}

.containerColumnOne .containerItem h2,
.containerColumnOne .containerItem p,
.containerColumnThree .containerItem h2,
.containerColumnThree .containerItem p {
    margin: 0;
    padding: 0;
}

.btnSupport {
    display: flex;

    box-sizing: border-box;

    width: 100%;
    height: 32px;

    margin: 0;
    padding: 0;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: none;

    font-family: Inter,sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    align-items: center;
    justify-content: center;
}

.btnSupport:hover {
    cursor: pointer;

    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnSupport:active {
    background: #1026cf;
}

/* Style Tabs */
.containerTabs {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 208px - 208px);
    margin: 0;
    padding: 0;
}

.fieldTabsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
}

.tabsHeaderLink {
    box-sizing: border-box;

    width: 218px;
    height: 72px;

    margin: 0;
    padding: 24px 46px;

    user-select: none;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.tabsHeaderLink:last-child {
    width: 206px;
}

.tabsHeaderLinkCurrent {
    position: relative;

    color: #3b51f9;
}

.tabsHeaderLinkCurrent::after {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';

    background: #3b51f9;
}

/* Style Profile */
.containerProfile {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 208px;
    margin: 0;
    padding: 0;
}

.profileMain {
    position: relative;

    width: 24px;

    margin: 0;
    padding: 9px 8px 7px;

    cursor: pointer;

    user-select: none;

    text-align: center;

    color: #fff;

    border-radius: 50%;

    background-color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.profileMainDown::after {
    position: absolute;
    top: 10px;
    right: -32px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconCaretDown.svg');
}

.profileMainUp::before {
    position: absolute;
    top: 10px;
    right: -32px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconCaretUp.svg');
}

.dropdown {
    position: relative;

    box-sizing: border-box;
    width: 96px;
    margin: 0;
    padding: 16px 10px;

    cursor: pointer;
}

.profileMenu {
    position: absolute;

    z-index: 100;
    top: 76px;

    right: 0;

    display: none;

    width: 340px;

    margin: 0;
    padding: 29px 0 26px;

    border-radius: 6px;

    background: #fff;
    box-shadow: 0 8px 26px rgb(161 164 176 / 27%);
}

.profileMenu.shown {
    display: block;
}

.profileUserName {
    position: relative;

    margin: 0;
    margin-left: 82px;
    padding: 0;

    user-select: none;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.profileUserLogo {
    position: absolute;
    top: 32px;
    left: 24px;

    width: 40px;
    height: 40px;

    /* content: ''; */
    user-select: none;

    text-align: center;

    color: #fff;

    border-radius: 50%;
    background: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 40px;
}

.profileUserEmail {
    position: relative;

    margin: 0 0 35px 82px;
    padding: 0;

    user-select: none;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.profileUserEmail::after {
    position: absolute;

    right: 24px;
    bottom: -16px;

    width: 292px;
    height: 1px;

    content: '';

    background: #dddfee;
}

.profileUser,
.tariffSection,
.manualSection,
.teamSection {
    position: relative;

    margin: 0 24px 4px;
    padding: 8px 0 8px 58px;

    cursor: pointer;
    user-select: none;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.tariffSection::before,
.profileUser::before,
.manualSection::before,
.teamSection::before {
    position: absolute;
    top: 8px;
    left: 18px;

    width: 22px;
    height: 22px;

    content: '';

    opacity: .5;

    background-repeat: no-repeat;
}

.profileUser::before {
    background-image: url('../../assets/signUser.svg');
}

.tariffSection::before {
    background-image: url('../../components/Header/assets/star.svg');
}

.manualSection::before {
    background-image: url('../../components/Header/assets/question.svg');
}

.teamSection::before {
    background-image: url('../../components/Header/assets/users.svg');
}

.logOut {
    position: relative;

    margin: 0 24px;
    padding: 8px 0 8px 58px;

    cursor: pointer;
    user-select: none;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.logOut::before {
    position: absolute;
    top: 8px;
    left: 18px;

    width: 22px;
    height: 22px;

    content: '';

    opacity: .5;

    background-image: url('../../assets/signOut.svg');
    background-repeat: no-repeat;
}

.profileUser:hover,
.tariffSection:hover,
.manualSection:hover,
.logOut:hover,
.teamSection:hover {
    border-radius: 4px;
    background: #ebeefd;
}

.profileUser:hover::before,
.tariffSection:hover::before(:not(.disabled)),
.manualSection:hover::before,
.logOut:hover::before,
.teamSection:hover::before {
    opacity: 1;
}

.tariffSection.disabled {
    cursor: default;

    color: #9093ae;
}
