/* Текст подсказки */
.tooltip {
    position: relative;
}

.tooltiptext {
    margin: 0;
    padding: 4px 12px;

    color: #fff;
    border-radius: 6px;

    background: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.tooltip .tooltiptext {
    position: absolute;

    bottom: -35px;
    left: 30px;

    visibility: hidden;
}

/* Стили меню(в центре) - начало */
.createPlaylistCenterBlock {
    width: calc(100vw - 80px - 340px);
    height: calc(100vh - 72px);

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.createPlaylistCenterBlock h2 {
    margin: 0;
    margin-top: 29px;
    margin-bottom: 20px;
    margin-left: 24px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.createPlaylistCenterBlockItem {
    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

/* Style Trigger Page */

.wrapperSettingContent {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 72px - 50px);

    margin: 0;
    padding: 26px 24px 24px;
}

.verticalWrapper {
    position: absolute;
    bottom: -19px;

    width: calc(100vw - 340px - 80px - 48px);

    min-height: 176px;
    max-height: calc(100vh - 72px);

    user-select: none;

    background: #f7f7f9;
}

.horizontalWrapper {
    min-height: 176px;
}

.fieldBtnScreenResolution {
    position: relative;

    margin: 0 0 6px;
    padding: 0;
}

.btnScreenResolution {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    border: none;

    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.wrapperCanvas {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: calc(100vw - 80px - 340px - 48px - 60px);

    margin: 0 auto;
    padding: 0 30px;

    flex: 1 0 auto;
}

.wrapperCanvas.vertical {
    justify-content: flex-start;
}

/* .wrapperCanvas1 {
    max-width: 1337px;

    margin: -6px auto 8px;
    padding: 0;

    border: 6px solid transparent;
} */

/* .wrapperCanvas1:active,
.wrapperCanvas1:focus,
.wrapperCanvas1.active {
    border: 6px solid #3b51f9;
    border-radius: 14px;
} */

.wrapperCanvas2 {
    position: relative;

    display: flex;

    max-width: 1337px;
    height: calc(100vh - 330px);
    max-height: 752px;

    /* margin: 0 auto 8px; */
    margin: 0 auto 16px;
    padding: 0;

    border-radius: 8px;

    outline: 4px solid #f7f7f9;

    background: #2f3140;
    justify-content: center;
    align-items: center;
}

/* .wrapperCanvas2:active,
.wrapperCanvas2:focus,
.wrapperCanvas2.active {
    border-radius: 14px;
    outline: 6px solid #3b51f9;
} */

.wrapperCanvas2 img,
.wrapperCanvas2 video,
.wrapperCanvas2 iframe {
    display: block;

    width: 100%;
    max-height: 752px;
}

.wrapperCanvasLayers {
    position: absolute;
    right: 24px;

    bottom: 20px;

    width: 100px;
    height: 22px;

    padding: 10px 0;

    border-radius: 6px;

    background: rgb(10 12 22 / 60%);
}

.wrapperCanvasLayersItem {
    position: relative;

    margin: 0;
    margin-left: 61px;
    padding: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.wrapperCanvasLayers::before {
    position: absolute;

    top: 10px;
    left: 27px;

    content: url('../../../../assets/iconLayers.svg');
}

.wrapperCanvas3Text {
    position: absolute;

    inset: 0;

    width: 380px;
    height: 20%;
    max-height: 70px;

    margin: auto;

    text-align: center;
}

/* .wrapperCanvas3 {
    display: none;
    max-width: 380px;

    margin: 0;
    padding: 0;

    text-align: center;
} */

.canvasItem {
    margin: 0;
    padding: 0;

    color: #c2c4d4;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.canvasItem1 {
    margin-bottom: 10px;
}

.wrapperBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: -15px 0 10px;
    padding: 0;
}

.wrapperTrigger,
.wrapperFullScreen,
.wrapperBtnPlayPause {
    position: relative;

    margin: 0;
    padding: 0;
}

.wrapperTriggerSelect {
    position: absolute;

    right: -10px;
    bottom: 34px;

    box-sizing: border-box;

    width: 240px;

    margin: 0;
    padding: 16px 20px;

    content: '';

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    box-shadow: 0 8px 22px rgb(161 164 176 / 20%);
}

.wrapperTriggerSelectCheck {
    /* display: none; */
    margin: 0;
    padding: 0;
}

.wrapperTriggerSelectList {
    position: relative;

    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

.wrapperTriggerSelectListShowAll {
    position: relative;

    margin: 0;
    margin-top: 25px;
    padding: 0;
}

.wrapperTriggerSelectListShowAll::before {
    position: absolute;

    top: -12px;
    left: -10px;

    width: 220px;
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.wrapperTriggerSelectItem {
    margin: 0;
    margin-left: 32px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.checkboxFreeSlotOn {
    position: absolute;

    top: 0;
    left: 0;

    content: url('../../../../assets/checkboxOn.svg');
}

.checkboxFreeSlotOff {
    position: absolute;

    top: 0;
    left: 0;

    content: url('../../../../assets/checkboxOff.svg');
}

.btnSelectAll,
.btnShowTrigger {
    margin: 0;
    padding: 0;

    color: #9093ae;

    border: none;

    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSelectAll.enabled,
.btnShowTrigger.enabled {
    cursor: pointer;

    color: #1f36e5;
}

.wrapperPlayPauseTime {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;

    margin: 0;
    padding: 0;
}

.wrapperBtnPlayPause {
    margin: 0 12px 0 0;
    padding: 0;
}

.btnPlayBack {
    width: 32px;
    height: 32px;

    margin-right: 10px;

    cursor: pointer;

    border: none;

    background: url('../../../../assets/iconPlayBack.svg') no-repeat;
}

.btnPlayBack:disabled,
.btnPlayBack.disabled {
    cursor: auto;

    background-image: url('../../../../assets/iconPlayBackDisabled.svg');
}

.btnPlay {
    width: 32px;
    height: 32px;

    cursor: pointer;

    border: none;

    background: url('../../../../assets/iconPlayContent.svg') no-repeat;
}

.btnPlay:disabled,
.btnPlay.disabled {
    cursor: auto;

    background-image: url('../../../../assets/iconPlayContentDisabled.svg');
}

.btnPause {
    width: 32px;
    height: 32px;

    cursor: pointer;

    border: none;

    background: url('../../../../assets/iconPause.svg') no-repeat;
}

.wrapperTime {
    margin: 0 25px 0 0;
    padding: 0;
}

.wrapperTimeItem {
    display: flex;

    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.startTimeItem {
    width: 74px;

    margin: 0;
    padding: 0;
}

.endTimeItem {
    width: 74px;

    margin: 0;
    padding: 0;
}

.wrapperTimeItemDisabled {
    color: #9093ae;
}

.btnFullScreen {
    width: 32px;
    height: 32px;

    cursor: pointer;

    border: none;
    background: url('../../../../assets/iconFullScreen.svg') no-repeat;
}

.btnFullScreen:disabled,
.btnFullScreen.disabled {
    cursor: default;

    background-image: url('../../../../assets/iconFullScreenDisabled.svg');
}

.wrapperTimeLine {
    width: calc(100vw - 80px - 340px - 48px);
    height: 114px;

    margin: 0;
    padding: 0;

    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.wrapperTimeLineFull {
    position: relative;

    overflow: scroll hidden;

    /* display: none; */
    margin: 0;
    padding: 0;
}

.timeLineSlider {
    position: absolute;

    z-index: 2;

    top: -3px;
    left: -12px;

    content: url('../../../../assets/iconTimeLineSlider.svg');
}

.timeLineSliderEnd {
    position: absolute;

    z-index: 1;

    top: 10px;
    right: -12px;

    display: none;

    content: url('../../../../assets/iconTimeLineSliderEnd.svg');
}

.wrapperTimeLineEmpty {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 114px;

    margin: 0;
    padding: 0;
}

.wrapperTimeLineItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.timeLineItem {
    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.timeLineItem:first-child {
    margin-bottom: 10px;
}

.wrapperTriggerScriptTime {
    display: flex;

    margin: 0 26px 3px 4px;
    padding: 0;
}

.wrapTriggerScriptTimeItem {
    width: 52px;

    margin: 9px 148px 0 0;
    padding: 0;
}

.triggerScriptTimeItem {
    position: relative;

    width: 52px;

    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.wrapTriggerScriptTimeItem:first-child {
    margin-right: 118px;
}

.triggerScriptTimeItemFirstDivider::before {
    position: absolute;

    top: 21px;
    left: 95px;

    width: 1px;
    height: 84px;

    content: '';

    background: #f2f3f5;
}

.triggerScriptTimeItemFirstDivider::after {
    position: absolute;

    top: 21px;
    left: 195px;

    width: 1px;
    height: 84px;

    content: '';

    background: #f2f3f5;
}

.triggerScriptTimeItem20secDivider::before {
    position: absolute;

    top: 21px;
    left: calc(26px + 99px);

    width: 1px;
    height: 84px;

    content: '';

    background: #f2f3f5;
}

.triggerScriptTimeItem20secDivider::after {
    position: absolute;

    top: 21px;
    left: calc(26px + 199px);

    width: 1px;
    height: 84px;

    content: '';

    background: #f2f3f5;
}

.triggerScriptTimeItem10secDivider::before {
    position: absolute;

    top: 21px;
    left: calc(26px + 99px);

    width: 1px;
    height: 84px;

    content: '';

    background: #f2f3f5;
}

.wrapperTriggerComponent {
    display: flex;

    height: 77px;

    /* overflow-x: scroll; */
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
}

/* .wrapperTriggerComponent::-webkit-scrollbar */
.wrapperTimeLineFull::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* ползунок скроллбара */

/* .wrapperTriggerComponent::-webkit-scrollbar-thumb */
.wrapperTimeLineFull::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.wrapperTriggerScriptBlock {
    position: relative;

    margin: 0;
    padding: 3px 0;
}

.withTrigger .timeLineSliderEnd {
    right: -9px;
}

.wrapperTriggerScriptBlock:last-child .timeLineSliderEnd {
    display: block;
}

.withTrigger {
    position: relative;

    /* padding: 3px 3px 8px; */
    padding: 1px;

    border: 2px dashed #b3e8cb;
    border-radius: 9px;

    /* border-radius: 6px;
    background: #d5f1e2; */
}

.withTrigger.active {
    padding: 3px 3px 8px;

    border: none;
    border-radius: 6px;
    background: #79d99f;
}

.wrapperTriggerScriptBlock1 {
    margin: 0;
    padding: 3px 0;
}

.wrapperTriggerScript {
    display: flex;

    margin: 0;
    padding: 0;
}

.wrapperTriggerComponentItem {
    position: relative;

    display: flex;

    box-sizing: border-box;

    width: 200px;
    height: 42px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    border: 1px solid #9093ae;
    border-radius: 6px;

    background: #d9dae4;
}

.wrapperTriggerComponentItem:active,
.wrapperTriggerComponentItem:focus,
.wrapperTriggerComponentItem.active {
    border: 1px solid #3b51f9;
}

.wrapperTriggerComponentImg {
    width: 30px;
    height: 30px;

    margin: 5px 0 5px 6px;
    padding: 0;
}

.wrapperTriggerComponentImg img,
.wrapperTriggerComponentImg video,
.wrapperTriggerComponentImg iframe {
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

img.fiveSecondsSize,
video.fiveSecondsSize,
iframe.fiveSecondsSize {
    width: 30px;
    height: 30px;
}

.wrapperTriggerComponentText {
    width: 126px;

    margin: 11px 0 11px 6px;
    padding: 0;
}

.triggerComponentItem {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.iconContentSelect {
    position: absolute;

    top: 8px;
    right: 4px;
}

.wrapIconSelectThreeDots {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 22px;

    margin: 0;
    padding: 0;
}

.iconSelectThreeDots {
    width: 8px;
    height: 22px;

    cursor: auto;

    background-image: url('../../../../assets/iconSelectThreeDots.svg');
}

.wrapTooltipSelect {
    /* position: absolute; */

    /* z-index: 2; */

    /* top: 0; */

    /* left: 15px; */
    display: flex;
    align-items: center;

    /* visibility: hidden; */
    margin: 0;
    padding: 0 10px 0 6px;

    border-radius: 6px;
    background: #fff;
}

.wrapIconContentSelect {
    width: 24px;
    height: 24px;

    margin: 4px 0;
    padding: 0;
}

.wrapTooltipSelectItemOne,
.wrapTooltipSelectItemTwo {
    width: 51px;
    margin: 0;
    margin-left: 4px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.wrapTooltipSelectItemTwo {
    width: 99px;
}

.wrapperTriggerComponentText1 {
    position: relative;

    display: flex;
    justify-content: center;

    box-sizing: border-box;

    height: 26px;

    margin: 0;
    margin-top: 3px;
    padding: 4px 0 5px;

    border-radius: 6px;
    background: #b3e8cb;
}

.withTrigger.active .wrapperTriggerComponentText1 {
    background: none;
}

.triggerComponentItem1 {
    position: relative;

    margin: 0;
    margin-left: 12px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.wrapTextScenario {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    margin: 0;
    padding: 0;
}

.wrapTextScenario .triggerComponentItem1 {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.customResolutionInputContainer {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 292px;
    margin: 0 0 16px 24px;
    padding: 0;
}

.customResolutionInputContainer::before {
    position: absolute;

    top: 10px;
    left: 143px;

    content: 'x';

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.fieldWidth {
    position: relative;

    width: 134px;
    height: 42px;

    margin: 0;
    padding: 0;
}

.customResolutionInput {
    position: relative;

    box-sizing: border-box;

    width: 134px;
    height: 42px;

    margin: 0;
    padding: 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.customResolutionInput:hover {
    border: 1px solid #bec1d2;
}

.customResolutionInput:active,
.customResolutionInput:focus {
    border: 1px solid #566dec;
}

.fieldWidthItem {
    position: absolute;

    top: 11px;
    right: 20px;

    width: 17px;
    height: 22px;
}

.customResolutionInputItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.wrapperTotalInfo {
    margin: 0 0 16px 24px;
    padding: 0;
}

.wrapperTotalInfoOne {
    margin-bottom: 24px;
}

.mainRightMenuInfoItem {
    width: 292px;

    margin: 0;
    padding: 0;

    word-wrap: break-word;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.mainRightMenuInfoItemOne {
    margin-bottom: 6px;
}

.mainRightMenuInfoItem span {
    color: #101431;
}

.wrapperDisplayDuration {
    position: relative;

    margin: 0 0 15px 24px;
    padding: 0;
}

.wrapperDisplayDuration::before {
    position: absolute;

    z-index: 2;

    top: 35px;
    left: 18px;

    content: url('../../../../assets/iconClockWise.svg');
}

.wrapperDisplayDuration label {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.wrapperPlacePlaylist {
    margin: 0 0 32px 24px;
    padding: 0;
}

.wrapperPlacePlaylistOne {
    margin-bottom: 24px;
}

.wrapperPlacePlaylist label {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.wrapMainRightMenuInfoRules {
    position: relative;

    margin: 0 0 15px;
    padding: 0;
}

.wrapMainRightMenuInfoRules h3 {
    margin: 0 0 0 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
}

.wrapMainRightMenuInfoRules span {
    color: #6c6e82;
}

.mainRightMenuInfoRules {
    width: 262px;

    margin: 0 0 0 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenuInfoRulesHeader {
    margin: 8px 0 0;
    padding: 0;
}

.mainRightMenuInfoRulesList li {
    margin: 0 0 0 24px;
    padding: 0;

    list-style: disc;
}

.wrapMainRightMenuInfoAll {
    position: relative;

    margin: 0;
    margin-bottom: 19px;
    padding: 0;
}

.wrapMainRightMenuInfoAll h3 {
    width: 266px;
    margin: 0 0 0 24px;
    padding: 0;

    word-break: break-all;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.iconArrowInfoUp::before {
    position: absolute;

    top: 0;
    right: 19px;

    content: url('../../../../assets/iconCaretUp.svg');

    cursor: pointer;
}

.iconArrowInfoDown::after {
    position: absolute;

    top: 0;
    right: 19px;

    content: url('../../../../assets/iconCaretDown.svg');

    cursor: pointer;
}

.fieldRightMenuSetup {
    display: flex;

    margin: 3px 0 0 3px;
    padding: 0;
}

.fieldRightMenuSetup img {
    margin: 7px 0 3px;
    padding: 0;
}

.fieldRightMenuSetup li {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;

    width: 72px;
    height: 52px;

    margin: 0;
    margin-right: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #101431;

    border: 1px solid transparent;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.fieldRightMenuSetup a {
    overflow: hidden;

    width: 56px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.mainRightMenuInfoAll a {
    margin: 0;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.fieldRightMenuSetup li:last-child a {
    width: 59px;
}

.mainRightMenuInfoAll li {
    display: flex;
    justify-content: space-between;

    width: 292px;

    margin: 0;
    margin-bottom: 5px;
    padding: 0;

    color: #101431;
}

.mainRightMenuInfoAll li:last-child {
    margin-bottom: 0;
}

.mainRightMenuInfoAll {
    width: 292px;

    margin: 10px 0 -9px 24px;
    padding: 0;

    color: #6c6e82;

    border: none;

    outline: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenuInfoAllOne {
    margin-bottom: 0;
}

.mainRightMenuInfoAllOne p {
    width: 220px;

    margin: 0;
    padding: 0;
}

.rightMenuNameContent {
    display: inline-block;

    box-sizing: border-box;
    width: 292px;
    margin: 9px 0 0;

    /* height: 22px; */
    padding: 9px 42px 9px 20px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;
    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.wrapperDisplayDuration .rightMenuNameContent {
    padding-left: 51px;
}

.wrapNoChange {
    width: 292px;

    margin: 5px 0 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.wrapNoChangeItem {
    margin-top: -27px;
    margin-bottom: 32px;
    margin-left: 24px;
}

.rightMenuNameContent:hover {
    border: 1px solid #bec1d2;
}

.rightMenuNameContent:active,
.rightMenuNameContent:focus {
    border: 1px solid #566dec;
}

.wrapperDisplayDuration .rightMenuNameContent:disabled {
    color: #9093ae;
    background: #f7f7f9;
}

.rightMenuNameContent:disabled:not([hover]) {
    border: 1px solid #d9dae4;
}

.btnCreateTrigger {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0 0 32px 24px;
    padding: 0;

    cursor: pointer;

    color: #fff;

    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnEditedTrigger,
.btnAddedContentTrigger {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0 0 32px 24px;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.wrapperImgVideo img,
.wrapperImgVideo video,
.wrapperImgVideo iframe {
    border-radius: 6px;
}

/* .btnAddedContentTrigger {
    padding-left: 58px;
} */

.btnEditedTrigger {
    margin-bottom: 29px;
}

.btnCreateTrigger img {
    margin-right: 12px;

    content: url('../../../../assets/iconTriggerWhite.svg');
}

.btnEditedTrigger img {
    margin-right: 12px;

    content: url('../../../../assets/iconEditPlaylist.svg');
}

.btnAddedContentTrigger img {
    margin-right: 12px;

    content: url('../../../../assets/iconImageBlue.svg');
}

.btnDeleteContent img {
    margin-right: 12px;

    content: url('../../../../assets/iconTrashScreen.svg');
}

.btnDeleteTrigger img {
    margin-right: 12px;

    content: url('../../../../assets/iconTrashScreen.svg');
}

.btnNextStep {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 292px;
    height: 42px;

    margin: 0 0 0 24px;
    padding: 0;

    cursor: pointer;

    color: #fff;

    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnNextStep img {
    order: 1;

    margin-left: 12px;

    content: url('../../../../assets/iconArrowWhite_22x22.svg');
}

.btnCreateTrigger:hover img {
    content: url('../../../../assets/iconTriggerWhite.svg');
}

.btnEditedTrigger:hover img {
    content: url('../../../../assets/iconEditPlaylistWhite.svg');
}

.btnAddedContentTrigger:hover img {
    content: url('../../../../assets/iconImageWhite.svg');
}

.btnCreateTrigger:hover,
.btnAddedContentTrigger:hover,
.btnEditedTrigger:hover {
    color: #fff;
    background: #3b51f9;
}

.btnCreateTrigger:active,
.btnAddedContentTrigger:active,
.btnEditedTrigger:active {
    background: #1026cf;
}

.btnCreateTrigger:disabled,
.btnAddedContentTrigger:disabled,
.btnEditedTrigger:disabled {
    cursor: auto;

    background: #babee6;
}

.btnDeleteContent,
.btnDeleteTrigger {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 292px;
    height: 42px;
    margin: 0;
    margin-left: 24px;
    padding: 9px 0;

    cursor: pointer;

    color: #f92424;
    border: 1.2px solid #ff7171;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnDeleteContent:hover img {
    content: url('../../../../assets/iconTrash_22x22.svg');
}

.btnDeleteTrigger:hover img {
    content: url('../../../../assets/iconTrash_22x22.svg');
}

.btnDeleteContent:disabled img {
    content: url('../../../../assets/iconTrashDisabled_22x22.svg');
}

.btnDeleteTrigger:disabled img {
    content: url('../../../../assets/iconTrashDisabled_22x22.svg');
}

.btnDeleteContent:hover,
.btnDeleteTrigger:hover {
    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.btnDeleteContent:active,
.btnDeleteTrigger:active {
    color: #fff;
    background: #e41d1d;
}

.btnDeleteContent:disabled,
.btnDeleteTrigger:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
    background: #fff;
    box-shadow: none;
}

.playlistCreationCardItemLast .tooltiptext {
    position: absolute;

    bottom: 40px;
    left: calc(100% - 176px);

    visibility: hidden;
}

.wrapperTriggerComponentText .tooltiptext {
    position: absolute;
    z-index: 1;

    /* top: -25px; */
    bottom: 80%;
    left: 8px;

    visibility: hidden;

    /* width: 219px; */
}

.btnDownloadContent .tooltiptext {
    position: absolute;

    z-index: 1;

    top: 25px;
    right: 0;

    visibility: hidden;
}

.btnDownloadContent.disabled {
    cursor: auto;

    color: #babee6;
}

.wrapperTriggerComponentText:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.wrapperTriggerComponentText .tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 50%;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: #101431 transparent transparent;
}

/* Стили для меню справа (Все экраны, Настройки, Настройки экрана */

.mainRightMenuSetup {
    display: flex;
    flex-direction: column;

    width: 340px;
    height: calc(100vh - 72px);
    margin: 0;
    padding: 0;

    background: #fff;
}

.wrapMainRightMenuSetup {
    height: calc(100vh - 72px - 144px);
    flex: 1 0 auto;
}

.wrapMainRightMenuSetup123 {
    width: 340px;

    margin: 0;
    padding: 0;

    flex: 1 0 auto;
}

.wrapMainRightMenuSetup123 label {
    margin-left: 24px;

    font-family: Inter, sans-serif;
}

.wrapMainRightMenuSetup124 {
    overflow-y: scroll;

    height: calc(100vh - 72px - 86px);

    margin-right: 2px;

    /* flex: 1 0 auto; */
}

.wrapperImgVideo {
    position: relative;

    width: 292px;
    height: 164px;

    margin: 0 0 22px 24px;
    padding: 0;
}

.wrapperIconFullScreen {
    position: relative;
}

.iconFullScreen {
    position: absolute;

    z-index: 4;
    right: 8px;
    bottom: 10px;

    width: 42px;
    height: 42px;

    content: '';

    cursor: pointer;

    border: none;
    border-radius: 50%;

    background: rgb(192 193 201 / 59%);
    backdrop-filter: blur(4px);
}

.iconFullScreen::before {
    position: absolute;

    top: 9px;
    left: 9px;

    width: 24px;
    height: 24px;

    content: url('../../../../assets/iconFullScreen24x24.svg');
}

/* .wrapperVideo {
    position: relative;

    width: 292px;
    height: 164px;

    margin: 0 0 18px;
    padding: 0;
} */

.wrapperVideo::before {
    position: absolute;

    z-index: 2;

    top: 0;
    left: 0;

    width: 292px;
    height: 24px;

    content: '';

    border-radius: 6px 6px 0 0;
    background: #19191b;
}

.wrapperVideo::after {
    position: absolute;

    z-index: 2;

    bottom: 0;
    left: 0;

    width: 292px;
    height: 24px;

    content: '';

    border-radius: 0 0 6px 6px;
    background: #19191b;
}

.wrapMainRightMenuSetup124::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapMainRightMenuSetup124::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.mainRightMenuSetup h2 {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 29px;
    margin-left: 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.wrapHeaderButton h2 {
    margin: 0;
}

.mainRightMenuSetup .wrapMainRightMenuSetup124 h2 {
    margin-bottom: 21px;
}

.mainRightMenuSetup .wrapMainRightMenuSetup123 h2 {
    margin-bottom: 25px;
}

.wrapHeaderButton {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 292px;

    margin: 25px 24px 20px;
    padding: 0;
}

.btnDownloadContent {
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #1f36e5;

    border: none;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

/* .btnDownloadContent {
    position: relative;

    box-sizing: border-box;

    width: 292px;
    height: 42px;
    margin: 0;
    margin-bottom: 32px;
    margin-left: 24px;
    padding: 0;
    padding-left: 12px;

    cursor: pointer;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
} */

/* .btnDownloadContent::before {
    position: absolute;
    top: 10px;
    left: 52px;

    content: url("../../../../assets/iconDownloadBlue.svg");
}

.btnDownloadContent:hover::before {
    content: url("../../../../assets/iconDownloadWhite.svg");
}

.btnDownloadContent:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnDownloadContent:active {
    color: #fff;
    background: #1026cf;
}

.btnDownloadContent:disabled {
    cursor: auto;

    color: #fff;
    border: none;
    background: #babee6;
}

.btnDownloadContent:disabled::before {
    content: url("../../../../assets/iconDownloadWhite.svg");
} */

.wrapFieldRightMenuSetup {
    display: flex;

    overflow-x: scroll;

    width: 292px;
    height: 68px;

    margin: 0 0 8px 24px;
    padding: 0;
}

.wrapFieldRightMenuSetup::-webkit-scrollbar {
    height: 6px;
}

/* ползунок скроллбара */
.wrapFieldRightMenuSetup::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.lastFolderRightMenuSetup {
    position: relative;

    display: flex;
    align-items: flex-end;

    margin: 0;
    padding: 0;
}

.iconAddCreate {
    height: 20.8px;
    margin: 7px 0 3px;

    stroke: #6c6e82;
}

.iconAddCreate:hover {
    stroke: #3b51f9;
}

.fieldRightMenuSetup li:active,
.fieldRightMenuSetup li.active {
    border: 1px solid #3b51f9;
    border-radius: 6px;
    box-shadow: 0 0 0 3px #c1c8fd;
}

.fieldRightMenuSetup li:last-child:active {
    border: 1px solid transparent;
    box-shadow: none;
}

.mainRightMenuSetupAllList {
    z-index: 1;

    overflow-y: auto;

    height: calc(100vh - 72px - 67px - 76px - 100px);

    margin: 0;
    margin-right: 2px;
    padding: 0;

    cursor: pointer;
}

.foldersFrame::-webkit-scrollbar,
.mainRightMenuSetupAllList::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.foldersFrame::-webkit-scrollbar-thumb,
.mainRightMenuSetupAllList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.mainRightMenuSetupList {
    display: flex;
    flex-wrap: wrap;

    margin: 0 0 0 24px;
    padding: 0;
}

.wrapperVideoCart {
    position: relative;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

.wrapperVideoCart::before {
    position: absolute;

    z-index: 2;

    top: 0;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';

    border-radius: 6px 6px 0 0;
    background: #19191b;
}

.wrapperVideoCart::after {
    position: absolute;

    z-index: 2;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';

    background: #19191b;
}

.mainRightMenuSetupItem {
    box-sizing: border-box;

    width: 138px;

    margin: 0;
    padding: 0;
}

.mainRightMenuSetupItem:nth-child(2n) {
    margin-right: 0;
}

.contentImage {
    object-fit: cover;

    border-radius: 6px;
}

.btnStartScreensField {
    z-index: 2;

    width: 340px;
    height: 144px;

    margin: 0;
    padding: 0;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 167 195 / 30%);
}

.mainRightMenuSetup .btnStartScreensField2 {
    height: 86px;
}

.btnStartScreens {
    position: relative;

    width: 292px;
    height: 42px;
    margin: 94px 24px 48px;
    padding: 0;
    padding-right: 12px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnStartScreens::after {
    position: absolute;
    top: 10px;
    right: 50px;

    content: url('../../../../assets/iconArrowWhite_22x22.svg');
}

.btnStartScreens:hover {
    background: #3b51f9;
}

.btnStartScreens:active {
    background: #1026cf;
}

.btnStartScreens:disabled {
    background: #babee6;
}

.hoverEffectBtn {
    position: relative;

    margin-right: 16px;
    margin-bottom: 16px;

    border: 1px solid transparent;
}

.hoverEffectBtn:hover {
    border: 1px solid #dddfee;
    border-radius: 6px;
    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.hoverEffectBtn:nth-child(2n) {
    margin-right: 0;
}

.foldersFrame .hoverEffectBtn {
    width: 170px;
    height: 218px;

    margin: 0 12px 12px 0;
    padding: 0;

    border-radius: 6px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.overlayTrash {
    position: absolute;

    z-index: 1;
    top: 16px;
    left: 16px;

    content: url('../../../../assets/iconTrash_22x22.svg');

    opacity: 0;
}

.overlayTrash:hover {
    content: url('../../../../assets/iconTrashHover_22x22.svg');
}

.overlayScreen {
    position: absolute;

    z-index: 1;

    top: 117px;
    left: 8px;

    width: 18px;
    height: 13px;

    content: '';

    transform: rotate(90deg);

    opacity: 0;

    border: 1.2px solid #fff;
    border-radius: 2px;
}

.overlayScreen.horizontal {
    transform: none;
}

.overlayScreenResolution {
    position: absolute;

    z-index: 1;

    top: 117px;
    right: 8px;

    width: 90px;
    height: 13px;

    opacity: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
}

.overlayCheckCircle {
    position: absolute;

    z-index: 1;

    top: 8px;
    right: 8px;

    content: url('../../../../assets/iconCheckCircleWhite.svg');

    opacity: 0;
}

.overlayCheckCircle:hover {
    content: url('../../../../assets/iconCheckCircleHover.svg');
}

.overlayCheckCircleActive {
    position: absolute;

    z-index: 3;

    top: 8px;
    right: 8px;

    content: url('../../../../assets/iconCheckCircleActive.svg');
}

.mainRightMenuSetupAllList .hoverEffectBtn .overlayTrash {
    position: absolute;

    z-index: 1;

    top: 8px;
    left: 8px;
}

.contentPlaylistImagesName {
    width: 122px;

    margin: 0;
    padding: 0;
}

.contentPlaylistImagesName p {
    display: none;

    overflow: hidden;

    margin: 7px 8px 26px;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.hoverEffectBtn:hover .contentPlaylistImagesName p {
    display: block;
}

.hoverEffectBtn:hover .mainRightMenuSetupItem img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.hoverEffectBtn:hover .overlayTrash,
.hoverEffectBtn:hover .overlayScreen,
.hoverEffectBtn:hover .overlayScreenResolution,
.hoverEffectBtn:hover .overlayCheckCircle {
    z-index: 3;

    opacity: 1;
}

.blackoutOverlay {
    position: absolute;
    inset: 0;

    width: 138px;
    height: 138px;

    /* height: calc(100% - 48px); */
    transition: 0.3s ease;

    opacity: 0;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background: rgb(15 16 31 / 40%);
}

.playlistCreationCardItem .blackoutOverlay {
    top: 8px;
    left: 8px;

    width: 154px;
    height: 154px;

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hoverEffectBtn:hover .blackoutOverlay {
    opacity: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.playlistCreationCardItemLast:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.btnDownloadContent:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: -12px;
    left: 48px;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.playlistCreationCardItemLast .tooltiptext::after {
    position: absolute;
    top: -12px;
    left: 85px;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.btnDownloadContent .tooltiptext::after {
    position: absolute;

    top: -12px;
    right: 50px;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.btnAdd {
    position: relative;

    width: 292px;
    height: 42px;

    margin: 20px 0 16px 24px;
    padding: 0;

    cursor: pointer;

    color: #fff;

    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnAdd:hover {
    background: #3b51f9;
}

.btnAdd:active {
    background: #1026cf;
}

.btnCancel {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0 0 0 24px;
    padding: 0;

    cursor: pointer;

    color: #1f36e5;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnCancel:hover {
    color: #fff;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnCancel:active {
    color: #fff;
    background: #1026cf;
}

.btnCancel:disabled {
    box-sizing: border-box;

    color: #9093ae;

    border: 1.2px solid #babee6;
}

.btnNextStep:hover {
    background: #3b51f9;
}

.btnNextStep:active,
.btnAdd:active {
    background: #1026cf;
}

.btnNextStep:disabled,
.btnAdd:disabled {
    cursor: auto;

    background: #babee6;
}

.delayInput {
    width: 25px;

    border: none;

    outline: none;

    background: none;

    font-size: 16px;
    line-height: 19px;
}

.delayInput:hover {
    cursor: auto;
}

/*
.spanInput {
    display: inline-block;

    width: 30px;

} */

.spanInput:hover {
    cursor: auto;
}

/* .tooltiptext.uploadTooltiptext {
    top: auto;
    bottom: -31px;
    left: calc(50% - 275px / 2);

    overflow: unset;

    width: 250px;

    white-space: normal;

    color: #fff;
    background: #101431;
}

.tooltiptext.uploadTooltiptext.disabled {
    bottom: -71px;
}

.tooltiptext.uploadTooltiptext::after {
    top: -12px;
    left: calc(50% - 14px / 2);

    border-color: transparent transparent #101431 transparent;
} */

.btnSaveChangeExit {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 20px 0 16px 24px;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSaveChangeExit:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
}

.btnSaveChangeExit:hover:not(:disabled) {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnSaveChangeExit:active:not(:disabled) {
    color: #fff;
    background: #1026cf;
}

.btnNextStepField {
    width: 340px;
    height: 144px;
    margin: 0;
    padding: 0;

    background: #fff;
    box-shadow: 0 -20px 20px -7px rgb(166 167 195 / 13%);
}

.contentViewTypeWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.contentViewTypeWrapper h3 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px
}

.contentViewTypeButtonsWrapper {
    display: flex;
    gap: 10px;
}

.contentViewTypeButton {
    display: flex;
    align-items: center;
    gap: 4px;
}

.addWebContentWrapper {
    display: flex;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

.createPlaylistName {
    overflow: hidden;

    margin-left: 25px;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.createPlaylistName span {
    color: #101431;
}
