@keyframes pulse {
    0% {
        transform: scale(1);
    }

    55% {
        transform: scale(1.6);

        background-color: rgb(255 100 100 / 90%);
    }
}

.beacon {
    display: inline-block;

    width: 2rem;
    height: 2rem;

    animation: pulse 1s ease-in-out infinite;

    border-radius: 50%;
    background:
        linear-gradient(336.18deg, #000adf -16.73%, #364dff 100.92%),
        linear-gradient(0deg, #fff, #fff);
}
