.react-joyride__tooltip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    padding: 24px 32px !important;

    border-radius: 8px !important;

    /* UI/Onboarding card 2 */
    background: linear-gradient(329.29deg, #01059d -5.15%, #364dff 87.07%), #fff;

    font-family: Inter, sans-serif;
    justify-content: center;
    align-items: flex-end;
}

.react-joyride__tooltip button {
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.react-joyride__tooltip button:focus {
    outline: none;
}

.react-joyride__tooltip > div:nth-child(2) {
    width: 100%;
    margin-top: 0 !important;
}

.react-joyride__tooltip > div:nth-child(1) > div {
    padding: 0 10px !important;
}

.react-joyride__tooltip button[data-action='skip'] {
    height: 42px;

    cursor: pointer;

    color: #d2d7f8 !important;

    font-family: Inter, sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    font-style: normal;
    line-height: 22px !important;
}

.react-joyride__tooltip button[data-action='skip']:hover {
    color: #e0e3fd !important;
}

.react-joyride__tooltip button[data-action='skip']:active {
    color: #d2d7f8 !important;
}

.react-joyride__tooltip button[data-action='skip']:disabled {
    color: #d2d7f8 !important;
}

.react-joyride__tooltip button[data-action='primary'] {
    height: 42px;
    padding: 10px 34px !important;

    cursor: pointer;

    color: #fff !important;
    border: none !important;
    border-radius: 6px;

    background: #1f36e5 !important;

    font-family: Inter, sans-serif;
    font-size: 14px !important;
    font-weight: 500;
    font-style: normal;
    line-height: 22px !important;
}

.react-joyride__tooltip button[data-action='primary']:hover {
    background: #3b51f9 !important;
}

.react-joyride__tooltip button[data-action='primary']:active {
    background: #1026cf !important;
}

.react-joyride__tooltip button[data-action='primary']:disabled {
    background: #babee6 !important;
}

.__floater.__floater__open {
    transition: opacity .3s ease 0s, transform 0s;
}

/* div[id^='react-joyride-step-'] { */

/*    z-index: 1000; */

/*    position: absolute; */

/*    top: 0; */

/*    bottom: 0; */

/*    left: 0; */

/*    right: 0; */

/*    pointer-events: none; */

/*    overflow: hidden; */

/* } */
