/* Стили меню(в центре) - начало */
.createPlaylistCenterBlock {
    width: calc(100vw - 80px - 340px);
    height: calc(100vh - 72px);

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.createPlaylistCenterBlock h2 {
    margin: 0;
    margin-top: 29px;
    margin-bottom: 20px;
    margin-left: 24px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.createPlaylistCenterBlock span {
    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.centerBlockStepOne {
    display: flex;

    overflow-x: auto;
    overflow-y: hidden;

    margin: 0;
    margin-top: 29px;
    padding: 0;
}

.foldersFrame {
    position: relative;

    width: 340px;
    max-width: 539px;

    margin: 0;
    padding: 0;
}

.foldersFrame h2,
.screensFrame h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.foldersFrame h2 {
    margin-bottom: 20px;
    margin-left: 24px;
}

.wrapFoldersFrameList {
    width: 100%;

    margin: 0;
    padding: 0;
}

.wrapScreensFrameList {
    overflow-x: hidden;
    overflow-y: scroll;

    height: calc(100vh - 72px - 29px - 39px - 70px);

    margin: 0;
    padding: 0;
}

.foldersFrameList {
    overflow-x: hidden;
    overflow-y: scroll;

    height: calc(100vh - 72px - 29px - 19px - 26px);

    margin: 0;
    margin-right: 2px;
    padding: 3px 20px 0 24px;
}

.screensFrameList {
    margin: 0;
    padding: 3px 18px 0 20px;
}

.mainRightMenu_2_selectScreen {
    overflow-x: hidden;
    overflow-y: scroll;

    height: calc(100vh - 72px - 75px - 25px - 130px);
}

.foldersFrameList::-webkit-scrollbar,
.wrapScreensFrameList::-webkit-scrollbar,
.mainRightMenu_2_selectScreen::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.foldersFrameList::-webkit-scrollbar-thumb,
.wrapScreensFrameList::-webkit-scrollbar-thumb,
.mainRightMenu_2_selectScreen::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.folder {
    box-sizing: border-box;

    width: 296px;
    height: 75px;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.frame {
    position: relative;

    display: flex;

    box-sizing: border-box;

    margin: 0;
    margin-bottom: 16px;
    padding: 8px 8px 20px 16px;

    border: 1px solid transparent;

    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.folderCard {
    position: relative;

    box-sizing: border-box;

    width: 296px;

    height: 128px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    border: 1px solid transparent;
    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.folder.active,
.folderCard.active,
.frame.active,
.folder.active:hover,
.folderCard.active:hover,
.frame.active:hover {
    border: 1px solid #3b51f9;
    outline: 3px solid #c1c8fd;

    /* box-shadow: 0 0 0 3px #c1c8fd; */
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.folder.active.activeScreen,
.folderCard.active.activeScreen {
    border: none;
}

.folder:hover,
.folderCard:hover,
.frame:hover {
    box-shadow: 2px 18px 28px rgb(166 171 195 / 19%);
}

.frameInfo {
    position: relative;

    width: 45%;

    margin: 0;
    padding: 8px 12px 0;
}

.frameTags {
    width: 45%;

    margin: 0;
    padding: 12px 12px 0;
}

/* .frameTags {
    display: flex;
    justify-content: center;
} */

.frameInfo.disabled,
.frameTags.disabled {
    opacity: 0.4;
}

.frame.disabled,
.frame.disabled:hover {
    cursor: auto;

    box-shadow: none;
}

.folderName {
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
    padding-top: 16px;
    padding-left: 16px;

    color: #191919;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.folderName span {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.folderStatistics {
    position: relative;

    display: flex;

    padding-left: 36px;
}

.folderItem {
    margin: 0;
    margin-right: 40px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.folderItem:last-child {
    margin-right: 0;
}

.folderItemOnline::before {
    position: absolute;
    top: 2px;
    left: 16px;

    width: 12px;
    height: 12px;

    content: url('../../../../assets/pointGreenOn_12x12.svg');
}

.folderItemOffline::before {
    position: absolute;
    top: 2px;
    left: 64px;

    width: 12px;
    height: 12px;

    content: url('../../../../assets/pointGreenOff_12x12.svg');
}

.folderItemError::before {
    position: absolute;
    top: 2px;
    left: 110px;

    width: 12px;
    height: 12px;

    content: url('../../../../assets/pointGreenError_12x12.svg');
}

.folderCard img {
    margin: 16px 16px 0;
}

.folderCardInfo {
    position: relative;

    display: flex;
}

.folderCardInfoText {
    width: calc(100% - 48px - 48px);
    height: 57px;
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
}

.folderCardInfo::after {
    position: absolute;
    bottom: 8px;
    left: 16px;

    width: calc(100% - 32px);
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.folderNameCard {
    overflow: hidden;

    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    padding-top: 17px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.folderAddressCard {
    overflow: hidden;

    margin: 0;
    margin-bottom: 17px;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.folderItemCard {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    padding-left: 16px;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.folderItemCard span {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.screensFrame {
    position: relative;

    width: 100%;
    min-width: 550px;

    margin: 0;
    margin-right: 2px;
    padding: 0;
}

.screensFrame::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: calc(100vh - 72px - 30px);

    content: '';

    background: #dddfee;
}

.screensFrameCheckbox {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 20px;
    padding: 0 34px 0 20px;
}

.frame::after {
    position: absolute;

    top: 20px;
    left: 50%;

    width: 1px;
    height: 84px;

    content: '';

    background: #f2f3f5;
}

.wrapperIconStatus {
    width: 18px;
    height: 18px;

    margin: 8px 0 0;
    padding: 0;

    background-repeat: no-repeat;
}

.iconStatusOn {
    background-image: url('../../../../assets/pointGreenOn_18x18.svg');
}

.iconStatusOff {
    background-image: url('../../../../assets/pointGreenOff_18x18.svg');
}

.iconStatusError {
    background-image: url('../../../../assets/pointGreenError_18x18.svg');
}

.frameName {
    overflow: hidden;

    /* width: 230px; */
    height: 17px;

    margin: 0;
    margin-bottom: 5px;
    padding: 0 12px 0 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.frameItem {
    overflow: hidden;

    /* width: 230px; */
    height: 18px;

    margin: 0;
    padding: 0 12px 0 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.frameAddress {
    overflow: hidden;

    /* width: 230px; */
    height: 18px;

    margin: 0;
    margin-bottom: 10px;
    padding: 0 12px 0 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.frameScreenResolution {
    position: relative;

    max-width: 130px;

    margin: 0;
    padding: 0;
    padding-left: 30px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.frameScreenResolution span {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.frameScreenResolution::before {
    position: absolute;
    top: -4px;
    left: -1px;

    width: 22px;
    height: 22px;

    content: url('../../../../assets/iconDesktop.svg');
}

.screenResolutionTablet::before {
    position: absolute;
    top: -4px;
    left: -1px;

    width: 22px;
    height: 22px;

    content: url('../../../../assets/iconTablet.svg');
}

.tagButton {
    position: relative;

    display: flex;

    margin: 0;
    padding: 0;

    flex-wrap: wrap;
}

.frameTags .tagButton button {
    position: relative;

    margin: 0;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 4px 12px 5px;

    color: #101431;
    border: none;
    border-radius: 3px;

    background: #f0f0f5;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

/*
.tagButton button::after {
    content: url("../../assets/iconX.svg");
    position: absolute;
    top: 3px;
    right: 5px;

    width: 16px;
    height: 17px;
} */

.fieldTagButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 0;
    margin-top: 6px;
    padding: 0;
}

.fieldTagButton img {
    margin-bottom: 8px;
}

.tagButtonInfo {
    position: relative;

    width: 156px;
    height: 34px;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

/* Стили для меню справа (Все экраны, Настройки, Настройки экрана */

.mainRightMenu_1 {
    display: none;

    background: #fff;
}

/*
.mainRightMenu_2 {
    display: none;
    background: #FFF;
}
*/

.mainRightMenu_2 {
    display: flex;
    flex-direction: column;

    width: 340px;

    margin: 0;
    padding: 0;

    background: #fff;
}

.mainRightMenu_2 .tagButton {
    width: 231px;
}

.mainRightMenu_2 .frame {
    width: 292px;

    margin: 10px 24px 16px;
    padding: 8px 8px 0 16px;

    border: 1px solid #dddfee;
    border-radius: 6px;
}

.frameSelect {
    width: 224px;
    margin: 0;
    padding: 0;
}

.mainRightMenu_2 .frameInfo {
    margin: 0;
    margin-bottom: 22px;
    padding: 8px 10px 0 11px;
}

.mainRightMenu_2 .frameTags {
    width: 230px;

    margin: 0;
    padding: 0;
}

.mainRightMenu_2 .frame::after {
    display: none;
}

.mainRightMenu_2 .tagButtonLine {
    position: relative;
}

.mainRightMenu_2 .tagButtonLine:first-child::after {
    position: absolute;
    top: -13px;
    left: 0;

    width: 231px;
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.mainRightMenu_2 .tagButtonLine:last-child {
    padding-bottom: 20px;
}

.mainRightMenu_1 h2,
.mainRightMenu_2 h2 {
    width: 292px;
    height: 26px;
    margin: 25px 24px 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
}

.mainRightMenu_2 h2 {
    margin-bottom: 13px;
}

.mainRightMenu_1 p {
    width: 228px;
    margin: 0;
    margin-bottom: 260px;
    padding: 0;
    padding-left: 56px;

    text-align: center;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.mainRightMenu_2_item {
    width: 228px;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.btnNextStepField {
    z-index: 2;

    width: 340px;
    height: 144px;

    margin: 0;
    padding: 0;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 167 195 / 30%);
}

.btnNextStep {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 292px;
    height: 42px;

    margin: 0 0 0 24px;
    padding: 0;

    cursor: pointer;

    color: #fff;

    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnNextStep img {
    order: 1;

    margin-left: 12px;

    content: url('../../../../assets/iconArrowWhite_22x22.svg');
}

.btnNextStep:hover {
    background: #3b51f9;
}

.btnNextStep:active {
    background: #1026cf;
}

.btnNextStep:disabled {
    cursor: auto;

    background: #babee6;
}

.wrapperBtnCancelSelect {
    display: flex;
    justify-content: flex-end;
    gap: 6px;

    width: 292px;

    margin: 0;
    margin-left: 24px;
    padding: 0;
}

.btnCancelSelect {
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #1f36e5;

    border: none;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSaveChangeExit {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 20px 0 16px 24px;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSaveChangeExit:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
}

.btnSaveChangeExit:hover:not(:disabled) {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnSaveChangeExit:active:not(:disabled) {
    color: #fff;
    background: #1026cf;
}

.iconInfo {
    width: 24px;
    height: 24px;

    margin: 0;
    padding: 0;

    background-image: url('../../../../assets/infoDefault.svg');
    background-repeat: no-repeat;
}

.iconInfo:hover {
    background-image: url('../../../../assets/info.svg');
}

.wrapMainRightMenu_2 {
    /* overflow-x: hidden;
    overflow-y: scroll; */
    z-index: 1;

    overflow: hidden;

    margin-right: 2px;
    flex: 1 0 auto;
}

/* .wrapMainRightMenu_2::-webkit-scrollbar {
    width: 6px;
} */

/* .wrapMainRightMenu_2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
} */

.dropArea {
    height: calc(100vh - 320px);
}

.mainRightMenu_2Empty {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 72px - 75px - 144px);
}

@media (min-width: 1536px) {
    .foldersFrame {
        width: 402px;
    }

    .folder,
    .folderCard {
        width: 357px;
    }
}

@media (min-width: 1920px) {
    .foldersFrame {
        width: 539px;
    }

    .folder,
    .folderCard {
        width: 494px;
    }
}

.selectPlaylistTags {
    position: relative;

    width: calc(100% - 44px);
    margin: 0 24px 16px 20px;

    padding: 0;

    border-radius: 6px;
    background: #fff;
}

.infoBtn .tooltiptext {
    z-index: 1;

    visibility: hidden;

    margin: 0;
    padding: 4px 12px;

    color: #fff;
    border-radius: 6px;

    background: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.frame .infoBtn .tooltiptext {
    position: absolute;
    top: 8px;
    right: 35px;

    width: 225px;

    opacity: 1;
}

.frame .infoBtn .tooltiptext::after {
    position: absolute;
    top: 6px;
    right: -14px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent #101431;
}

.infoBtn:hover .tooltiptext {
    visibility: visible;
}

.frameScreenResolution .infoBtn {
    position: absolute;
    top: -2px;
    left: -2px;

    width: 22px;
    height: 22px;
}

.frameScreenResolution .infoBtn::before {
    content: '';
}

.frameScreenResolution .infoBtn .tooltiptext {
    top: -3px;
    left: 30px;
}

.frameScreenResolution .infoBtn .tooltiptext::after {
    position: absolute;
    top: 7px;
    right: auto;
    left: -14px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: transparent #101431 transparent transparent;
}
