.uploadModal {
    position: relative;
    top: 50%;
    left: 50%;

    width: 360px;

    margin: 0;
    padding: 50px 88px 56px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.fieldUploadModalHeader {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.uploadModalHeader {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.fieldUploadModalItemOne {
    box-sizing: border-box;

    margin: 0;
    margin-bottom: 8px;
    padding: 35px 48px 34px;

    border: 1px dashed #dddfee;
    border-radius: 6px;
}

.uploadModalItemOne {
    margin: 0;
    padding: 0;

    text-align: center;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.uploadModalItemOne a {
    color: #3b51f9;

    font-weight: 500;
}

.uploadModalItemOne.disabled a {
    cursor: auto;

    color: #babee6;
}

.fieldUploadModalItemTwo {
    margin: 0;
    padding: 0;
}

.wrapperUploadModalItemTwo {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}

.uploadModalItemTwo {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.uploadModalItemTwo:last-child {
    margin-bottom: 0;
}

.uploadModalItemTwo a {
    color: #3b51f9;

    font-weight: 500;
}

.uploadModalItemTwo span {
    font-weight: 600;
}

.uploadModalItemTwoError {
    margin: 0 0 12px;

    color: #f92424;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 0 0 16px;
    padding: 10px;

    border-radius: 6px;
    background: lightgoldenrodyellow;
}

.containerInfoText {
    display: flex;
    gap: 4px;

    margin: 0;
    padding: 0;
}

.containerInfoSvg {
    margin-right: 2px;
}

.containerInfoSvg:last-child {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

.containerInfoText p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.containerInfoBtn {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.containerInfoBtn a {
    margin: 0;
    padding: 0;

    color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.fieldUploadModalItemItemThree {
    overflow-y: scroll;

    /* height: 280px; */
    margin: 0;
    margin-top: 24px;
    padding: 0;
}

.fieldUploadModalItemItemThree::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.fieldUploadModalItemItemThree::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.fieldUploadModalDownloadFile {
    display: flex;

    /* justify-content: space-between;
    align-items: center; */
    width: 342px;

    margin: 0;
    margin-bottom: 11px;
    padding: 0;
}

.fieldUploadModalDownloadFile:last-child {
    margin-bottom: 38px;
}

.uploadModalItemItemThreeImg {
    width: 32px;
    height: 32px;

    margin: 0;
    margin-right: 12px;
    padding: 0;

    background: #ebeefd;
}

.uploadModalItemItemThreeImg img,
.uploadModalItemItemThreeImg video {
    width: 32px;
    height: 32px;

    margin: 0;
    padding: 0;

    border-radius: 2px;
}

.fieldAboutInfo {
    display: flex;
    flex-direction: column;

    width: 266px;

    margin: 0;
    margin-right: 9px;
    padding: 0;
}

.uploadModalItemItemThree {
    margin: 0;
    padding: 0;

    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

.uploadModalItemSizeError {
    margin-top: 3px;
}

.uploadModalItemItemError {
    /* display: none; */
    display: block;

    color: #f92424;
}

.uploadModalItemItemSize {
    /* display: none; */
    color: #9093ae;
}

.fieldBtn {
    display: flex;
    justify-content: space-between;

    margin: 16px 0 0;
    padding: 0;
}

.btnDownloadContentDelete {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    border: none;
    background: url('../../../../assets/iconXDisabled_24x24.svg') no-repeat;
}

.btnDownloadContentDelete:hover {
    background: url('../../../../assets/iconX_Blue_24x24.svg');
}

.btnDownloadContent {
    position: relative;

    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnDownloadContent:active {
    background: #1026cf;
}

.btnDownloadContent:disabled {
    cursor: auto;

    color: #fff;
    border: none;
    background: #babee6;
}

.btnDownloadContent:hover:not(:disabled) {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnDownloadContent.select {
    width: 360px;
    margin-bottom: 12px;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;

    margin: 0;
    padding: 10px 51px;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;

    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

/* .buttonCancel:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
} */

.uploadModalView {
    width: 401px;
}

.fieldUploadModalDownloadFileView {
    justify-content: space-between;
    align-items: center;

    width: 395px;
}

.wrapperTabsUploadModal {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.tabLinkUploadModal {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 188px;
    height: 43px;

    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
}

.tabLinkUploadModalCurrent {
    position: relative;

    color: #101431;
}

.tabLinkUploadModalCurrent::after {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    background: #3b51f9;
}

.uploadModalStepNumber {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 24px;
    height: 24px;

    margin: 0;
    margin-right: 24px;
    padding: 0;

    color: #1f36e5;

    border: 1px solid #1f36e5;
    border-radius: 50%;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.wrapperAbouInfoParts {
    margin: 0;
    padding: 0;
}

.wrapperAbouInfoParts .uploadModalItemOne {
    text-align: left;
}

.btnDownloadContentDeleteView {
    margin-right: 23px;
}

.btnDots {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    border: none;
    background: url('../../../../assets/iconDots_22x22.svg') no-repeat;
}
