.passwordNew {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 360px;
    height: 392px;
    margin: auto;
    padding: 0;
    padding-right: 88px;
    padding-left: 88px;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.passwordNew h2 {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 19px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.passwordNewParagraph {
    width: 300px;
    height: 24px;
    margin: 0;
    margin-bottom: 26px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.passwordNewParagraph span {
    font-weight: 700;
}

.passwordNew input {
    outline: none;
}

.newPasswordInput {
    box-sizing: border-box;
    width: 360px;

    margin: 0 8px 0 0;

    padding: 9px 42px 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.newPasswordInput:hover {
    border: 1px solid #bec1d2;
}

.newPasswordInput:active,
.newPasswordInput:focus {
    border: 1px solid #566dec;
}

.newPasswordInput.valid {
    border: 1px solid #18c55d;
}

.newPasswordInput.error {
    border: 1px solid #f92424;
}

.btnChangePassword {
    width: 360px;
    height: 42px;
    margin: 0;
    padding: 0;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnChangePassword:hover {
    cursor: pointer;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnChangePassword:active {
    background: #1026cf;
}

.btnChangePassword:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

.iconX {
    position: absolute;
    top: 32px;
    right: 33px;

    width: 22px;
    height: 22px;

    content: url('../../../../assets/iconX.svg');

    cursor: pointer;
}

/* Текст подсказки */

.tooltiptext {
    margin: 0;
    padding: 4px 12px;

    text-align: center;

    color: #fff;
    border-radius: 6px;

    background: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.tooltip .tooltiptext {
    position: absolute;
    z-index: 1;

    top: 5px;
    right: -124px;

    visibility: hidden;

    width: 100px;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: 8px;
    left: -9px;

    margin-left: -4px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: transparent #101431 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

    transition-delay: .7s;
}

.enterPass,
.confirmPass {
    position: relative;

    margin: 0;
    padding: 0;
}

.enterPass {
    margin-bottom: 20px;
}

.confirmPass {
    height: 62px;
    margin-bottom: 20px;
}

.iconEye {
    cursor: pointer;
}

.enterPass .iconEyeOpened {
    position: absolute;
    top: 10px;
    right: 12px;

    width: 22px;
    height: 22px;

    background-image: url('../../../../assets/iconEye.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.enterPass .iconEyeClosed {
    position: absolute;
    top: 10px;
    right: 12px;

    width: 22px;
    height: 22px;

    background-image: url('../../../../assets/iconEyeClosed.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.confirmPass .iconEyeOpened {
    position: absolute;
    top: 10px;
    right: 12px;

    width: 22px;
    height: 22px;

    background-image: url('../../../../assets/iconEye.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.confirmPass .iconEyeClosed {
    position: absolute;
    top: 10px;
    right: 12px;

    width: 22px;
    height: 22px;

    background-image: url('../../../../assets/iconEyeClosed.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.errorPassword {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

@media (min-width: 320px) and (max-width: 428px) {
    .passwordNew {
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;
    }

    .passwordNew h2 {
        position: relative;

        width: 288px;

        margin: 159px auto 15px;
        padding: 0;

        font-size: 20px;
        line-height: 24px;
    }

    .passwordNew h2::before {
        position: absolute;
        bottom: 111px;
        left: 0;

        width: 90px;
        height: 30px;

        content: url('../../../../assets/bigLogo.svg');
    }

    .passwordNewParagraph {
        width: 288px;

        margin: 0 auto 24px;
        padding: 0;

        font-size: 14px;
        line-height: 20px;
    }

    .enterPass,
    .confirmPass {
        width: 288px;
        margin-right: auto;
        margin-left: auto;
    }

    .newPasswordInput {
        width: 288px;
        margin: 0;
    }

    .fieldBtnChangePassword {
        width: 288px;
        margin: 0 auto;
    }

    .btnChangePassword {
        width: 288px;
    }

    .iconX {
        display: none;
    }

    .tooltiptext {
        display: none;
    }
}
