.passwordChanged {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 835px;
    height: 279px;
    margin: auto;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 8px 32px rgb(166 171 195 / 32%);
}

.passwordChanged::before {
    position: absolute;
    top: 45px;
    left: 69px;

    width: 141px;
    height: 141px;

    content: '';

    background-image: url('../../../../assets/imageOfAccessRights.png');
    background-size: cover;
}

.passwordChanged h2 {
    width: 512px;
    height: 41px;
    margin: 50px 88px 8px 235px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.passwordChangedParagraph {
    width: 512px;
    height: 48px;
    margin: 0 88px 34px 235px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.passwordChangedParagraph span {
    font-weight: 700;
}

.btnSignIn {
    width: 216px;
    height: 42px;
    margin: 0;
    margin-left: 235px;
    padding: 0;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSignIn:hover {
    cursor: pointer;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnSignIn:active {
    background: #1026cf;
}

/* Mobile screen */

@media (min-width: 320px) and (max-width: 428px) {
    .passwordChanged {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .passwordChanged::before {
        opacity: 0;
    }

    .passwordChanged h2 {
        position: relative;

        width: 288px;

        margin: 192px auto 15px;
        padding: 0;

        font-size: 20px;
        line-height: 24px;
    }

    .passwordChanged h2::before {
        position: absolute;
        bottom: 144px;
        left: 0;

        width: 90px;
        height: 30px;

        content: url('../../../../assets/bigLogo.svg');
    }

    .passwordChangedParagraph {
        width: 288px;

        margin: 0 auto 24px;
        padding: 0;

        font-size: 14px;
        line-height: 20px;
    }

    .fieldBtnSignIn {
        width: 288px;

        margin: 0 auto;
    }

    .btnSignIn {
        width: 288px;
        margin: 0 auto;
    }
}
