/* Стили меню(в центре) - начало */
.createPlaylistCenterBlock {
    overflow-y: scroll;

    width: 100%;
    height: calc(100vh - 72px - 48px);
    margin: 0 2px 0 0;
    padding: 24px 0;

    background: #f7f7f9;
}

.createPlaylistCenterBlock::-webkit-scrollbar,
.mainRightMenuSetupAllList::-webkit-scrollbar,
.wrapRightMenuScheduleSetup::-webkit-scrollbar {
    width: 6px;
}

.wrapFieldRightMenuSetup::-webkit-scrollbar {
    height: 6px;
}

/* ползунок скроллбара */
.createPlaylistCenterBlock::-webkit-scrollbar-thumb,
.wrapFieldRightMenuSetup::-webkit-scrollbar-thumb,
.mainRightMenuSetupAllList::-webkit-scrollbar-thumb,
.wrapRightMenuScheduleSetup::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.createPlaylistCenterBlock h2 {
    margin: 0;
    margin-top: 29px;
    margin-bottom: 20px;
    margin-left: 24px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.createPlaylistCenterBlockItem {
    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

/* Стили для меню справа (Все экраны, Настройки, Настройки экрана */

.mainRightMenuSetup {
    display: flex;
    flex-direction: column;

    width: 340px;
    height: calc(100vh - 72px);
    margin: 0;
    padding: 0;

    background: #fff;
}

.wrapMainRightMenuSetup {
    flex: 1 0 auto;
}

.mainRightMenuSetup h2 {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 29px;
    margin-left: 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnDownloadContent {
    position: relative;

    box-sizing: border-box;

    width: 292px;
    height: 42px;
    margin: 0;
    margin-bottom: 32px;
    margin-left: 24px;
    padding: 0;
    padding-left: 12px;

    cursor: pointer;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnDownloadContent::before {
    position: absolute;
    top: 10px;
    left: 52px;

    content: url('../../../../assets/iconDownloadBlue.svg');
}

.btnDownloadContent:hover::before {
    content: url('../../../../assets/iconDownloadWhite.svg');
}

.btnDownloadContent:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnDownloadContent:active {
    color: #fff;
    background: #1026cf;
}

.btnDownloadContent:disabled {
    cursor: auto;

    color: #fff;
    border: none;
    background: #babee6;
}

.btnDownloadContent:disabled::before {
    content: url('../../../../assets/iconDownloadWhite.svg');
}

.wrapFieldRightMenuSetup {
    display: flex;

    overflow-x: scroll;

    width: 292px;
    height: 110px;

    margin: 0 0 23px 24px;
    padding: 0;
}

.fieldRightMenuSetup {
    display: flex;

    margin: 3px 0 0 3px;
    padding: 0;
}

.fieldRightMenuSetup img {
    margin: 12px 0 7px;
    padding: 0;
}

.fieldRightMenuSetup li {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 86px;
    height: 88px;

    margin: 0;
    margin-right: 16px;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.fieldRightMenuSetup a {
    overflow: hidden;

    width: 70px;

    text-overflow: ellipsis;
}

.lastFolderRightMenuSetup {
    position: relative;

    display: flex;
    align-items: flex-end;

    margin: 0;
    padding: 0;
}

.fieldRightMenuSetup li:hover {
    box-sizing: border-box;

    border: 1px solid #3b51f9;
    border-radius: 6px;
}

.fieldRightMenuSetup li:active,
.fieldRightMenuSetup li.active {
    border-radius: 6px;
    box-shadow: 0 0 0 3px #c1c8fd;
}

.fieldRightMenuSetup li:last-child:hover {
    border: none;
}

.fieldRightMenuSetup li:last-child:active {
    box-shadow: none;
}

.mainRightMenuSetupAllList {
    overflow-y: auto;

    width: 340px;

    height: calc(100vh - 72px - 184px - 94px - 42px - 150px);
    margin: 0;
    padding: 0;

    cursor: pointer;
}

.wrapRightMenuScheduleSetup {
    overflow-y: scroll;

    height: calc(100vh - 72px - 144px);

    margin-right: 2px;
}

.wrapRightMenuScheduleSetup.oneButton {
    height: calc(100vh - 72px - 86px);
}

.mainRightMenuSetupList {
    display: flex;
    flex-wrap: wrap;

    margin: 0 0 0 24px;
    padding: 0;
}

.mainRightMenuSetupItem {
    box-sizing: border-box;

    width: 138px;

    margin: 0;
    padding: 0;
}

.mainRightMenuSetupItem:nth-child(2n) {
    margin-right: 0;
}

.contentImage {
    object-fit: cover;

    border-radius: 6px;
}

.btnStartScreensField {
    width: 340px;

    margin: 0;
    padding: 20px 0 24px;

    background: #fff;
    box-shadow: 0 -20px 20px -7px rgb(166 167 195 / 13%);
}

.btnStartScreens {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 292px;
    height: 42px;
    margin: 0 0 0 24px;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnStartScreens img {
    margin-left: 12px;

    order: 1;

    content: url('../../../../assets/iconArrowWhite_22x22.svg');
}

.btnStartScreens:hover {
    background: #3b51f9;
}

.btnStartScreens:active {
    background: #1026cf;
}

.btnStartScreens:disabled {
    cursor: auto;

    background: #babee6;
}

.btnSaveChangeExit {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0 0 0 24px;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSaveDraft {
    margin-bottom: 16px;
}

.btnSaveChangeExit:active {
    color: #fff;
    background: #1026cf;
}

.btnSaveChangeExit:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
}

.btnSaveChangeExit:disabled.editStep {
    cursor: auto;

    color: #fff;
    background: #babee6;
}

.btnSaveChangeExit:hover:not([disabled]) {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.hoverEffectBtn {
    position: relative;

    margin-right: 16px;
    margin-bottom: 16px;

    border: 1px solid transparent;
}

.hoverEffectBtn:hover {
    border: 1px solid #dddfee;
    border-radius: 6px;
    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.hoverEffectBtn:nth-child(2n) {
    margin-right: 0;
}

.foldersFrame .hoverEffectBtn {
    width: 170px;
    height: 218px;

    margin: 0;
    margin-right: 12px;
    padding: 0;

    border-radius: 6px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.overlayTrash {
    position: absolute;

    z-index: 1;
    top: 16px;
    left: 16px;

    content: url('../../../../assets/iconTrash_22x22.svg');

    opacity: 0;
}

.overlayTrash:hover {
    content: url('../../../../assets/iconTrashHover_22x22.svg');
}

.overlayScreen {
    position: absolute;

    z-index: 1;

    top: 117px;
    left: 8px;

    width: 18px;
    height: 13px;

    content: '';

    transform: rotate(90deg);

    opacity: 0;

    border: 1.2px solid #fff;
    border-radius: 2px;
}

.overlayScreen.horizontal {
    transform: none;
}

.overlayScreenResolution {
    position: absolute;

    z-index: 1;

    top: 117px;
    right: 8px;

    width: 90px;
    height: 13px;

    opacity: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    line-height: 13px;
}

.mainRightMenuSetupAllList .hoverEffectBtn .overlayTrash {
    position: absolute;

    z-index: 1;

    top: 8px;
    left: 8px;
}

.contentPlaylistImagesName {
    width: 122px;

    margin: 0;
    padding: 0;
}

.contentPlaylistImagesName p {
    display: none;

    overflow: hidden;

    margin: 7px 8px 26px;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.scheduleSetupParagraph {
    margin: 0 0 20px 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.scheduleSetupParagraph:nth-child(3n) {
    margin-top: 27px;
    margin-bottom: 16px;
}

.scheduleSetupParagraph1 {
    margin: 0 0 10px 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.scheduleSetupParagraphDate {
    margin-top: 20px;
    margin-left: 0;
}

.scheduleSetupParagraph2 {
    width: 199px;

    margin: 0;
    margin-left: 24px;
    padding: 0;
    padding-left: 7px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.fieldScheduleSetupPriority {
    position: relative;

    display: flex;

    margin: 0 0 10px 24px;
    padding: 0;
}

.fieldScheduleSetupPriority .scheduleSetupParagraph1 {
    margin: 0;
}

.fieldScheduleSetupPriority img {
    margin-left: 8px;

    order: 1;

    content: url('../../../../assets/iconStarGrey.svg');
}

/* .wrapRightMenuScheduleSetup .fieldScheduleSetupSelect p {
    margin-left: 31px;
} */

.hoverEffectBtn:hover .contentPlaylistImagesName p {
    display: block;
}

.hoverEffectBtn:hover .mainRightMenuSetupItem img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.hoverEffectBtn:hover .overlayTrash,
.hoverEffectBtn:hover .overlayScreen,
.hoverEffectBtn:hover .overlayScreenResolution {
    opacity: 1;
}

.blackoutOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 138px;
    height: calc(100% - 48px);

    transition: 0.3s ease;

    opacity: 0;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background: rgb(15 16 31 / 40%);
}

.playlistCreationCardItem .blackoutOverlay {
    top: 8px;
    left: 8px;

    width: 154px;
    height: 154px;

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hoverEffectBtn:hover .blackoutOverlay {
    opacity: 1;
}

.tooltip {
    position: relative;
}

/* Текст подсказки */

.tooltiptext {
    margin: 0;
    padding: 4px 12px;

    color: #fff;
    border-radius: 6px;

    background: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.tooltip .tooltiptext {
    position: absolute;

    bottom: -35px;
    left: 30px;

    visibility: hidden;
}

.playlistCreationCardItemLast .tooltiptext {
    position: absolute;

    bottom: 40px;
    left: calc(100% - 176px);

    visibility: hidden;
}

.btnDownloadContent .tooltiptext {
    position: absolute;

    z-index: 1;

    top: 50px;
    right: 0;

    visibility: hidden;
}

.fieldScheduleHint1 .tooltiptext,
.fieldScheduleHint3 .tooltiptext {
    position: absolute;
    z-index: 1;

    right: 20px;
    bottom: -115px;

    visibility: hidden;

    width: 236px;
}

.fieldScheduleHint2 .tooltiptext {
    position: absolute;
    z-index: 1;

    right: 20px;
    bottom: 30px;

    visibility: hidden;

    width: 236px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.playlistCreationCardItemLast:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.btnDownloadContent:hover .tooltiptext {
    visibility: visible;

    transition-delay: 1s;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: -12px;
    left: 48px;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.playlistCreationCardItemLast .tooltiptext::after {
    position: absolute;
    top: -12px;
    left: 85px;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.btnDownloadContent .tooltiptext::after {
    position: absolute;

    top: -12px;
    right: 140px;

    content: ' ';

    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.fieldScheduleHint1 .tooltiptext::after,
.fieldScheduleHint3 .tooltiptext::after {
    position: absolute;
    top: -14px;
    right: 10px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #101431;
}

.fieldScheduleHint2 .tooltiptext::after {
    position: absolute;
    top: 48px;
    right: 10px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: #101431 transparent transparent;
}

.fieldScheduleHint1:hover .tooltiptext,
.fieldScheduleHint2:hover .tooltiptext,
.fieldScheduleHint3:hover .tooltiptext {
    visibility: visible;

    transition-delay: 0.7s;
}

.btnNextStep {
    position: relative;

    width: 292px;
    height: 42px;

    margin: 76px 0 0 24px;
    padding: 0;
    padding-left: 48px;

    cursor: pointer;
    text-align: left;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnNextStep::after {
    position: absolute;

    top: 10px;
    right: 50px;

    content: url('../../../../assets/iconArrowWhite_22x22.svg');
}

.btnNextStep:hover {
    background: #3b51f9;
}

.btnNextStep:active {
    background: #1026cf;
}

.btnNextStep:disabled {
    background: #babee6;
}

.delayInput {
    width: 25px;

    border: none;

    outline: none;

    background: none;

    font-size: 16px;
    line-height: 19px;
}

.delayInput:hover {
    cursor: auto;
}

/*
.spanInput {
    display: inline-block;

    width: 30px;

} */

.spanInput:hover {
    cursor: auto;
}

/* .tooltiptext.uploadTooltiptext {
    top: auto;
    bottom: -31px;
    left: calc(50% - 275px / 2);

    overflow: unset;

    width: 250px;

    white-space: normal;

    color: #fff;
    background: #101431;
}

.tooltiptext.uploadTooltiptext.disabled {
    bottom: -71px;
}

.tooltiptext.uploadTooltiptext::after {
    top: -12px;
    left: calc(50% - 14px / 2);

    border-color: transparent transparent #101431 transparent;
} */

/* Style right block menu Schedule */

.wrapRightMenuScheduleSetup h2 {
    margin-top: 27px;
    margin-bottom: 25px;
}

.fieldScheduleSetupNextDay {
    position: relative;
    display: flex;
    align-items: center;
    height: 20px;
    margin: 5px 0 0;
    padding: 0;
}

.fieldScheduleSetupNextDay .checkboxFreeSlotOn,
.fieldScheduleSetupNextDay .checkboxFreeSlotOff {
    top: 0;
}

.scheduleSetupParagraph2NextDay {
    /* width: 134px; */
    width: 100%;

    margin: 0;
    padding: 0 0 0 30px;

    color: #6c6e82;
}

.scheduleSetupParagraph1.disabled {
    opacity: 0.5;
}

.scheduleSetupDayActive {
    width: 19px;

    margin: 0;
    margin-right: 18px;
    padding: 0;

    text-align: center;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.fieldScheduleSetupSelect {
    position: relative;

    margin: 0;
    margin-bottom: 20px;
    margin-left: 24px;
    padding: 0;
}

.fieldScheduleSetupSelectItem {
    margin-bottom: 24px;
}

.checkboxFreeSlotOff {
    position: absolute;

    top: 5px;
    left: 0;

    width: 20px;
    height: 20px;

    content: url('../../../../assets/checkboxOff.svg');
}

.checkboxFreeSlotOn {
    position: absolute;

    top: 5px;
    left: 0;

    width: 20px;
    height: 20px;

    content: url('../../../../assets/checkboxOn.svg');
}

.checkboxFreeSlotDisabled {
    position: absolute;

    top: 5px;
    left: 0;

    width: 20px;
    height: 20px;

    content: url('../../../../assets/checkboxDisabled.svg');

    border: 1px solid #d9dae4;
    border-radius: 2px;
    background: #f7f7f9;
}

.fieldScheduleSetupSelectItem .checkboxFreeSlotOff,
.fieldScheduleSetupSelectItem .checkboxFreeSlotOn {
    top: -2px;
}

.iconInfoSchedule {
    position: absolute;

    top: 3px;
    right: 24px;

    width: 24px;
    height: 24px;

    content: url('../../../../assets/iconInfo24x24.svg');
}

.iconInfoSchedule:hover {
    content: url('../../../../assets/info.svg');
}

.wrapperScheduleSetupSelect {
    margin: 0 0 15px 24px;
    padding: 0;
}

.fieldScheduleSetupSelectTime {
    position: relative;

    margin: 29px 0 20px 24px;
    padding: 0;
}

.fieldScheduleSetupSelectTime .scheduleSetupParagraph {
    margin: 0;
}

.fieldScheduleSetupSelectTime .iconInfoSchedule {
    top: -3px;
}

.customResolutionInputContainer {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 292px;
    margin: 0 0 13px 24px;
    padding: 0;
}

.customResolutionInput {
    position: relative;

    box-sizing: border-box;

    width: 134px;
    height: 42px;

    margin: 0;
    padding: 10px 20px;

    color: #6c6e82;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.customResolutionInputError {
    border: 1px solid #f92424;
}

.customResolutionInput:disabled {
    background: #f7f7f9;
}

.customResolutionInputContainer::before {
    position: absolute;
    top: 10px;
    left: 143px;

    content: '-';

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

/* .iconStarSchedule {
    position: absolute;
    top: 3px;
    left: 80px;

    width: 12px;
    height: 12px;

    content: url('../../../../assets/iconStarGrey.svg');
} */

.errorScheduleSelectDate,
.errorScheduleSelectMonth,
.errorScheduleSelectYear,
.errorScheduleSelectTime,
.errorScheduleSelect {
    width: 292px;

    margin: 0;
    padding: 0;

    color: #e41d1d;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.fieldScheduleSetupSelect .errorScheduleSelectDate {
    margin-top: 5px;
}

.errorScheduleSelect {
    margin-left: 24px;
}

.scheduleSetupWeek {
    display: flex;

    width: 236px;
    height: 42px;

    margin: 0 0 20px 24px;
    padding: 0;
}

.scheduleSetupWeek.disabled > div {
    opacity: 0.5;
}

.scheduleSetupDay {
    position: relative;
}

.scheduleSetupDay .checkboxFreeSlotOn,
.scheduleSetupDay .checkboxFreeSlotOff {
    top: 20px;
    left: 0;
}

.fieldScheduleSetupSelectClock {
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}

.fieldScheduleSetupSelectClock .customResolutionInputContainer {
    margin-bottom: 5px;
}

.fieldScheduleSetupSelectClock .errorScheduleSelectTime {
    margin-left: 24px;
}
