.popupAddPointSale {
    position: relative;
    top: 50%;
    left: 50%;

    width: 360px;

    margin: 0;
    padding: 50px 88px 56px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupAddPointSale h2 {
    margin: 0;
    margin-bottom: 23px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupAddPointSale label {
    display: block;

    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.enterNamePoint,
.enterCity,
.enterAddress {
    box-sizing: border-box;

    width: 360px;
    height: 42px;
    margin: 9px 0 16px;
    padding: 10px 42px 10px 20px;

    color: #101431;
    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.enterNamePoint:hover,
.enterCity:hover,
.enterAddress:hover {
    border: 1px solid #bec1d2;
}

.enterNamePoint:active,
.enterCity:active,
.enterAddress:active,
.enterNamePoint:focus,
.enterCity:focus,
.enterAddress:focus {
    border: 1px solid #566dec;
}

.fieldButtons {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.buttonAddScreen {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonAddScreen svg {
    margin-right: 12px;

    stroke: white;
}

.btnBlockScreen:hover,
.buttonAddScreen:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnBlockScreen:active,
.buttonAddScreen:active {
    background: #1026cf;
}

.btnBlockScreen:disabled,
.buttonAddScreen:disabled {
    cursor: auto;

    background: #babee6;

    box-shadow: none;
}

.popupDeleteScreen .btnCancel {
    position: relative;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;

    margin: 0;
    padding: 10px 51px;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;

    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
}
