.wrapperMainScreensAll {
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.wrapMainScreens {
    margin: 0;
    padding: 0;
}

.mainScreens {
    display: flex;

    width: 100%;

    margin: 0;
    padding: 0;
}

.centerBlockScreens {
    height: calc(100vh);

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.mainBlockScreen {
    display: flex;
    flex-direction: row-reverse;

    margin: 32px 0 37px;
    padding: 0 24px 0 0;
}

.btnBlockScreen {
    position: relative;

    display: flex;
    justify-content: center;

    width: 216px;
    height: 42px;
    margin: 0;
    padding: 10px 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnBlockScreen svg {
    margin-right: 12px;

    stroke: white;
}

.mainScreensAll {
    display: flex;

    width: 100%;
}

.mainScreensPage {
    display: flex;

    width: 100%;
}

.foldersFrame {
    position: relative;

    width: 412px;

    margin: 0;
    padding: 0;
}

.foldersFrame h2,
.screensFrame h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.screensFrame h2 {
    margin-bottom: 17px;
}

.screensPointsSale {
    display: flex;
    justify-content: space-between;

    margin: 0 0 9px;
    padding: 0 28px 0 24px;
}

.fieldBtnAddScreen {
    position: relative;

    margin: 0;
    padding: 0;
}

.wrapperFoldersFrameList,
.wrapperScreensFrameList {
    overflow-y: scroll;

    height: calc(100vh - 72px - 32px - 50px);

    margin: 0 2px 0 0;
    padding: 3px 20px 0 24px;
}

.wrapperScreensFrameList {
    padding: 3px 16px 0 20px;
}

.wrapperFieldRightMenu {
    overflow-y: scroll;

    height: calc(100vh - 72px - 122px);

    margin-right: 2px;

    flex: 1 0 auto;
}

.wrapperFoldersFrameList::-webkit-scrollbar,
.wrapperScreensFrameList::-webkit-scrollbar,
.wrapperFieldRightMenu::-webkit-scrollbar
/* .foldersFrameList::-webkit-scrollbar, */
/* .screensFrameList::-webkit-scrollbar*/ {
    width: 6px;
}

.wrapperScreensFrameList::-webkit-scrollbar {
    height: 6px;
}

/* ползунок скроллбара */
.wrapperFoldersFrameList::-webkit-scrollbar-thumb,
.wrapperScreensFrameList::-webkit-scrollbar-thumb,
.wrapperFieldRightMenu::-webkit-scrollbar-thumb
/* .foldersFrameList::-webkit-scrollbar-thumb,
.screensFrameList::-webkit-scrollbar-thumb*/ {
    border-radius: 10px;
    background: #dddfee;
}

/*
.screensFrameList::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
*/

.rightMenuSettingSelectLocation {
    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0 0 28px 24px;
    padding: 10px 42px 10px 20px;

    color: #6c6e82;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.folder {
    box-sizing: border-box;

    width: 367px;
    height: 75px;

    margin: 0 0 16px;
    padding: 15px;

    border: 1px solid transparent;

    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.folderCard {
    position: relative;

    box-sizing: border-box;

    width: 367px;
    height: 128px;
    margin: 0 0 16px;
    padding: 8px 8px 15px 15px;

    border: 1px solid transparent;

    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.imageMap {
    margin: 7px 16px 0 0;
}

.iconCardInfo {
    position: absolute;
    top: -1px;
    left: -8px;

    content: url('../../assets/iconWarningRed_20x20.svg');
}

.folderCardInfo {
    position: relative;

    display: flex;
}

.folderCardInfoText {
    overflow: hidden;

    width: 100%;
    height: 40px;

    margin: 8px 0 17px;
    padding: 0 17px 0 0;
}

.folderCardInfo::after {
    position: absolute;
    bottom: 8px;
    left: 16px;

    width: calc(100% - 32px);
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.frame {
    position: relative;

    display: flex;

    box-sizing: border-box;

    width: 100%;
    height: 123px;

    margin: 0 0 16px;
    padding: 8px;

    border: 1px solid transparent;

    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.folder.active,
.folderCard.active,
.frame.active,
.folder.active:hover,
.folderCard.active:hover,
.frame.active:hover {
    border: 1px solid #3b51f9;
    box-shadow: 0 0 0 3px #c1c8fd;
}

.folder.active.activeScreen,
.folderCard.active.activeScreen {
    border: none;
}

.folder:hover,
.folderCard:hover,
.frame:hover {
    box-shadow: 2px 18px 28px rgb(166 171 195 / 19%);
}

.folderName {
    margin: 0 0 9px;
    padding: 0;

    color: #191919;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.folderName span {
    color: #6c6e82;
}

.folderStatistics {
    position: relative;

    display: flex;

    margin: 0;
    padding: 0;
}

.fieldStatisticsItem {
    display: flex;
    align-items: center;

    margin: 0 20px 0 0;
    padding: 0;
}

.fieldStatisticsItem img {
    margin-right: 8px;
}

.folderItem {
    margin: 0;

    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.folderNameCard {
    overflow: hidden;

    margin: 0 0 5px;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.folderAddressCard {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.folderItemCard {
    margin: 0 0 3px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.folderItemCard span {
    color: #101431;
}

.screensFrame {
    position: relative;

    /* width: 100%; */
    width: calc(100vw - 208px - 412px - 340px);

    margin: 0;
    padding: 0;
}

.screensFrame::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: calc(100vh - 72px - 32px - 10px);

    content: '';

    background: #dddfee;
}

.frameImage {
    object-fit: cover;

    margin: 0 16px 0 0;
    padding: 0;

    border-radius: 6px;
}

.frameInfo {
    width: calc(100% - 177px - 40px);
    margin: 8px 0 0;
    padding: 0;
}

.statusOn {
    position: relative;

    display: inline-block;

    box-sizing: border-box;

    height: 18px;
    margin: 0 0 16px;
    padding: 1px 9px 2px 19px;

    color: #18c55d;
    border-radius: 10px;
    background: #d5f1e2;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.statusOn::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background: #18c55d;
}

.statusOff,
.waitStatus {
    position: relative;

    display: inline-block;

    box-sizing: border-box;

    height: 18px;
    margin: 0 0 16px;
    padding: 1px 9px 2px 19px;

    color: #6c6e82;
    border-radius: 10px;
    background: #f0f0f5;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.statusOff::before,
.waitStatus::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background: #6c6e82;
}

.loadStatus {
    position: relative;

    display: inline-block;

    box-sizing: border-box;

    height: 18px;
    margin: 0 0 16px;
    padding: 1px 9px 2px 19px;

    color: #937200;
    border-radius: 10px;
    background: #fce79d;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.loadStatus::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background: #937200;
}

.statusError {
    position: relative;

    display: inline-block;

    box-sizing: border-box;

    height: 18px;
    margin: 0 0 16px;
    padding: 1px 9px 2px 19px;

    color: #f92424;
    border-radius: 10px;
    background: #ffdada;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.statusError::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background: #f92424;
}

.frameName {
    position: relative;

    overflow: hidden;

    margin: 0 0 5px;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.frameItem {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.frameAddress {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

/* Стили для меню справа (Все экраны, Настройки, Настройки экрана */
.mainRightMenu,
.mainRightMenuSettings,
.mainRightMenuSettingsScreen,
.mainRightMenuSettingsScreenSelect {
    display: flex;

    flex-direction: column;

    width: 340px;

    /* height: calc(100vh - 72px); */
    margin: 0;
    padding: 0;

    background-color: #fff;
}

.mainRightMenuInner {
    width: 340px;

    margin: 0;
    padding: 0;
}

.wrapperFiedRightMenu1 {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.wrappRightMenu1 {
    margin-bottom: 8px;

    /* flex: 1; */
}

.rightMenuScreen {
    flex: 1;
}

.mainRightMenuSettingsScreenSelect .wrapperFieldRightMenu {
    display: block;
}

.wrapperFieldBtn {
    width: 340px;
    height: 86px;

    background: #fff;
    box-shadow: 0 0 20px rgb(166 167 195 / 20%);

    flex-shrink: 0;
}

.wrapperFieldBtn.doubleButton {
    height: 144px;
}

.deselect {
    margin-bottom: -12px;
    margin-left: 24px;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    background: #fff;
}

.deselect:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.deselect:active {
    background: #1026cf;
}

.mainRightMenuSettingsScreenSelect .deselect {
    margin: 20px 0 -4px 24px;

    border: 1.2px solid #5f71ff;
}

.mainRightMenuSettingsScreen p {
    margin-left: 24px;
}

.mainRightMenuSettingsScreen img,
.mainRightMenuSettingsScreen video {
    width: 292px;
    height: 164px;
    margin: 0 0 20px 24px;
    padding: 0;

    border-radius: 6px;
}

.mainRightMenuSettingsScreen::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.mainRightMenuSettingsScreen::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.mainRightMenu h2,
.mainRightMenuSettings h2,
.mainRightMenuSettingsScreen h2,
.mainRightMenuSettingsScreenSelect h2 {
    width: 292px;
    height: 26px;

    margin: 25px 0 23px 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
}

.mainRightMenuSettingsScreen h2 {
    margin-bottom: 18px;
}

.mainRightMenuItem,
.mainRightMenuSettings h3,
.mainRightMenuSettingsScreen h3,
.screenSelectItem1,
.screenSelectItem2,
.screenSelectItem3 {
    width: 292px;
    height: 19px;
    margin: 0 0 22px 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.mainRightMenuItem {
    margin-bottom: 14px;
}

.wrapScreenSelectItem2 {
    position: relative;

    display: flex;

    width: 292px;
    margin: 0 0 16px 24px;
    padding: 0;
}

.screenSelectItem1 {
    margin-bottom: 20px;
}

.screenSelectItem2 {
    margin: 0;
}

.deleteScreen {
    position: relative;

    display: flex;
    justify-content: center;

    box-sizing: border-box;

    width: 292px;
    height: 42px;
    margin: 0 0 28px 24px;
    padding: 9px 0;

    cursor: pointer;

    color: #f92424;
    border: 1.2px solid #ff7171;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

/* .deleteScreenItem {
    padding: 9px 0 10px 42px;
} */

.deleteScreen:hover {
    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.deleteScreen:active {
    color: #fff;
    background: #e41d1d;
}

.deleteScreen:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
    background: #fff;
    box-shadow: none;
}

.fieldBtnGoSchedule {
    position: relative;

    display: block;

    margin: 0 0 20px 24px;
    padding: 0;
}

.btnGoSchedule {
    position: relative;

    display: flex;
    justify-content: center;

    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0;
    padding: 9px 0;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.deleteScreen img {
    width: 22px;
    height: 22px;

    margin: 0;
    margin-right: 12px;

    content: url('../../assets/iconTrashScreen.svg');
}

.btnGoSchedule img {
    width: 22px;
    height: 22px;

    margin: 0;
    margin-right: 12px;

    content: url('../../assets/iconCalendarBlue.svg');
}

.deleteLocation img {
    margin: 0;
    margin-right: 12px;

    content: url('../../assets/iconDeletePlaylist.svg');
}

.deleteScreen:hover img {
    content: url('../../assets/iconTrash_22x22.svg');
}

.btnGoSchedule:hover img {
    content: url('../../assets/iconCalendarWhite.svg');
}

.deleteLocation:hover img {
    content: url('../../assets/iconTrash_22x22.svg');
}

.deleteLocation.disabled img,
.deleteLocation:disabled:not([hover]) img {
    content: url('../../assets/iconTrashDisabled_22x22.svg');
}

.deleteScreen:disabled:not([hover]) img {
    content: url('../../assets/iconTrashDisabled_22x22.svg');
}

.btnGoSchedule:disabled:not([hover]) img {
    content: url('../../assets/iconCalendarDisabled.svg');
}

.btnGoSchedule:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
}

.btnGoSchedule:active:not([disabled]) {
    color: #fff;
    background: #1026cf;
}

.btnGoSchedule:hover:not([disabled]) {
    cursor: pointer;

    color: #fff;
    background: #3b51f9;
}

.customResolutionInputContainer {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 292px;
    margin: 0 0 16px;
    padding: 0;
}

.fieldWidth {
    position: relative;

    width: 166px;
    height: 42px;

    margin: 0;
    padding: 0;
}

.customResolutionInput {
    position: relative;

    box-sizing: border-box;

    width: 166px;
    height: 42px;

    margin: 0;
    padding: 10px 20px;

    color: #6c6e82;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.fieldWidthItem {
    position: absolute;

    top: 11px;
    right: 20px;

    width: 17px;
    height: 22px;
}

.customResolutionInputItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.fieldScheduleSetupNextDay {
    margin: 2px 0 0 -24px;
    padding: 0;
}

.popupAddScreen .fieldScheduleSetupNextDay {
    margin: 5px 0 -6px;
    padding: 0;
}

.scheduleSetupParagraph2NextDay {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.mainRightMenuSettingsScreenSelect .deleteScreen {
    margin-bottom: 29px;
}

.tagButton {
    display: flex;

    width: 292px;

    /* margin: 0 0 8px 24px; */
    margin: 0 0 0 24px;
    padding: 0;
    flex-wrap: wrap;
}

.tagButton button {
    margin: 0 9px 9px 0;
    padding: 6px 34px 7px 12px;

    border: none;
    border-radius: 5px;

    background: #f0f0f5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.playlists {
    /* display: none; */
}

.wrapMainRightMenuInfoAll {
    position: relative;
}

/* .wrapMainRightMenuInfoAll span {
    color: #101431;
} */

.wrapMainRightMenuInfoAll h3 {
    margin: 0 0 0 24px;
    padding: 0;

    color: #101431;

    /* color: #6c6e82; */
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.tagButtonItem {
    position: relative;
}

p.mainRightMenuAddress span {
    color: #101431;
}

.inputAddTag label span {
    font-weight: 600;
}

.tagButtonItem span:hover {
    cursor: pointer;
}

.iconX {
    position: absolute;
    top: 6px;
    right: 16px;

    width: 16px;
    height: 16px;

    content: url('../../assets/iconX.svg');
}

.inputAddTag {
    position: relative;

    margin: 0 0 25px;
    padding: 0 0 0 24px;
}

.mainRightMenuAddress {
    overflow: hidden;

    width: 292px;
    height: 22px;

    margin: 0 0 18px 24px;
    padding: 0;

    white-space: nowrap;

    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenu .mainRightMenuAddress {
    margin-bottom: 14px;
}

.wrappRightMenu1 .mainRightMenuAddress {
    margin-bottom: 13px;
}

.rightMenuSettingResolution {
    box-sizing: border-box;
    width: 292px;
    height: 42px;
    margin: 9px 0 16px 24px;
    padding: 10px 42px 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.rightMenuSettingResolutionItem {
    margin-bottom: 28px;
}

.mainRightMenuSettings label,
.mainRightMenuSettingsScreen label {
    margin-left: 24px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.rightMenuSetting {
    display: inline-block;

    box-sizing: border-box;
    width: 292px;
    margin: 9px 0 28px 24px;
    padding: 9px 42px 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;
    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.rightMenuSetting.error {
    margin-bottom: 2px;
}

.rightMenuSetting:hover {
    color: #101431;
    border: 1px solid #bec1d2;
}

.rightMenuSetting:active,
.rightMenuSetting:focus {
    color: #101431;
    border: 1px solid #566dec;
}

.inputAddTag input {
    margin: 0 0 5px;
    padding-left: 51px;
}

.inputAddTag::before {
    position: absolute;

    top: 10px;
    left: 42px;

    content: url('../../assets/iconTag_22x22.svg');
}

.inputAddTag label {
    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.rightMenuStatistics {
    position: relative;

    display: flex;

    margin: 0 0 0 24px;
    padding: 0;
}

.fieldFrameName,
.fieldFrameItem,
.fieldFrameAddress,
.fieldDeleteLocation {
    position: relative;
}

/* .tooltiptextItem {
    margin: 0;
    padding: 0;

    line-height: 16px;
} */

.tooltiptextItem:first-child {
    margin-bottom: 5px;
}

.btnPlaylist {
    box-sizing: border-box;

    width: 292px;
    height: 42px;
    margin: 20px 0 0;
    padding: 0;

    cursor: pointer;

    border: none;
    border-radius: 6px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.deleteLocation {
    position: relative;

    display: flex;
    justify-content: center;

    margin-left: 24px;
    padding: 9px 0;

    color: #f92424;
    border: 1.2px solid #ff7171;
    background-color: #fff;
}

.deleteLocation:disabled,
.deleteLocation.disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
}

.deleteLocation:active:not(.disabled) {
    color: #fff;
    background: #e41d1d;
}

.deleteLocation:hover:not(.disabled) {
    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.saveSettings {
    box-sizing: border-box;

    width: 292px;
    height: 42px;
    margin: 20px 0 0 24px;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.saveSettings:active {
    background: #1026cf;
}

.saveSettings:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.saveSettings:disabled {
    cursor: auto;

    background: #babee6;

    box-shadow: none;
}

.statisticsItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.screensFrameCheckbox {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0 33px 0 20px;
}

/* Popup window add screen and Popup window add point sale */

.popup {
    position: fixed;
    inset: 0;

    visibility: hidden;

    opacity: 0;

    background: rgb(15 16 31 / 51%);
}

.popup:target {
    visibility: visible;

    opacity: 1;
}

.popupAddPointSale,
.popupAddScreen {
    position: relative;
    top: 50%;
    left: 50%;

    width: 360px;

    margin: 0;
    padding: 50px 88px 56px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupAddScreen {
    padding: 50px 88px 56px;
}

.popupAddScreen .customResolutionInputContainer {
    width: 360px;
}

.popupAddScreen .customResolutionInput {
    width: 166px;

    color: #101431;
}

.popupAddScreen .customResolutionInputContainer::before {
    position: absolute;

    top: 10px;
    left: 176px;

    content: 'x';

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.wrapTimeWorkScreen .customResolutionInputContainer {
    margin-top: 9px;
    margin-bottom: 20px;
}

.wrapperFieldRightMenu .wrapTimeWorkScreen {
    position: relative;
}

.wrapperFieldRightMenu .statusOn,
.wrapperFieldRightMenu .statusOff,
.wrapperFieldRightMenu .statusError {
    margin-bottom: 12px;
}

.wrapperFieldRightMenu .customResolutionInputContainer {
    margin-left: 24px;
}

.wrapperFieldRightMenu .customResolutionInputContainer::before {
    position: absolute;

    top: 10px;
    left: 142px;

    content: 'x';

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.popupAddScreen .wrapTimeWorkScreen .customResolutionInputContainer::before {
    content: '-';
}

.wrapperFieldRightMenu .wrapTimeWorkScreen .customResolutionInputContainer::before {
    position: absolute;

    top: 10px;
    left: 143px;

    content: '-';

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.wrapperFieldRightMenu .fieldWidth {
    width: 134px;

    margin-right: 22px;
}

.wrapperFieldRightMenu .fieldWidth:last-child {
    margin-right: 0;
}

.wrapperFieldRightMenu .customResolutionInput {
    width: 134px;

    color: #101431;
}

.popupAddPointSale h2,
.popupAddScreen h2 {
    margin: 0 0 20px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupAddScreen h2 {
    margin-bottom: 25px;
}

.popupAddPointSale h2 {
    margin-bottom: 23px;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;

    margin: 0;
    padding: 9px 51px;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;

    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
    background-color: #fff;
    box-shadow: none;
}

.popupAddScreen label,
.popupAddPointSale label {
    display: block;

    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.enterNumberScreen,
.enterNameScreen,
.enterNamePoint,
.enterCity,
.enterAddress {
    box-sizing: border-box;
    width: 360px;
    height: 42px;
    margin: 9px 0 16px;
    padding: 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.enterNumberScreenError {
    border: 1px solid #f92424;
}

.iconWarning {
    background-image: url('../../assets/iconWarning.svg');
    background-repeat: no-repeat;
    background-position: 97% 46%;
}

.enterNameScreen,
.wrapHash {
    margin-bottom: 16px;
}

.enterNamePoint,
.enterCity,
.enterAddress {
    margin: 9px 0 16px;
}

.timezoneField {
    margin-bottom: 16px;
}

.enterNumberScreen:hover,
.enterNameScreen:hover,
.enterNamePoint:hover,
.enterCity:hover,
.enterAddress:hover,
.customResolutionInput:hover {
    border: 1px solid #bec1d2;
}

.enterNumberScreen:active,
.enterNameScreen:active,
.enterNumberScreen:focus,
.enterNameScreen:focus,
.enterNamePoint:active,
.enterCity:active,
.enterAddress:active,
.enterNamePoint:focus,
.enterCity:focus,
.enterAddress:focus,
.customResolutionInput:active,
.customResolutionInput:focus {
    border: 1px solid #566dec;
}

.errorHash {
    margin: -15px 0 13px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.errorCoordinates {
    width: 328px;
    margin-left: 24px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.wrapHash,
.wrapScreen,
.fieldHeader {
    position: relative;

    margin: 0;
    padding: 0;
}

.wrapLabel {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.info {
    width: 24px;
    height: 24px;

    margin: 0;
    padding: 0;

    background-image: url('../../assets/iconInfo24x24.svg');
    background-repeat: no-repeat;
}

.info:hover {
    background-image: url('../../assets/info.svg');
}

.wrapScreen {
    margin: 0 0 10px;
    padding: 0;
}

.infoDefault::after {
    position: absolute;

    top: -2px;
    right: 0;

    content: url('../../assets/iconInfo24x24.svg');
}

.withPointer {
    cursor: pointer;
}

.fieldHeader .infoDefault::after {
    top: 4px;
}

.infoActive::after {
    content: url('../../assets/info.svg');
}

.fieldButtons {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.buttonAddScreen {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonAddScreen svg {
    stroke: white;

    margin-right: 12px;
}

.buttonAddScreen.progress svg {
    margin-right: 0;
}

.btnBlockScreen:hover,
.buttonAddScreen:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnBlockScreen:active,
.buttonAddScreen:active {
    background: #1026cf;
}

.btnBlockScreen:disabled,
.buttonAddScreen:disabled {
    cursor: auto;

    background: #babee6;

    box-shadow: none;
}

select {
    box-sizing: border-box;
    width: 360px;

    margin: 9px 0 16px;
    padding: 10px 18px 10px 20px;

    color: #6c6e82;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

select:nth-last-child(3) {
    margin-bottom: 40px;
}

/* popup window to click button delete screen */

.popupDeleteScreen {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 280px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupDeleteScreen h2 {
    margin: 0 0 19px;
    padding: 50px 0 0 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupDeleteScreen p {
    width: 360px;
    height: 48px;
    margin: 0 0 34px;
    padding: 0 0 0 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.containerBtn {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.popupDeleteScreen .btnCancel {
    position: relative;
}

.buttonDelete {
    position: relative;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 10px 41px 10px 73px;

    cursor: pointer;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #f92424;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonDelete::before {
    position: absolute;

    top: 10px;
    left: 39px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconTrash_22x22.svg');
}

.buttonDelete:hover::before {
    content: url('../../assets/iconTrash_22x22.svg');
}

.buttonDelete:hover {
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.buttonDelete:active {
    background: #e41d1d;
}

.buttonDelete:disabled {
    cursor: auto;

    background: #ffaeae;
    box-shadow: none;
}

/* style notification screens delete */

.btnNotificationScreensDelete {
    position: fixed;
    bottom: 40px;
    left: 35px;

    width: 249px;
    height: 46px;
    margin: 0;
    padding: 13px 85px 13px 32px;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #3a3c4f;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
}

.btnNotificationScreensDelete::after {
    position: absolute;
    top: 12px;
    right: 14px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconX_white.svg');
    cursor: pointer;
}

.screensEmpty {
    width: 100%;

    margin: 179px 0 0;
    padding: 0;
}

.screensEmpty1 {
    margin: 0;
    padding: 0;

    text-align: center;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.screensEmpty a {
    color: #3b51f9;
}

.infoBtn {
    width: 24px;
    height: 24px;

    margin: 0;
    padding: 0;

    background-image: url('../../assets/infoDefault.svg');
    background-repeat: no-repeat;
}

.infoBtn:hover {
    background-image: url('../../assets/info.svg');
}

.mainRightMenuSettings .wrapperFieldBtn {
    box-shadow: none;
}

.screenshotPreview {
    object-fit: cover;
}

.wrapperInfo {
    position: relative;

    margin: 0 0 25px;
    padding: 0;
}

.iconArrowInfoUp::before {
    position: absolute;

    top: 0;
    right: 15px;

    content: url('../../assets/iconCaretUp.svg');

    cursor: pointer;
}

.iconArrowInfoDown::after {
    position: absolute;

    top: 0;
    right: 15px;

    content: url('../../assets/iconCaretDown.svg');

    cursor: pointer;
}

.mainRightMenuInfoAll {
    width: 292px;

    margin: 0 0 22px 24px;
    padding: 0;

    color: #6c6e82;

    border: none;

    outline: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenuInfoAll a {
    margin: 0;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.mainRightMenuInfoAll li {
    display: flex;
    justify-content: space-between;

    width: 292px;

    margin-top: 10px;

    color: #101431;
}

.mainRightMenuInfoAll li p {
    overflow: hidden;

    width: calc(292px - 60px);

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (width >= 1029px) and (width <= 1365px) {
    .wrapMainScreens {
        overflow-x: scroll;
    }

    .foldersFrame {
        width: 341px;
    }

    .folder,
    .folderCard {
        width: 296px;
    }

    .screensFrame {
        min-width: 600px;
    }
}

.fielFeedback {
    margin: -16px 0 20px;
    padding: 12px 16px;

    border-radius: 6px;
    background: #eaecfc;
}

.fielFeedbackItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.fielFeedback a {
    text-decoration: underline;

    color: #1f36e5;
}

.containerTabs {
    display: flex;
    gap: 4px;

    margin-bottom: 20px;
    margin-left: 24px;
}

.btnTab {
    width: 144px;
    height: 24px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #101431;

    border: none;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;
}

.btnTab:not(.btnTabActive):hover {
    color: #3b51f9;
}

.btnTabActive {
    border-radius: 4px;
    background: #ebeefd;
}

.containerHistoryDescription {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 20px;
    margin-left: 24px;
}

.historyDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 34px;
}

.historyDescription p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;
}

.historyDescription p:first-child {
    color: #6c6e82;
}

.wrapperFiedRightMenu1 {
    overflow: hidden scroll;

    height: calc(100vh - 72px - 86px);
}

.wrapperFiedRightMenu1::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapperFiedRightMenu1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.containerTeam {
    display: flex;
    flex-direction: column;
    gap: 14px;

    margin: 30px 0 20px;
    padding: 0 24px;
}

.containerTeamList {
    display: flex;
    flex-direction: column;
    gap: 14px;

    margin: 0;
    padding: 0;
}

.containerTeamItem {
    display: flex;
    gap: 18px;

    cursor: pointer;
}

.containerTeamIcon {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #f2f3f5;
}

.containerTeamIcon div {
    display: flex;

    width: 40px;
    height: 40px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    align-items: center;
    justify-content: center;
}

.containerTeamDescription {
    display: flex;
    flex-direction: column;
    gap: 2px;

    width: 232px;
}

.containerTeam h3,
.containerTeamDescription h3 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.containerTeamDescription p {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;

    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.infoHeader {
    cursor: pointer;
    user-select: none;
}

.nonUserSelect {
    user-select: none;
}

.ledCheckbox {
    position: relative;

    margin: 0 0 20px;

    padding: 0;
}

.ledCheckbox.screenMenu {
    margin-left: 24px;
}

.ledCheckboxParagraph {
    margin: 0 0 0 24px;
    padding: 0 0 0 7px;

    color: #101431;

    font-family: Inter, sans-serif;

    font-weight: normal;
    font-style: normal;
}

.ledCheckboxOn {
    position: absolute;

    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: url('../../assets/checkboxOn.svg');
}

.ledCheckboxOff {
    position: absolute;

    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: url('../../assets/checkboxOff.svg');
}
