.mainRegister {
    display: flex;

    margin: 0;
    padding: 0;
}

.bgLeftContainer {
    position: relative;

    display: flex;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.bgLeftContainer::before {
    position: absolute;

    top: 56px;
    left: 64px;

    width: 120px;
    height: 40px;

    content: url('../../assets/bigLogo.svg');
}

.bgLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.bgLeft img {
    /* width: 990px;
    height: 633px; */
    width: 100%;
    margin: 0;
    padding: 0;
}

.bgLeft h2 {
    width: 520px;
    height: 62px;

    margin: 0;
    margin-top: 97px;
    padding: 0;

    text-align: center;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.bgLeft h2 span {
    color: #101431;
}

@media (width <= 1919.98px) {
    .bgLeft h2 {
        width: 366px;
        height: 48px;

        margin-bottom: 8px;

        font-size: 20px;
        line-height: 24px;
    }
}

@media (width <= 1535.98px) {
    .bgLeft h2 {
        width: 366px;
        height: 48px;

        margin-bottom: 8px;

        font-size: 20px;
        line-height: 24px;
    }
}

.bgRightContainer {
    width: 100vw;

    margin: 0;
    padding: 0;

    background: #fff;
}

.bgRight {
    position: relative;

    display: flex;

    flex-direction: column;

    margin: 0 auto;
    padding: 0;

    background: #fff;
}


.bgRightSignIn,
.bgRightSignUp {
    display: flex;
    justify-content: flex-end;

    margin: 0;
    margin-top: 50px;
    margin-bottom: 268px;
    padding: 0;
    padding-right: 64px;
}

.bgRightSignUp {
    margin-bottom: 75px;
}

.bgRightSignIn p,
.bgRightSignUp p {
    margin: 0;
    padding: 0;

    text-align: right;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.bgRightFormCheck a {
    margin: 0;
    padding: 0;

    text-decoration: underline;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.bgRightSignIn a,
.bgRightSignUp a {
    margin: 0;
    margin-left: 8px;
    padding: 0;

    color: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.bgRightSignIn a:hover,
.bgRightSignUp a:hover{
    color: #3b51f9;
}

.bgRightSignIn a:active,
.bgRightSignUp a:active {
    color: #1026cf;
}

.bgRightSignUp a:disabled,
.bgRightSignIn a:disabled {
    color: #9093ae;
}

.bgRightFormContainer {
    /* display: flex; */

    /* align-items: center; */
    width: 328px;
    height: calc(100vh - 180px);

    margin: 0 auto;
    padding: 0;
}

.signUpRow {
    display: flex;
    justify-content: space-between;
}

.bgRightFormContainer.signUp {
    width: 671px;
}

.bgRightForm h2 {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 34px;
    font-weight: 500;
    font-style: normal;
    line-height: 41px;
}

.fieldName,
.fieldEmail {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
}

.fieldPassword {
    position: relative;

    margin: 0;
    margin-bottom: 32px;
    padding: 0;
}

.fieldLabelWrapper {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

.fieldLabel {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.fieldErrorPassword {
    display: flex;
    justify-content: space-between;

    width: 328px;

    margin: 0;
    padding: 0;
}

.errorTitle,
.errorEmail,
.errorPassword {
    width: 328px;
    margin: 0;
    margin-top: 5px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.errorPassword.signIn {
    width: auto;
}

.input {
    box-sizing: border-box;
    width: 328px;
    height: 42px;

    padding: 10px 42px 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.inputError {
    box-sizing: border-box;

    width: 328px;
    height: 42px;

    padding: 10px 42px 10px 20px;

    color: #6c6e82;

    border: 1px solid #f92424;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.bgRightForm .input {
    outline: none;
}

.input:hover {
    border: 1px solid #bec1d2;
}

.input:active,
.input:focus {
    border: 1px solid #566dec;
}

.input.valid:not(:focus) {
    border: 1px solid #18c55d;
    background-image: url('../../assets/iconCheckGreen.svg');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.input.passwordValid:not(:focus) {
    border: 1px solid #18c55d;
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.iconWarning {
    background-image: url('../../assets/iconWarning.svg');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.iconEyeOpened {
    position: absolute;
    top: 35px;
    right: 12px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    background-image: url('../../assets/iconEye.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.iconEyeClosed {
    position: absolute;
    top: 35px;
    right: 12px;

    width: 22px;
    height: 22px;

    cursor: pointer;

    background-image: url('../../assets/iconEyeClosed.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.bgRightFormCheck {
    position: relative;

    width: 328px;

    margin: 0;
    margin-bottom: 42px;
    padding: 0;
}

.bgRightFormCheck input {
    margin-right: 17px;
}

.bgRightFormCheck label {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.bgFormCheck + label::before,
.bgFormCheck:checked + label::before {
    position: absolute;
    top: 1px;
    left: -1px;

    width: 20px;
    height: 20px;

    content: '';

    background-image: url('../../assets/checkboxOff.svg');
}

.bgFormCheck:checked + label::before {
    background-image: url('../../assets/checkboxOn.svg');
}

.bgRightFormPsw {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    cursor: pointer;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.bgRightFormPsw a {
    color: #1f36e5;
}

.registerBtn {
    width: 328px;
    height: 42px;
    margin: 0;
    padding: 10px 20px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.registerBtn:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.registerBtn:active {
    background: #1026cf;
}

.registerBtn:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px white inset !important;
}

.mobileBgRightFormCheck {
    display: none;
}

.phoneInput {
    width: 328px;
}

/* Mobile screen */

@media (height <= 875px) {
    .bgRight {
        overflow-y: scroll;
    }
}

@media (height <= 768px){
    .bgRightSignIn {
        margin-bottom: 112px;
    }
}

@media (width <= 1350px) {
    .bgLeftContainer.signUp {
        display: none;
    }


}

@media (width <= 675px) {
    .bgLeftContainer {
        display: none;
    }

    .errorTitle,
    .errorEmail,
    .errorPassword,
    .bgRightFormContainer.signUp,
    .phoneInput {
        width: 288px;
    }

    .signUpRow {
        display: block;
    }

    .bgRightContainer {
        overflow: hidden;
    }

    .bgRightSignIn,
    .bgRightSignUp {
        position: relative;

        width: 288px;

        margin: 50px auto 38px;
        padding: 0;
    }

    .bgRightSignIn::before,
    .bgRightSignUp::before {
        position: absolute;
        top: 0;
        left: 0;

        width: 90px;
        height: 30px;

        content: url('../../assets/bigLogo.svg');
    }

    .bgRightForm h2 {
        margin-bottom: 24px;

        font-size: 20px;
        line-height: 24px;
    }

    .bgRightFormContainer,
    .input,
    .inputError,
    .registerBtn,
    .fieldErrorPassword {
        width: 288px;
    }

    .bgRightSignIn p,
    .bgRightSignUp p {
        display: none;
    }

    .bgRightFormCheck {
        display: none;
    }

    .mobileBgRightFormCheck {
        display: block;

        margin: 0;
        margin-top: 8px;
        padding: 0;

        color: #9093ae;

        font-family: Inter, sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        line-height: 14px;
    }

    .mobileBgRightFormCheck a {
        text-decoration: underline;

        color: #6c6e82;

        font-family: Inter, sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        line-height: 14px;
    }
}
