.container-update {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    overflow: auto;

    width: 100%;
    height: 100%;

    background: #f7f7f9;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container-update::before {
    position: absolute;

    top: 42px;
    left: 49px;

    width: 120px;
    height: 40px;

    content: url('assets/bigLogo.svg');
}

.update-info {
    width: 688px;
    height: 94px;

    margin: 0;
    padding: 0;

    text-align: center;
}

.update-info p {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
}

p:first-child {
    margin-bottom: 6px;

    font-weight: 700;
}

.reload-page {
    position: relative;

    width: 242px;
    height: 42px;
    margin: 0;
    margin-top: 40px;
    padding: 10px 20px 10px 40px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.reload-page::before {
    position: absolute;

    top: 10px;
    left: 16px;

    width: 23px;
    height: 22px;

    content: url('assets/arrowClockwise.svg');
}

.reload-page:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.reload-page:active {
    background: #1026cf;
}
