.containerCalendar {
    display: flex;
}

.centerBlockCalendar {
    width: calc(100vw - 208px - 340px);

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.fieldBtnBlockScreen {
    display: flex;
    justify-content: flex-end;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.btnBlockScreen {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 216px;
    height: 42px;
    margin: 32px 24px 0 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnBlockScreen svg {
    margin-right: 12px;

    stroke: white;
}

.btnBlockScreen:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnBlockScreen:active {
    background: #1026cf;
}

.btnBlockScreen:disabled {
    cursor: auto;

    background: #babee6;

    box-shadow: none;
}

.selectListCalendar {
    display: flex;

    margin: 0 24px 12px;
    padding: 0;
}

.blockCalendarSmall {
    display: flex;

    margin: 0;
    margin-right: 8px;
    padding: 0;
}

.btnArrowLeft {
    position: relative;

    width: 40px;
    height: 42px;

    margin: 0;
    padding: 0;

    border: 1px solid #dddfee;
    border-right: none;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    background: #fff;
}

.btnArrowRight {
    position: relative;

    width: 40px;
    height: 42px;

    margin: 0;
    padding: 0;

    border: 1px solid #dddfee;
    border-left: none;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    background: #fff;
}

.btnArrowLeft::before {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconCaretUp.svg');

    transform: rotate(-90deg);
}

.btnArrowRight::before {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconCaretUp.svg');

    transform: rotate(90deg);
}

.selectCalendarDate {
    position: relative;

    width: 151px;

    margin: 0;
    padding: 9px 41px 9px 18px;

    border: 1px solid #dddfee;

    background: #fff;
}

.selectCalendarDate h3 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.selectCalendarDate::after {
    position: absolute;
    top: 8px;
    right: 11px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconCalendar.svg');

    opacity: 0.5;
}

.selectCalendarPoinAndScreen {
    display: flex;

    width: calc(100% - 300px);

    margin: 0;
    padding: 0;
}

.selectCalendarAddressPoint {
    position: relative;

    width: calc(100% - 45%);
    margin: 0;
    margin-right: 8px;
    padding: 0;

    border-radius: 6px;
    background: #fff;
}

.selectCalendarScreen {
    position: relative;

    width: calc(100% - 56%);
    margin: 0;
    padding: 0;

    border-radius: 6px;
    background: #fff;
}

.blockCalendar {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 72px - 94px - 54px - 25px);

    margin: 0 24px 24px;
    padding: 0;

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.blockDays {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 0;
    padding: 3px 0;

    border-bottom: #dddfee 1px solid;
}

.itemDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 2px 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;

    flex: 1 1 0%;
}

.blockWeek {
    display: flex;

    margin: 0;
    padding: 0;

    flex: 1 1 0%;

    border-bottom: #dddfee 1px solid;
}

.blockWeek:last-child {
    border-bottom: none;
}

.itemWeek {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0 4px;

    flex: 1 1 0%;

    border-right: #dddfee 1px solid;
}

.itemWeek:last-child {
    margin: 0;

    border-right: none;
}

.itemWeek:nth-child(6),
.itemWeek:nth-child(7) {
    background: #fcfcff;
}

.itemWeek:last-child:nth-child(7) {
    border-bottom-right-radius: 8px;
}

.wrapDayWeek {
    position: relative;

    display: flex;
    justify-content: flex-end;

    margin: 0;
    padding: 0;
}

.dayWeek {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 2px;
    padding: 4px 4px 3px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
}

.dayWeekNotification {
    position: absolute;
    top: 4px;
    left: 0;

    width: 23px;
    height: 23px;

    content: url('../../assets/iconNotificationCalendar.svg');
}

.dayWeekActive {
    text-align: center;

    border-radius: 4px;
    background: #c1c8fd;
}

.dayWeekDefault {
    text-align: center;

    color: #fff;

    border-radius: 4px;
    background: #1f36e5;
}

.dayWeekNextMonth {
    color: #9093ae;
}

.playlistCalendar {
    position: relative;

    display: flex;

    margin: 0;
    margin-bottom: 2px;
    padding: 3px 5px;

    border-radius: 4px;
    background: #f4bed8;
}

.playlistCalendarPriority {
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 20px;

    content: url('../../assets/iconStar.svg');

    border-radius: 4px 0 0 4px;
    background: #3b51f9;
}

.playlistCalendarName,
.playlistCalendarTime {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;

    /* font-family: Roboto; */
}

@media (min-width: 1024px) {
    .playlistCalendar {
        width: 69px;
    }
}

@media (min-width: 1366px) {
    .playlistCalendar {
        width: 90px;
    }
}

@media (min-width: 1536px) {
    .playlistCalendar {
        width: 114px;
    }
}

@media (min-width: 1920px) {
    .playlistCalendar {
        width: 169px;
    }
}

.playlistCalendarTime {
    margin: 0;
    margin-right: 5px;
    padding: 0;

    color: #6c6e82;
}

.playlistCalendarTimePriority {
    margin-left: 20px;
}

.btnPlaylistCalendar {
    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;

    /* font-family: Roboto; */
}

/* Текст подсказки */

.tooltiptext {
    margin: 0;
    padding: 4px 12px;

    text-align: center;

    color: #fff;
    border-radius: 6px;

    background: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.selectCalendarAddressPoint .tooltiptext,
.selectCalendarScreen .tooltiptext {
    position: absolute;
    z-index: 1;

    bottom: 50px;
    left: 0;

    visibility: hidden;
}

.wrapDayWeek .tooltiptext {
    position: absolute;
    z-index: 1;

    bottom: 30px;
    left: -70px;

    visibility: hidden;
}

.playlistCalendar .tooltiptext {
    position: absolute;
    z-index: 1;

    bottom: 25px;
    left: 0;

    visibility: hidden;
}

.fieldCardPlaylistCalendarStatus .tooltiptext {
    position: absolute;
    z-index: 1;

    right: 0;
    bottom: 23px;

    visibility: hidden;
}

.fieldCardPlaylistCalendarScreenAddress .tooltiptext {
    position: absolute;
    z-index: 1;

    right: 0;
    bottom: 23px;

    visibility: hidden;
}

.cardPlaylistCalendarDate .tooltiptext {
    position: absolute;
    z-index: 1;

    bottom: 23px;
    left: -25px;

    visibility: hidden;

    width: 102px;
}

.cardPlaylistCalendarTime .tooltiptext {
    position: absolute;
    z-index: 1;

    right: -30px;
    bottom: 23px;

    visibility: hidden;

    width: 112px;
}

.selectCalendarAddressPoint .tooltiptext::after,
.selectCalendarScreen .tooltiptext::after,
.wrapDayWeek .tooltiptext::after,
.playlistCalendar .tooltiptext::after {
    position: absolute;
    bottom: -11px;
    left: calc(100% / 2);

    margin-left: -4px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: #101431 transparent transparent;
}

.cardPlaylistCalendarDate .tooltiptext::after,
.cardPlaylistCalendarTime .tooltiptext::after {
    position: absolute;
    bottom: -11px;
    left: calc(100% / 2);

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: #101431 transparent transparent;
}

.selectCalendarAddressPoint:hover .tooltiptext,
.selectCalendarScreen:hover .tooltiptext,
.wrapDayWeek:hover .tooltiptext,
.playlistCalendar:hover .tooltiptext,
.cardPlaylistCalendarDate:hover .tooltiptext,
.cardPlaylistCalendarTime:hover .tooltiptext {
    visibility: visible;

    transition-delay: 0.7s;
}

.fieldCardPlaylistCalendarScreenAddress .tooltiptext::after {
    position: absolute;

    bottom: -11px;
    left: calc(100% / 2);

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: #101431 transparent transparent;
}

.fieldCardPlaylistCalendarStatus .statusArrowBendUpRight .tooltiptext::after {
    position: absolute;

    right: 55px;
    bottom: -11px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: #101431 transparent transparent;
}

.fieldCardPlaylistCalendarStatus .statusPencil .tooltiptext::after {
    position: absolute;

    right: 15px;
    bottom: -11px;

    content: ' ';

    border-width: 7px;
    border-style: solid;
    border-color: #101431 transparent transparent;
}

.fieldCardPlaylistCalendarScreenAddress:hover .tooltiptext,
.fieldCardPlaylistCalendarStatus .statusArrowBendUpRight:hover .tooltiptext,
.fieldCardPlaylistCalendarStatus .statusPencil:hover .tooltiptext {
    visibility: visible;

    transition-delay: 0.7s;
}

.rightBlockEmptyCalendar {
    width: 340px;

    margin: 0;
    padding: 0;
}

.rightBlockEmptyCalendar h2 {
    margin: 25px 0 23px 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 26px;
}

.rightBlockEmptyCalendar h3 {
    margin: 0 0 17px 24px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.fieldFreeSlot {
    position: relative;

    margin: 0 0 21px 24px;
    padding: 0;
}

.fieldFreeSlot p {
    width: 261px;
    margin: 0;
    margin-left: 31px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.checkboxFreeSlotOn {
    position: absolute;

    top: 5px;
    left: 0;

    display: none;

    content: url('../../assets/checkboxOn.svg');
}

.checkboxFreeSlotOff {
    position: absolute;

    top: 5px;
    left: 0;

    content: url('../../assets/checkboxOff.svg');
}

.wrappCardPlaylistCalendar {
    overflow-y: scroll;

    height: calc(100vh - 72px - 75px - 43px - 60px);

    margin: 0;
    padding: 0;
}

.cardPlaylistCalendarPriority {
    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 292px;
    height: 214px;

    margin: 0 0 25px 24px;
    padding: 0;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;
}

.cardPlaylistCalendarPriority::after {
    position: absolute;
    bottom: -14px;
    left: 0;

    width: 292px;
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.cardPlaylistCalendar {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 292px;
    height: 194px;

    margin: 0 0 16px 24px;
    padding: 0;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;
}

.cardPriority {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;

    margin: 0;
    padding: 0;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    background: #3b51f9;
}

.cardPriority::before {
    position: absolute;
    top: 4px;
    left: 97px;

    width: 12px;
    height: 12px;

    content: url('../../assets/iconStar.svg');
}

.cardPriority h3 {
    margin: 0;
    padding: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.fieldCardPlaylistCalendarStatus {
    position: relative;

    height: 18px;

    margin: 16px 0 14px;
    padding: 0;
}

.statusArrowBendUpRight::before {
    position: absolute;
    top: 0;
    right: 53px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconArrowBendUpRight.svg');
}

.statusPencil::after {
    position: absolute;
    top: 0;
    right: 16px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconEditPlaylistDisabled.svg');
}

.statusOn {
    position: relative;

    box-sizing: border-box;

    width: 77px;

    margin: 0;
    margin-left: 17px;
    padding: 1px 9px 2px;

    color: #18c55d;

    border: 0.6px solid #18c55d;
    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.cardPlaylistCalendarName {
    margin: 0 16px 6px;
    padding: 2px 10px;

    border-radius: 4px;
    background: #f4bed8;
}

.cardPlaylistCalendarNameItem1 {
    background: #f8f2d2;
}

.cardPlaylistCalendarNameItem2 {
    background: #bed7f4;
}

.cardPlaylistCalendarName h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.fieldCardPlaylistCalendarScreenAddress {
    position: relative;

    margin: 0 16px 24px;
    padding: 0;
}

.fieldCardPlaylistCalendarScreenAddress::after {
    position: absolute;
    bottom: -11px;
    left: 0;

    width: 260px;
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.fieldCardPlaylistCalendarScreenAddress p {
    overflow: hidden;

    width: 260px;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.fieldCardPlaylistCalendarDateTime {
    display: flex;

    margin: 0 16px 7px;
    padding: 0;
}

.cardPlaylistCalendarDate,
.cardPlaylistCalendarTime {
    position: relative;

    margin: 0;
    padding: 0;
}

.cardPlaylistCalendarDate {
    margin-right: 50px;
    margin-left: 28px;
}

.cardPlaylistCalendarDate::before {
    position: absolute;
    top: -3px;
    left: -30px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconCalendar.svg');

    opacity: 0.5;
}

.cardPlaylistCalendarTime::before {
    position: absolute;
    top: -2px;
    left: -30px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconTimeCalendar.svg');

    opacity: 0.5;
}

.cardPlaylistCalendarDate p,
.cardPlaylistCalendarTime p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.fieldCardPlaylistCalendarReplay {
    width: 260px;

    margin: 0;
    margin-left: 16px;
    padding: 0;
}

.fieldCardPlaylistCalendarReplay p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.fieldCardPlaylistCalendarReplay span {
    color: #6c6e82;
}

/* Стили страницы Phygital View */

.containerView {
    width: 100%;

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.containerViewInner {
    width: calc(100vw - 208px - 24px);

    margin: 0;
    padding: 12px;
}

.containerViewBlank {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 72px - 24px);

    margin: 0;
    padding: 0;
}

.containerViewWithContent {
    /* width: calc(100vw - 208px - 24px - 48px); */
    height: calc(100vh - 72px - 24px - 32px - 24px);

    margin: 0;
    padding: 32px 24px 24px;

    border-radius: 8px;
    background: #fff;
}

.wrapperUpperBlock {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 31px;
    padding: 0;
}

.wrapperUpperBlock::after {
    position: absolute;
    bottom: -31px;
    left: -24px;

    width: calc(100vw - 208px - 24px);
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.pageBlank {
    width: 260px;
    height: 94px;

    margin: 0;
    padding: 0;

    text-align: center;
}

.pageItem {
    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.pageItemLink {
    color: #3b51f9;

    font-weight: 500;
}

.pageHeaderItem {
    margin: 0 0 16px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.pageItemUpperBlock {
    margin-bottom: 8px;

    color: #101431;
}

.pageItemUpperBlock span {
    font-weight: 700;
}

.pageHeaderItemLink {
    position: relative;

    margin-right: 40px;

    color: #1f36e5;

    line-height: 17px;
}

.pageHeaderItemLink:last-child {
    margin-right: 0;
}

.pageHeaderItemLinkAfter::after {
    position: absolute;

    top: 0;
    right: -20px;

    width: 1px;
    height: 17px;

    content: '';

    border-radius: 8px;
    background: #d9dae4;
}

.fieldUpperBlockLeft {
    margin: 0;
    margin-left: 31px;
    padding: 0;
}

.fieldUpperBlockRight {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
}

.btnLoadVideo {
    box-sizing: border-box;

    width: 198px;
    height: 42px;

    margin: 20px 0 8px;
    padding: 0;

    text-align: center;

    color: #fff;

    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnLoadVideo:hover {
    background: #3b51f9;
}

.btnLoadVideo:active {
    background: #1026cf;
}

.btnLoadVideo:disabled {
    background: #babee6;
}

.wrapperPageBlank {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 72px - 24px - 32px - 86px);
}

.btnAnalyse {
    box-sizing: border-box;

    width: 131px;
    height: 38px;

    text-align: center;

    color: #3b51f9;

    border: 1px solid #5f71ff;
    border-radius: 6px;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnRepeat {
    margin: 0;
    padding: 0;

    color: #1f36e5;

    border: none;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.btnAnalyse:hover {
    color: #fff;

    border: none;
    background: #3b51f9;
}

.btnAnalyse:active {
    color: #fff;

    border: none;
    background: #1026cf;
}

.btnAnalyse:disabled {
    color: #9093ae;

    border: 1px solid #babee6;
}

/* .containerTableInner {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

} */

.RtableRow {
    display: grid;
    grid-template-columns: 40px 195px 0.5fr repeat(3, 1fr) 85px 102px 58px;

    align-items: center;

    box-sizing: border-box;

    height: 62px;

    margin: 0;
    padding: 11px 32px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
}

.RtableRow:nth-child(odd) {
    border-radius: 5px;
    background: #f7f7f9;
}

.RtableRow:first-child {
    position: relative;

    border: none;
    background: none;
}

.RtableRow:first-child::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    border-radius: 6px;
    background: #f2f3f5;
}

.columnHeading {
    color: #9093ae;
}

.nameCellUpperBlock {
    grid-column: span 4;
}

.nameCellHeader {
    grid-column: span 3;

    margin-left: 40px;
}

.nameCellText {
    overflow: hidden;

    width: 179px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.durationCell {
    display: flex;
    justify-content: flex-end;

    width: 99px;
}

.dateCell {
    display: flex;
    justify-content: flex-end;

    width: 83px;
}

.statusCell {
    display: flex;
    justify-content: flex-start;

    width: 131px;
}

.downloadCell {
    display: flex;
    justify-content: center;

    width: 58px;
}

.sendCell {
    display: flex;
    justify-content: center;

    width: 75px;
}

.deleteCell {
    display: flex;
    justify-content: center;

    width: 58px;
}

.statusType {
    display: flex;
    align-items: center;

    width: 131px;

    margin: 0;
    padding: 0;
}

.statusType img {
    margin-right: 14px;
}

.btnEdit {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    background-image: url('../../assets/iconEditDefault.svg');
    background-repeat: no-repeat;
}

.btnEdit:hover {
    background-image: url('../../assets/iconEditHover.svg');
}

.btnEdit:active {
    background-image: url('../../assets/iconEditActive.svg');
}

.btnDownloadAnswer {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    background-image: url('../../assets/iconDownloadDefault.svg');
    background-repeat: no-repeat;
}

.btnDownloadAnswer:hover {
    background-image: url('../../assets/iconDownloadHover.svg');
}

.btnFeedback {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    background-image: url('../../assets/iconFeedbackDefault.svg');
    background-repeat: no-repeat;
}

.btnFeedback:hover {
    background-image: url('../../assets/iconFeedbackHover.svg');
}

.btnDeleteVideo {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    background-image: url('../../assets/iconTrashDefault.svg');
    background-repeat: no-repeat;
}

.btnDeleteVideo:hover {
    background-image: url('../../assets/iconTrashHover_22x22.svg');
}

@media (max-width: 1365px) {
    .containerViewInner {
        width: calc(100vw - 80px - 24px);
    }
}
