.popupAddPlaylist {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 375px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupAddPlaylist h2 {
    margin: 0;

    margin-bottom: 19px;
    padding: 0;

    padding-top: 50px;
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupAddPlaylist h2 {
    margin-bottom: 23px;
}

.popupAddPlaylist label {
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.enterNamePlaylist {
    box-sizing: border-box;

    width: 360px;
    height: 42px;
    margin-top: 9px;
    margin-bottom: 18px;
    margin-left: 88px;
    padding: 9px 42px 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.enterNamePlaylist.last {
    margin-bottom: 20px;
}

.enterNamePlaylist:hover {
    border: 1px solid #bec1d2;
}

.enterNamePlaylist:active,
.enterNamePlaylist:focus {
    border: 1px solid #566dec;
}

.containerBtn {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.buttonCreate {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCreate:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCreate:active {
    background: #1026cf;
}

.buttonCreate:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

