.containerUpdatedInfo {
    width: calc(100vw - 208px - 41px);
    margin: 0;
    padding: 20px;

    background: lightyellow;
}

.containerUpdatedInfoInner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.updatedInfo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.updatedInfoDescription {
    display: flex;
    align-items: center;
    gap: 10px;
}

.updatedInfoDescription p {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 17px;
}

.updatedInfoDescription p:first-child {
    color: #101431;

    font-size: 16px;
    font-style: normal;

    /* font-weight: 500; */
}

.btnMoreDetailed {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    margin: 0;
    padding: 4px 6px;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnMoreDetailed:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnMoreDetailed:active {
    background: #1026cf;
}

.closeButton {
    cursor: pointer;
}
