<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% if (isSl) { %>
        <script>
            window.globalConfig = { SL_SERVER_API_URL: 'http://localhost:8000/api' };
        </script>
        <% } %>
        <% if (isDev) { %>
        <script src="//code.jivo.ru/widget/EtRlmJaCS7" async>
            window.jivo_api = jivo_api;
        </script>
        <% } %>
        <% if (isProd) { %>
        <script src="//code.jivo.ru/widget/znM5ba9kHj" async>
            window.jivo_api = jivo_api;
        </script>
        <% } %>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
