.container-error {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    overflow: auto;

    width: 100%;
    height: 100%;

    background: #f7f7f9;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container-error::before {
    position: absolute;

    top: 42px;
    left: 49px;

    width: 120px;
    height: 40px;

    content: url('assets/bigLogo.svg');
}

.error {
    width: 688px;

    margin: 0;
    padding: 0;

    text-align: center;
}

.error h2 {
    margin: 0;
    padding: 0;

    color: #d2d7f8;

    font-family: Inter, sans-serif;
    font-size: 200px;
    font-weight: normal;
    font-style: normal;
}

.errorItem1,
.errorItem2 {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 27px;
}

.errorItem1 {
    margin-bottom: 6px;

    font-weight: 700;
}

.btnBack {
    position: relative;

    width: 202px;
    height: 42px;
    margin: 0;
    margin-top: 45px;
    padding: 10px 20px 10px 50px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnBack::before {
    position: absolute;

    top: 10px;
    left: 60px;

    width: 23px;
    height: 22px;

    content: url('assets/arrowLeft.svg');
}

.btnBack:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnBack:active {
    background: #1026cf;
}
