.mainHeader {
    position: relative;

    display: flex;
    justify-content: flex-end;

    height: 72px;
    margin: 0;
    padding: 0;

    background: #fff;

    box-shadow: 225px 4px 20px rgb(166 171 195 / 6%);
}

.mainHeaderSteps {
    /* display: none; */
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 104px;
}

.wrapperBlockCreatePlaylist {
    display: flex;

    /* justify-content: flex-start; */

    /* width: calc(100vw - 464px); */
    margin: 0;
    padding: 0;
}

.wrapCreatePlaylistName {
    width: 25vw;
    max-width: 460px;

    margin: 0;
    margin-top: 26px;
    padding: 0;
}

.wrapperSteps {
    display: flex;
    justify-content: center;

    width: 50vw;

    margin: 0;
    padding: 0;
}

.stepEnabled {
    cursor: pointer;
}

.blockCreatePlaylistSteps {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 170px;
    height: 46px;

    margin: 0;
    margin-top: 13px;
    padding: 0;
}

.blockCreatePlaylistStepDivider::after {
    position: absolute;

    top: 13px;
    right: -50px;

    width: 100px;
    height: 1px;

    content: '';

    border-radius: 1px;
    background: #c2c4d4;
}

.blockCreatePlaylistStepDividerCurrent::after {
    position: absolute;

    top: 13px;
    right: -50px;

    width: 100px;
    height: 1px;

    content: '';

    border-radius: 1px;
    background: #1f36e5;
}

.createPlaylistStepNumber {
    display: flex;
    place-content: center center;
    align-items: center;

    box-sizing: border-box;

    width: 24px;
    height: 24px;

    margin: 0;
    margin-bottom: 4px;
    padding: 0;

    color: #fff;

    border-radius: 50%;
    background: #c2c4d4;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.createPlaylistStepNumberCurrent {
    background: #1f36e5;
}

.createPlaylistStepNumberPrevious {
    color: #1f36e5;
    border: 1px solid #1f36e5;
    background: none;
}

.createPlaylistStepName {
    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.createPlaylistStepNameCurrent {
    color: #1f36e5;
}

.wrapperHeaderPOS {
    position: absolute;

    top: 0;
    left: 232px;

    content: '';
}

.fieldHeaderPOS {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 473px;
    height: 42px;

    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.fieldHeaderPOSItem {
    margin: 0;
    padding: 0;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.fieldHeaderPOSLink {
    position: relative;

    margin: 0;
    margin-top: 2.5px;
    padding: 0;

    color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.fieldHeaderPOSLink::after {
    position: absolute;

    top: -2px;
    right: -34px;

    content: url('../../assets/iconArrowBlue_22x22.svg');
}

.mainHeaderList {
    display: flex;

    margin: 0;
    padding: 0;
}

.wrapperInfoTariff {
    /* display: none; */
    margin: 0;
    margin-right: 33px;
    padding: 0;
}

.fieldInfoTariff {
    display: flex;

    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.fieldInfoTariffText {
    margin: 0;
    margin-right: 25px;
    padding: 0;
}

.infoTariffItem {
    margin: 0;
    margin-top: 11px;
    padding: 0;

    color: #f92424;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.fieldBtnInfoTariff {
    margin: 0;
    padding: 0;
}

.btnAddBalance {
    position: relative;

    box-sizing: border-box;

    width: 216px;
    height: 42px;

    margin: 0;
    padding: 0;
    padding-left: 30px;

    color: #f92424;

    border: 1.2px solid #ff7171;

    border-radius: 6px;

    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnAddBalance::before {
    position: absolute;
    top: 9px;
    left: 24px;

    width: 22px;
    height: 22px;

    content: url('../../assets/iconRuble.svg');
}

.btnAddBalance:hover {
    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.btnAddBalance:hover::before {
    content: url('../../assets/iconRubleHover.svg');
}

.btnAddBalance:active {
    color: #fff;
    background: #e41d1d;
}

.wrapperInfoForUser {
    display: flex;

    margin: 0;
    padding: 0;
}

.tipsMain {
    position: relative;

    width: 140px;
    margin: 0;
    margin-top: 24px;
    margin-right: 65px;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.tipsMainOn {
    position: absolute;
    top: 2px;
    right: -25px;

    width: 36px;
    height: 20px;

    background-image: url('../../assets/icon_toggle_on.svg');
}

.tipsMainOff {
    position: absolute;
    top: 2px;
    right: -25px;

    width: 36px;
    height: 20px;

    background-image: url('../../assets/icon_toggle_off.svg');
}

.fieldQuestionMain {
    position: relative;

    margin: 0;
    margin-top: 24px;
    margin-right: 40px;
    padding: 0;

    cursor: pointer;
}

.questionMain {
    position: relative;

    margin: 0;
    padding: 0;

    stroke: #101431;
}

.questionMain:hover {
    stroke: #3b51f9;
}

/* .questionMain::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    content: url("../../assets/icon_question.svg");
}

.questionMain:hover::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    content: url("../../assets/icon_questionHover.svg");
} */

.notificationMain {
    position: relative;

    margin: 0;
    margin-top: 20px;
    margin-right: 48px;
    padding: 0;
}

.notificationMain::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 28px;
    height: 28px;

    content: url('../../assets/icon_notification.svg');
}

.profileMain {
    position: relative;

    width: 24px;

    margin: 0;
    padding: 9px 8px 7px;

    cursor: pointer;

    user-select: none;

    text-align: center;

    color: #fff;

    border-radius: 50%;

    background-color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

/*
.profileMain::before {
    position: absolute;
    top: 9px;
    left: 8px;

    width: 24px;
    height: 24px;

    content: 'У';
    text-align: center;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
} */

.profileMainDown::after {
    position: absolute;
    top: 10px;
    right: -32px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconCaretDown.svg');
}

.profileMainUp::before {
    position: absolute;
    top: 10px;
    right: -32px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconCaretUp.svg');
}

.dropdown {
    position: relative;

    box-sizing: border-box;
    width: 96px;
    margin: 0;
    padding: 0;

    cursor: pointer;
}

.profileMenu {
    position: absolute;

    z-index: 100;
    bottom: 0;

    left: 69px;

    display: none;

    width: 340px;

    margin: 0;
    padding: 29px 0 26px;

    border-radius: 6px;

    background: #fff;
    box-shadow: 0 8px 26px rgb(161 164 176 / 27%);
}

.profileMenu.shown {
    display: block;
}

.profileUserName {
    position: relative;

    margin: 0;
    margin-left: 82px;
    padding: 0;

    user-select: none;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.profileUserName.noEmail {
    top: 12px;
}

.profileUserLogo {
    position: absolute;
    top: 32px;
    left: 24px;

    width: 40px;
    height: 40px;

    /* content: ''; */
    user-select: none;

    text-align: center;

    color: #fff;

    border-radius: 50%;
    background: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 40px;

    /* background-image: url('../../assets/iconAvatar.svg');
    background-repeat: no-repeat; */
}

/*
.profileMenu::before {
    position: absolute;
    top: 32px;
    left: 24px;

    width: 40px;
    height: 40px;

    content: '';
    cursor: pointer;

    background-image: url('../../assets/iconAvatar.svg');
    background-repeat: no-repeat;
}
*/
.profileUserEmail {
    position: relative;

    height: 22px;

    margin: 0 0 35px 82px;
    padding: 0;

    user-select: none;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.profileUserEmail::after {
    position: absolute;

    right: 24px;
    bottom: -16px;

    width: 292px;
    height: 1px;

    content: '';

    background: #dddfee;
}

.profileUser,
.tariffSection,
.manualSection,
.teamSection {
    position: relative;

    margin: 0 24px 4px;
    padding: 8px 0 8px 58px;

    cursor: pointer;
    user-select: none;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.tariffSection::before,
.profileUser::before,
.manualSection::before,
.teamSection::before {
    position: absolute;
    top: 8px;
    left: 18px;

    width: 22px;
    height: 22px;

    content: '';

    opacity: 0.5;

    background-repeat: no-repeat;
}

.profileUser::before {
    background-image: url('../../assets/signUser.svg');
}

.tariffSection::before {
    background-image: url('assets/star.svg');
}

.manualSection::before {
    background-image: url('assets/question.svg');
}

.teamSection::before {
    background-image: url('assets/users.svg');
}

.logOut {
    position: relative;

    margin: 0 24px;
    padding: 8px 0 8px 58px;

    cursor: pointer;
    user-select: none;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.logOut::before {
    position: absolute;
    top: 8px;
    left: 18px;

    width: 22px;
    height: 22px;

    content: '';

    opacity: 0.5;

    background-image: url('../../assets/signOut.svg');
    background-repeat: no-repeat;
}

.profileUser:hover,
.tariffSection:hover,
.manualSection:hover,
.logOut:hover,
.teamSection:hover {
    border-radius: 4px;
    background: #ebeefd;
}

.profileUser:hover::before,
.tariffSection:hover::before(:not(.disabled)),
.manualSection:hover::before,
.logOut:hover::before,
.teamSection:hover::before {
    opacity: 1;
}

.tariffSection.disabled {
    cursor: default;

    color: #9093ae;
}

/* Всплывающее окно */

.modal {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;

    display: none;

    width: 860px;
    height: 590px;
    padding-left: 100px;

    transform: translate(-50%, -50%);

    color: #000;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgb(0 1 1 / 75%);
}

.modal-show {
    display: block;
}

.modal h2 {
    margin: 0;

    margin-bottom: 39px;
    padding: 0;
    padding-top: 67px;

    text-align: left;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.feed {
    display: flex;

    width: 760px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
}

.input {
    box-sizing: border-box;
    width: 360px;
    height: 50px;
    margin-top: 10px;
    margin-right: 40px;
    padding-left: 12px;

    text-align: left;

    opacity: 0.5;

    color: #444;

    border: solid 2px #d7dcde;
    border-radius: 4px;

    font-size: 16px;
    line-height: 18px;
}

.letter {
    margin-bottom: 43px;
}

.comment {
    box-sizing: border-box;
    width: 760px;
    height: 118px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 12px;

    text-align: left;

    opacity: 0.5;

    border: solid 2px #d7dcde;
    border-radius: 4px;

    font-size: 16px;
    line-height: 18px;
}

.input:hover,
.comment:hover {
    border-color: #b4b9bb;
}

.input:focus,
.comment:focus {
    opacity: 1;
    border-color: #000;
}

.item-input,
.item-comment {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.input:invalid {
    color: #e74246;
    border-color: #e74246;
}

.button-send {
    width: 260px;
    height: 50px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.profileClosed {
    display: none;
}

.wrapperTabsHeader {
    position: absolute;

    top: 0;
    left: 208px;

    content: '';
}

@media (width <= 1365px) {
    .wrapperTabsHeader {
        left: 81px;
    }
}

.wrapperTabsHeader.narrow {
    left: 81px;
}

.fieldTabsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0;
}

.tabsHeaderLink {
    box-sizing: border-box;

    /* width: 218px; */
    height: 72px;

    margin: 0;
    padding: 24px 46px;

    user-select: none;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.tabsHeaderLink:last-child {
    /* width: 194px; */

    /* width: 206px; */
}

.tabsHeaderLinkCurrent {
    position: relative;

    color: #3b51f9;
}

.tabsHeaderLinkCurrent::after {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    content: '';

    background: #3b51f9;
}

.fieldTabsHeaderInner {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
}

.fieldTabLiveAvatar {
    display: flex;
    align-items: center;
    gap: 5px;

    margin: 0;
    margin-right: 17px;
    padding: 25px 0 25px 24px;

    cursor: pointer;
}

.fieldLiveAvatar {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;
}

.fieldLiveAvatar svg {
    width: 22px;
    height: 22px;

    margin: 0;
    padding: 0;

    cursor: pointer;
}

.liveAvatarItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.savedInfo {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    border: none;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

@media (width <= 1365px) {
    .profileMenu {
        left: 25px;
    }
}
