.popupDeletePlaylist {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 280px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupDeletePlaylist .btnCancel {
    position: relative;
}

.popupDeletePlaylist h2 {
    margin: 0;

    margin-bottom: 19px;
    padding: 0;

    padding-top: 50px;
    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupDeletePlaylist p {
    /* width: 360px; */
    height: 48px;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;

    padding-left: 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
}

.containerBtn {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.buttonCreate {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCreate:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCreate:active {
    background: #1026cf;
}

.buttonCreate:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}
