.wrapperTriggerScriptTime {
    display: flex;

    margin: 0 26px 3px 4px;
    padding: 0;
}

.vertical {
    display: flex;

    overflow-y: auto;
    flex-direction: column;

    height: 100px;

    min-height: 100px;
    margin: 0;
    padding: 0;
    gap: 4px;
}

.wrapperTimeLineEmpty {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 114px;

    margin: 0;
    padding: 0;
}

.wrapperTimeLineItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.timeLineItem {
    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

.timeLineItem:first-child {
    margin-bottom: 10px;
}
