/* location row - first cell */

.locationCardInfo {
    position: relative;

    display: flex;
}

.locationCardImage {
    margin: 7px 16px 0 0;
}

.errorSign {
    position: absolute;
    top: -1px;
    left: -8px;

    content: url('../../assets/iconWarningRed_20x20.svg');
}

.locationCardInfoText {
    overflow: hidden;

    height: 40px;

    margin: 8px 0 17px;
    padding: 0 17px 0 0;
}

.locationName {
    overflow: hidden;

    margin: 0 0 5px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.locationAddress {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

/* location row - second cell */

.screensNumberCard {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.screensNumberInfo {
    margin: 0 0 3px;

    color: #6c6e82;
}

.screensNumberInfo span {
    color: #101431;
}

.screensStatistics {
    display: flex;
}

.screensStatisticsItem {
    display: flex;
    align-items: center;

    margin: 0 20px 0 0;
}

.screensStatisticsItem img {
    margin-right: 8px;
}

.screensNumberItem {
    margin: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

/* location row - third cell */

.screensInfo {
    display: flex;
    justify-content: right;
}

.screensInfoItem {
    box-sizing: border-box;

    width: 110px;

    margin: 3px;

    padding: 8px;

    border: 1px solid transparent;

    border-radius: 6px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.screensInfoItem.active,
.screensInfoItem.active:hover {
    border: 1px solid #3b51f9;
    box-shadow: 0 0 0 3px #c1c8fd;
}

.screensInfoItem:hover {
    box-shadow: 2px 18px 28px rgb(166 171 195 / 19%);
}

.screenshotImage {
    object-fit: cover;

    border-radius: 6px;
}

.screenName {
    overflow: hidden;

    margin: 0;

    word-break: break-all;
}

.statusOn {
    position: relative;

    right: 72px;
    bottom: 26px;

    display: inline-block;

    box-sizing: border-box;

    height: 18px;
    margin: 0 0 16px;
    padding: 1px 9px 2px;

    color: #18c55d;
    border-radius: 10px;
    background: #d5f1e2;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.statusOn::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background: #18c55d;
}

.statusOff {
    position: relative;

    right: 72px;
    bottom: 26px;

    display: inline-block;

    box-sizing: border-box;

    height: 18px;
    margin: 0 0 16px;
    padding: 1px 9px 2px;

    color: #6c6e82;
    border-radius: 10px;
    background: #f0f0f5;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.statusOff::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background: #6c6e82;
}

.statusError {
    position: relative;

    right: 72px;
    bottom: 26px;

    display: inline-block;

    box-sizing: border-box;

    height: 18px;
    margin: 0 0 16px;
    padding: 1px 9px 2px;

    color: #f92424;
    border-radius: 10px;
    background: #ffdada;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.statusError::before {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background: #f92424;
}
