@import url('./tailwind.css');

div.my-alert {
    position: relative;
    overflow-x: auto;
    padding: var(--tw-size-5);

    height: calc(100vh - 45px);
}

@media (width >= 1200px) {
    div.my-alert {
        min-width: 1200px;
    }
}

div.my-alert > div {
    display: flex;
    align-items: center;
    gap: var(--tw-size-5);
    /* Unknown class .flex-column */
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    div.my-alert > div {
        flex-direction: row;
    }
}

div.my-alert > div > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(var(--tw-size-4) * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(var(--tw-size-4) * var(--tw-space-y-reverse));
}

@media (min-width: 768px) {
    div.my-alert > div > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(var(--tw-size-0) * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(var(--tw-size-0) * var(--tw-space-y-reverse));
    }
}

div.my-alert > div {
    padding-bottom: var(--tw-size-4);
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
}

div.my-alert > div > div {
    position: relative;
}

div.my-alert > div > div > div {
    position: absolute;
    top: var(--tw-size-0);
    bottom: var(--tw-size-0);
}

:is([dir="rtl"] div.my-alert > div > div > div) {
    /* Unknown class .inset-r-0 */
}

div.my-alert > div > div > div {
    inset-inline-start: var(--tw-size-0);
    display: flex;
    align-items: center;
    -webkit-padding-start: var(--tw-size-3);
    padding-inline-start: var(--tw-size-3);
    pointer-events: none;
}

div.my-alert > div > div > div > svg {
    width: var(--tw-size-4);
    height: var(--tw-size-4);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-500) / var(--tw-text-opacity));
}

div.my-alert > div > div > input {
    display: block;
    padding: var(--tw-size-2);
    -webkit-padding-start: var(--tw-size-10);
    padding-inline-start: var(--tw-size-10);
    font-size: var(--tw-font-size-sm);
    line-height: var(--tw-line-height-5);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-900) / var(--tw-text-opacity));
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(var(--tw-color-gray-300) / var(--tw-border-opacity));
    border-radius: var(--tw-border-radius-lg);
    width: var(--tw-size-80);
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-gray-50) / var(--tw-bg-opacity));
}

div.my-alert > div > div > input:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--tw-color-blue-500) / var(--tw-ring-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(var(--tw-color-blue-500) / var(--tw-border-opacity));
}

div.my-alert > div > button.my-alert__unique1 {
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-white) / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-blue-700) / var(--tw-bg-opacity));
}

div.my-alert > div > button.my-alert__unique1:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-blue-800) / var(--tw-bg-opacity));
}

div.my-alert > div > button.my-alert__unique1:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--tw-color-blue-300) / var(--tw-ring-opacity));
}

div.my-alert > div > button.my-alert__unique1 {
    font-weight: var(--tw-font-weight-medium);
    border-radius: var(--tw-border-radius-lg);
    font-size: var(--tw-font-size-sm);
    line-height: var(--tw-line-height-5);
    padding-left: var(--tw-size-5);
    padding-right: var(--tw-size-5);
    padding-top: var(--tw-size-2);
    padding-bottom: var(--tw-size-2);
}

div.my-alert > div > button.my-alert__unique1:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

div.my-alert > div > button.my-alert__unique2 {
    padding-top: var(--tw-size-2);
    padding-bottom: var(--tw-size-2);
    padding-left: var(--tw-size-5);
    padding-right: var(--tw-size-5);
    font-size: var(--tw-font-size-sm);
    line-height: var(--tw-line-height-5);
    font-weight: var(--tw-font-weight-medium);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-900) / var(--tw-text-opacity));
}

div.my-alert > div > button.my-alert__unique2:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

div.my-alert > div > button.my-alert__unique2 {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
    border-radius: var(--tw-border-radius-lg);
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(var(--tw-color-gray-200) / var(--tw-border-opacity));
}

div.my-alert > div > button.my-alert__unique2:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-gray-100) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-blue-700) / var(--tw-text-opacity));
}

div.my-alert > div > button.my-alert__unique2:focus {
    z-index: 10;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--tw-color-gray-200) / var(--tw-ring-opacity));
}

div.my-alert > table {
    width: 100%;
    font-size: var(--tw-font-size-sm);
    line-height: var(--tw-line-height-5);
    text-align: left;
}

:is([dir="rtl"] div.my-alert > table) {
    text-align: right;
}

div.my-alert > table {
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-500) / var(--tw-text-opacity));
}

div.my-alert > table > thead {
    font-size: var(--tw-font-size-xs);
    line-height: var(--tw-line-height-4);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-700) / var(--tw-text-opacity));
    text-transform: uppercase;
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-gray-50) / var(--tw-bg-opacity));
}

div.my-alert > table > thead > tr > th {
    padding-left: var(--tw-size-6);
    padding-right: var(--tw-size-6);
    padding-top: var(--tw-size-3);
    padding-bottom: var(--tw-size-3);
}

div.my-alert > table > tbody > tr {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
    border-bottom-width: 1px;
}

div.my-alert > table > tbody > tr:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-gray-50) / var(--tw-bg-opacity));
}

div.my-alert > table > tbody > tr > td {
    padding-left: var(--tw-size-6);
    padding-right: var(--tw-size-6);
    padding-top: var(--tw-size-4);
    padding-bottom: var(--tw-size-4);
}

div.my-alert > table > tbody > tr > td > div {
    display: flex;
    align-items: center;
}

div.my-alert > nav {
    display: flex;
    align-items: center;
    /* Unknown class .flex-column */
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    div.my-alert > nav {
        flex-direction: row;
    }
}

div.my-alert > nav {
    justify-content: space-between;
    padding-top: var(--tw-size-4);
}

div.my-alert > nav > span {
    font-size: var(--tw-font-size-sm);
    line-height: var(--tw-line-height-5);
    font-weight: var(--tw-font-weight-normal);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-500) / var(--tw-text-opacity));
    margin-bottom: var(--tw-size-4);
}

@media (min-width: 768px) {
    div.my-alert > nav > span {
        margin-bottom: var(--tw-size-0);
    }
}

div.my-alert > nav > span {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    div.my-alert > nav > span {
        display: inline;
        width: auto;
    }
}

div.my-alert > nav > span > span {
    font-weight: var(--tw-font-weight-semibold);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-900) / var(--tw-text-opacity));
}

div.my-alert > nav > ul {
    display: inline-flex;
}

div.my-alert > nav > ul > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(calc(var(--tw-size-px) * -1) * var(--tw-space-x-reverse));
    margin-left: calc(
        calc(var(--tw-size-px) * -1) * calc(1 - var(--tw-space-x-reverse))
    );
}

:is([dir="rtl"] div.my-alert > nav > ul) > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1;
}

div.my-alert > nav > ul {
    font-size: var(--tw-font-size-sm);
    line-height: var(--tw-line-height-5);
    height: var(--tw-size-8);
}

div.my-alert > nav > ul > li > a.my-alert__unique3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--tw-size-3);
    padding-right: var(--tw-size-3);
    height: var(--tw-size-8);
    -webkit-margin-start: var(--tw-size-0);
    margin-inline-start: var(--tw-size-0);
    line-height: var(--tw-line-height-tight);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-500) / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(var(--tw-color-gray-300) / var(--tw-border-opacity));
    border-start-start-radius: var(--tw-border-radius-lg);
    border-end-start-radius: var(--tw-border-radius-lg);
}

div.my-alert > nav > ul > li > a.my-alert__unique3:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-gray-100) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-700) / var(--tw-text-opacity));
}

div.my-alert > nav > ul > li > a.my-alert__unique4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--tw-size-3);
    padding-right: var(--tw-size-3);
    height: var(--tw-size-8);
    line-height: var(--tw-line-height-tight);
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-500) / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-white) / var(--tw-bg-opacity));
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(var(--tw-color-gray-300) / var(--tw-border-opacity));
    border-start-end-radius: var(--tw-border-radius-lg);
    border-end-end-radius: var(--tw-border-radius-lg);
}

div.my-alert > nav > ul > li > a.my-alert__unique4:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--tw-color-gray-100) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(var(--tw-color-gray-700) / var(--tw-text-opacity));
}
