.popupDeleteScreen {
    position: relative;
    top: 50%;

    left: 50%;

    width: 536px;
    height: 280px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupDeleteScreen h2 {
    margin: 0 0 19px;
    padding: 50px 0 0 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupDeleteScreen p {
    width: 360px;
    height: 48px;
    margin: 0 0 34px;
    padding: 0 0 0 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.containerBtn {
    display: flex;
    justify-content: center;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.popupDeleteScreen .btnCancel {
    position: relative;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;

    margin: 0;
    padding: 9px 51px;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;

    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
    background-color: #fff;
    box-shadow: none;
}

.buttonDelete {
    position: relative;

    width: 172px;
    height: 42px;
    margin: 0;
    padding: 10px 41px 10px 73px;

    cursor: pointer;

    text-align: center;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #f92424;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonDelete::before {
    position: absolute;

    top: 10px;
    left: 39px;

    width: 22px;
    height: 22px;

    content: url('../../../../assets/iconTrash_22x22.svg');
}

.buttonDelete:hover::before {
    content: url('../../../../assets/iconTrash_22x22.svg');
}

.buttonDelete:hover {
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.buttonDelete:active {
    background: #e41d1d;
}

.buttonDelete:disabled {
    cursor: auto;

    background: #ffaeae;
    box-shadow: none;
}
