body {
    /* min-width: 1260px; */
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    color: #000;

    background: #fff;

    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background: #dddfee;
}

html,
div#app {
    height: 100%;
}

a {
    text-decoration: none;

    color: #000;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

a:hover {
    cursor: pointer;
}

input::placeholder {
    color: #6c6e82;
}

img {
    object-fit: cover;
}
