.wrapperUploadContentSnackbar {
    overflow-x: hidden;
    overflow-y: scroll;

    max-height: 255px;

    margin: 0;
    margin-right: -16px;
    padding: 0;
}

.wrapperUploadContentSnackbar::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapperUploadContentSnackbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.wrapperUploadContent {
    position: relative;

    display: flex;
    align-items: center;

    margin: 0;
    margin-bottom: 1px;
    padding: 9px 0;
}

.wrapperUploadContent:last-child {
    margin-bottom: 0;
}

.wrapperUploadContent::before {
    position: absolute;

    top: 0;
    left: 0;

    width: 404px;

    height: 1px;

    content: '';

    background: #f2f3f5;
}

.wrapperUploadContent:first-child::before {
    background: none;
}

.fieldUploadContentImg {
    width: 32px;
    height: 32px;

    margin: 0;
    margin-right: 12px;
    padding: 0;

    background: #ebeefd;
}

.fieldUploadContentInfoAll {
    display: flex;
    align-items: center;

    margin: 0;
    margin-right: 16px;
    padding: 0;
}

.fieldUploadContentInfoText {
    width: 222px;

    margin: 0;
    margin-right: 16px;
    padding: 0;
}

.fieldUploadContentInfoText.withoutPicture {
    width: 266px;
}

.fieldUploadContentInfoSize {
    display: flex;
    justify-content: flex-end;

    width: 76px;

    margin: 0;
    padding: 0;
}

.uploadContentInfoText,
.uploadContentInfoTextError {
    overflow: hidden;

    margin: 0;
    padding: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
}

.uploadContentInfoTextError,
.uploadContentInfoText span {
    color: #6c6e82;
}

.fieldUploadContentBtn {
    width: 32px;
    height: 32px;

    margin: 0;
    padding: 0;
}

.uploadIconHover:hover path {
    stroke: #3b51f9;

    cursor: pointer;
}
