.popupDeletePlaylist {
    position: relative;
    top: 50%;

    left: 50%;

    width: calc(648px - 88px);
    height: calc(304px - 50px - 56px);

    margin: 0;
    padding: 50px 0 56px 88px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupDeletePlaylist .btnCancel {
    position: relative;
}

.popupDeletePlaylist h2,
.popupAddPlaylist h2,
.modalDeleteContent h2 {
    margin: 0 0 19px;
    padding: 50px 0 0 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupDeletePlaylist h2 {
    padding: 0;
}

.popupAddPlaylist h2 {
    margin-bottom: 23px;
}

.popupDeletePlaylist p,
.modalDeleteContent p {
    width: 472px;
    height: 79px;
    margin: 0 0 34px;
    padding: 0 0 0 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.popupDeletePlaylist p {
    padding: 0;
}

.fieldButtons {
    display: flex;
    gap: 16px;

    margin: 0;
    padding: 0;
}

.buttonDelete {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 228px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #f92424;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonDelete img {
    margin-right: 12px;

    content: url('../../../../../../assets/signOutWhite.svg');
}

.buttonDelete:hover {
    color: #fff;
    background: #ff5757;
    box-shadow: 0 8px 18px -8px rgb(195 166 166 / 33%);
}

.buttonDelete:active {
    color: #fff;
    background: #e41d1d;
}

.buttonDelete:disabled {
    cursor: auto;

    background: #ffaeae;
    box-shadow: none;
}

.buttonCancel {
    box-sizing: border-box;

    width: 228px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    text-align: center;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    color: #9093ae;
    border: 1.2px solid #babee6;
}
