/* .mainHeader {
    display: flex;

    width: 1366px;
    height: 72px;
    margin: 0;
    padding: 0;

    background: #fff;
    justify-content: flex-end;
}

.mainHeaderList ul {
    display: flex;
}

.tipsMain {
    position: relative;

    width: 140px;
    margin: 0;
    margin-top: 24px;
    margin-right: 65px;
    padding: 0;

    text-align: center;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.tipsMain::after {
    position: absolute;
    top: 2px;
    right: -20px;

    width: 36px;
    height: 20px;

    content: url('../../assets/icon_toggle_off.svg');
}

.questionMain {
    position: relative;

    margin: 0;
    margin-top: 20px;
    margin-right: 43px;
    padding: 0;
}

.questionMain::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 28px;
    height: 28px;

    content: url('../../assets/icon_question.svg');
}

.notificationMain {
    position: relative;

    margin: 0;
    margin-top: 20px;
    margin-right: 48px;
    padding: 0;
}

.notificationMain::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 28px;
    height: 28px;

    content: url('../../assets/icon_notification.svg');
}

.profileMain {
    position: relative;

    width: 40px;
    height: 40px;
    margin: 0;
    margin-top: 16px;
    margin-right: 56px;
    padding: 0;

    cursor: pointer;

    border-radius: 50%;

    background-color: #3b51f9;
}

.profileMain::before {
    position: absolute;
    top: 9px;
    left: 8px;

    width: 24px;
    height: 24px;

    content: 'У';
    text-align: center;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.profileMain::after {
    position: absolute;
    top: 10px;
    right: -32px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconCaretDown.svg');
}

.dropdown {
    position: relative;
}

.profileMenu {
    position: absolute;

    z-index: 1;
    top: 76px;

    right: 0;

    display: none;

    width: 340px;
    height: 216px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    border-radius: 6px;

    background: #fff;
}

.dropdown:hover .profileMenu {
    display: block;
}
*/

/* .profileUserName {
    position: relative;

    width: 226px;
    height: 24px;
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-left: 82px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.profileUserName::before {
    position: absolute;
    top: 32px;
    left: 24px;

    width: 40px;
    height: 40px;

    content: '';

    background-image: url('../../assets/iconAvatar.svg');
    background-repeat: no-repeat;
}

.profileUserEmail {
    position: relative;

    width: 226px;
    height: 22px;
    margin: 0;
    margin-bottom: 43px;
    padding: 0;
    padding-left: 82px;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.profileUserEmail::after {
    position: absolute;
    top: 48px;
    left: 24px;

    width: 284px;
    height: 1px;

    content: '';

    background: #dddfee;
}

.profileUser {
    position: relative;

    width: 226px;
    height: 22px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 82px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.profileUser::before {
    position: absolute;
    top: 0;
    left: 42px;

    width: 22px;
    height: 22px;

    content: '';

    background-image: url('../../assets/signUser.svg');
    background-repeat: no-repeat;
}

.logOut {
    position: relative;

    width: 226px;
    height: 22px;
    margin: 0;
    margin-left: 24px;
    padding: 8px 8px 8px 58px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.logOut::before {
    position: absolute;
    top: 8px;
    left: 18px;

    width: 22px;
    height: 22px;

    content: '';

    background-image: url('../../assets/signOut.svg');
    background-repeat: no-repeat;
}

.logOut:hover {
    border-radius: 4px;
    background: #ebeefd;
} */

body {
    overflow: hidden;
}

/* Всплывающее окно */

.modal {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;

    display: none;

    width: 860px;
    height: 590px;
    padding-left: 100px;

    transform: translate(-50%, -50%);

    color: #000;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgb(0 1 1 / 75%);
}

.modal-show {
    display: block;
}

.modal h2 {
    margin: 0;

    margin-bottom: 39px;
    padding: 0;
    padding-top: 67px;

    text-align: left;

    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.feed {
    display: flex;

    width: 760px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
}

.input {
    box-sizing: border-box;
    width: 360px;
    height: 50px;
    margin-top: 10px;
    margin-right: 40px;
    padding-left: 12px;

    text-align: left;

    opacity: 0.5;

    color: #444;

    border: solid 2px #d7dcde;
    border-radius: 4px;

    font-size: 16px;
    line-height: 18px;
}

.letter {
    margin-bottom: 43px;
}

.comment {
    box-sizing: border-box;
    width: 760px;
    height: 118px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 12px;

    text-align: left;

    opacity: 0.5;

    border: solid 2px #d7dcde;
    border-radius: 4px;

    font-size: 16px;
    line-height: 18px;
}

.input:hover,
.comment:hover {
    border-color: #b4b9bb;
}

.input:focus,
.comment:focus {
    opacity: 1;
    border-color: #000;
}

.item-input,
.item-comment {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.input:invalid {
    color: #e74246;
    border-color: #e74246;
}

.button-send {
    width: 260px;
    height: 50px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;

    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.profileClosed {
    display: none;
}

.menuNavigation {
    margin: 0;
    padding: 0;
}

.profilePageHeaderList li {
    position: relative;

    display: flex;
    justify-content: center;

    width: 188px;
}

.profilePageHeaderList a {
    margin: 0;
    padding: 20px 40px;

    user-select: none;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.profilePageHeaderItemCurrent a {
    color: #101431;
}

.blockDocList li {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    margin-bottom: 17px;
    padding: 0;
}

.blockDocList a {
    margin: 0;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.blockDocItemCurrent a {
    margin: 0;
    padding: 0;

    color: #101431;
}

.siteNavigation a {
    color: #9093ae;
}

.profilePageHeaderList a:hover {
    color: #101431;
}

.siteNavigation {
    width: 208px;
    height: 768px;
    margin: 0;
    margin-top: 10px;
    padding: 0;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.siteNavigation a:hover,
.siteNavigation a:focus {
    color: #101431;
}

.siteNavigation li {
    position: relative;

    margin-bottom: 36px;
    margin-left: 65px;
}

.fieldSectionDirectory > li {
    cursor: pointer;
}

.fieldSectionDirectory li {
    margin: 0;
    margin-bottom: 4px;
    margin-left: 16px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.siteNavigation li:first-child {
    margin-top: -42px;
    margin-bottom: 58px;
    margin-left: 49px;
}

.iconHouse::before {
    position: absolute;

    top: 0;
    left: -35px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconHouse.svg');

    opacity: 0.5;
}

.iconHouse:hover::before,
.iconHouse:focus::before {
    opacity: 1;
}

.iconDesktop::before {
    position: absolute;

    top: 0;
    left: -35px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconDesktop.svg');

    opacity: 0.5;
}

.iconDesktop:hover::before,
.iconDesktop:focus::before {
    opacity: 1;
}

.iconPlay::before {
    position: absolute;

    top: 0;
    left: -35px;

    width: 24px;
    height: 24px;

    content: url('../../assets/iconPlay.svg');

    opacity: 0.5;
}

.iconPlay:hover::before,
.iconPlay:focus::before {
    opacity: 1;
}

.menuPro {
    display: flex;

    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapperMenuPro {
    width: 100%;

    margin: 0;
    padding: 0;

    background: #f7f7f9;
}

.mainProfilePage {
    margin: 8px;
    padding: 0;

    border-radius: 8px;
    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.profilePageHeader {
    position: relative;

    /* display: flex;
    justify-content: center; */
    margin: 0;
    padding: 0;
}

.profilePageHeaderList {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 566px; */
    margin: 0;
    padding: 0;
}

.profilePageHeader::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    border-radius: 6px;

    background: #f2f3f5;
}

.profilePageHeaderItemCurrent a::after {
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 188px;
    height: 2px;

    content: '';

    border-radius: 6px;

    background: #3b51f9;
}

.containerBlockFormProfile {
    display: flex;

    overflow-y: scroll;
    flex-direction: column;

    width: 100%;
    height: calc(100vh - 24px - 68px - 16px);

    margin: 32px auto 0;
    padding: 0;
}

.containerBlockFormProfile::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.containerBlockFormProfile::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.blockFormProfile,
.blockDocProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}

.blockFormProfile {
    margin-bottom: 24px;
}

.blockDocProfile {
    height: calc(100vh - 72px);
}

.blockFormProfile h2,
.blockDocProfile h2 {
    width: 277px;

    margin: 0 0 33px 206px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.blockFormProfile h3 {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 20px;
    margin-left: 207px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
}

.blockFormProfile p {
    margin: 0;
    padding: 0;
}

.wrapProfileName,
.wrapProfileNumber,
.wrapProfileEmail,
.wrapProfileOldPassword,
.wrapProfileNewPassword,
.wrapProfileRepeatNewPassword {
    margin: 0 0 20px;
    padding: 0;
}

.wrapProfileEmail {
    margin-bottom: 30px;
}

.blockFormProfile label {
    float: left;

    width: 174px;
    margin: 0;

    margin-right: 32px;
    padding: 0;
    padding-top: 12px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.profileInput {
    box-sizing: border-box;

    width: 360px;
    height: 42px;
    margin: 0;
    padding: 0;
    padding-left: 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    outline: none;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.profileInput:hover {
    border: 1px solid #bec1d2;
}

.profileInput:active,
.profileInput:focus {
    border: 1px solid #566dec;
}

.profileInputError {
    border: 1px solid #f92424;
}

/* .fieldPassword input:invalid {
    border: 1px solid #f92424;
} */

.profileInput:disabled {
    border: 1px solid #d9dae4;
    background: #f7f7f9;
}

.buttonSave {
    width: 172px;
    height: 42px;
    margin: 0;
    margin-top: 12px;
    margin-left: 16px;

    /* margin-bottom: 51px; */
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonSave:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonSave:active {
    background: #1026cf;
}

.buttonSave:disabled {
    cursor: auto;

    background: #babee6;
    box-shadow: none;
}

.buttonCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    margin-left: 206px;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel:hover {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    cursor: default;

    color: #9093ae;

    border: 1.2px solid #babee6;
    background: #fff;
    box-shadow: none;
}

/* Style page Doc Profile */

.wrapBlockDoc {
    width: 566px;

    margin: 0;
    padding: 0;
}

.wrapBlockDoc h2 {
    margin-bottom: 56px;
}

.blockDocList p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.blockDocList li::after {
    position: absolute;

    bottom: -8px;
    left: 0;

    width: 566px;
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.blockDocList li:last-child::after {
    content: none;
}

/* Style Modal Windows Documents Profile Page */

.wrapModal {
    position: fixed;

    inset: 0;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.modalDocProfile {
    position: relative;

    width: 948px;

    margin: 0;
    padding: 0;
    padding-bottom: 50px;

    border-radius: 8px;

    background: #fff;
    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.modal1 {
    overflow-y: scroll;

    height: 511px;

    margin: 0;
    margin-top: 45px;
    padding: 0;
}

.modal1::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.modal1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.modalIconX {
    position: absolute;

    top: 16px;
    right: 16px;

    width: 13px;
    height: 13px;

    content: url('../../assets/iconXDefault_24x24.svg');

    cursor: pointer;
}

.modalIconX:hover {
    content: url('../../assets/iconXHover_24x24.svg');
}

.modalIconX:disabled {
    content: url('../../assets/iconXDisabled_24x24.svg');
}

.modalDocProfile h2 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0 88px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.modalDocProfile h3 {
    margin: 0;
    margin-bottom: 16px;
    padding: 0 88px;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.modalDocProfile p {
    margin: 0;
    padding: 0 88px;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.modal2.modalDocProfile h2,
.modal3.modalDocProfile h2 {
    margin-top: 45px;
}

.modal3.modalDocProfile p {
    margin-bottom: 16px;
}

.tooltip {
    position: relative;
}

.iconEye {
    cursor: pointer;
}

.iconEyeOpened {
    position: absolute;
    top: 10px;
    right: 16px;

    width: 22px;
    height: 22px;

    background-image: url('../../assets/iconEye.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.iconEyeClosed {
    position: absolute;
    top: 10px;
    right: 16px;

    width: 22px;
    height: 22px;

    background-image: url('../../assets/iconEyeClosed.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.errorPassword {
    margin: 0;
    margin-top: 5px;
    margin-left: 206px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.errorField {
    margin: 0;
    margin-top: 5px;
    margin-left: 206px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.iconWarning {
    background-image: url('../../assets/iconWarning.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.fieldPassword {
    margin: 0;
    padding: 0;
}

/* Style Page Tariff Plan  */

.wrapBlockTariffPlan {
    position: relative;

    display: flex;

    overflow-y: scroll;
    flex-direction: column;

    width: 100%;
    height: calc(100vh - 72px - 35px);

    margin: 32px auto 0;
    padding: 0;

    gap: 45px;
}

.wrapBlockTariffPlan::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapBlockTariffPlan::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.wrapTariffPlanTotalInfo {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    margin-bottom: 19px;
    padding: 15px 48px;

    border-radius: 8px;
    background: #f2f3f5;
}

.wrapTariffPlanTotalInfo.licenseExpired {
    background: #ffcdcd;
}

.containerTariff {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

.containerTariffItem {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.tariffItemTitle {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

.tariffItemTitle h3 {
    margin: 0;
    padding: 0;

    color: #000;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

.fieldTariffPlanTotalScreens {
    display: grid;
    grid-template-columns: 160px 80px 250px 285px;

    gap: 20px;

    width: 100%;
    margin: 0;
    padding: 0;
}

.fieldTariffPlanTotalAvatars {
    display: grid;
    grid-template-columns: 160px 80px 250px 285px;
    gap: 20px;

    width: 100%;
    margin: 0;
    padding: 0;
}

.fieldTariffPlanTotalVolume {
    display: grid;
    align-items: center;
    grid-template-columns: 160px 80px 250px 285px;
    gap: 20px;

    width: 100%;
    margin: 0;
    padding: 0;
}

.fieldTariffPlanTotalAvatars .wrapperColumnOne {
    grid-column: span 2;
}

.wrapperColumn {
    width: 100%;
    margin: 0;
    padding: 0;
}

.fieldTariffPlanTotalVolume .wrapperColumn {
    /* grid-column: span 3; */
}

.inputTariffPlan {
    display: inline-block;

    box-sizing: border-box;
    width: 220px;
    margin: 0;
    margin-right: 40px;
    padding: 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;
    outline: none;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.inputTariffPlan:hover {
    color: #101431;
    border: 1px solid #bec1d2;
}

.inputTariffPlan:active,
.inputTariffPlan:focus {
    color: #101431;
    border: 1px solid #566dec;
}

.tariffPlanTotalInfoItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.tariffPlanTotalInfoItem:first-child {
    margin-bottom: 12px;
}

.tariffPlanTotalInfoItem:nth-child(2n) {
    font-weight: 700;
}

.fieldAddBalance {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
}

.addBalance {
    box-sizing: border-box;

    width: 283px;
    height: 42px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.addBalance:hover {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.addBalance:active {
    background: #1026cf;
}

.fieldNote {
    display: flex;

    margin: 0;
    margin-top: -8px;
    padding: 0;
}

.fieldNote p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.wrapperAllAboutTariff {
    display: flex;
    flex-direction: column;

    width: 1094px;

    margin: 0 auto;
    padding: 0;
}

.fieldChangeTariff {
    margin: 0;
    margin-bottom: 33px;
    padding: 0 48px;
}

.fieldChangeTariffItem {
    margin: 0;
    margin-right: 80px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 19px;
}

.fieldChangeTariffItemCurrent {
    color: #101431;

    font-weight: bold;
}

.fieldTariffNumberScreen {
    display: flex;

    margin: 0;
    margin-bottom: 16px;
    padding: 0 48px;
}

.tariffNumberScreenItem {
    display: flex;
    align-items: center;

    margin: 0;
    margin-right: 16px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.tariffNumberScreen {
    box-sizing: border-box;

    width: 95px;
    height: 42px;

    margin: 0;
    padding: 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.blockCardsTariff {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 20px;
    padding: 0 48px;
}

.cardTariff {
    display: flex;

    box-sizing: border-box;

    width: 193px;
    height: 63px;

    border: 1px solid #eaecfc;
    border-radius: 6px;
}

.wrapCardTariff {
    position: relative;

    display: flex;

    margin: 0;
    padding: 0;
}

.wrapCardTariff::before {
    position: absolute;

    top: 12px;
    left: 21px;

    width: 20px;
    height: 20px;

    content: url('../../assets/iconDesktop20x20.svg');
}

.wrapCardTariff::after {
    position: absolute;

    top: 0;
    left: 65px;

    width: 1px;
    height: 62px;

    content: '';

    background: #f2f3f5;
}

.cardTariffCurrent {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 193px;
    height: 83px;

    border: 1px solid #5f71ff;

    border-radius: 6px;
}

.cardTariffItem {
    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;
}

.cardTariffCurrent .cardTariffItemCurrent {
    margin: 0;
    padding: 0;

    color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 14px;
}

.fieldCardTariffCurrent {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 193px;

    margin: 0 0 0 -1px;
    padding: 0;

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    background: #5f71ff;
}

.fieldCardTariffCurrent .fieldCardTariffCurrentItem {
    width: 55px;
    height: 20px;

    margin: 0;
    padding: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}

.cardTariff .fieldCardTariffCurrent {
    display: none;
}

.cardTariffNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 65px;

    margin: 0;
    padding: 0;
}

.cardTariffNumber .cardTariffItem {
    padding: 31px 15px 10px 13px;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.cardTariffPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 128px;
    margin: 0;
    padding: 0;
}

.cardTariffPrice .cardTariffItem:first-child {
    text-align: center;

    color: #101431;

    font-weight: bold;
}

.cardTariffCurrent .cardTariffPrice .cardTariffItem:first-child {
    color: #3b51f9;
}

.wrapperBlockInfoTariff {
    display: flex;

    margin: 0;
    padding: 0 48px;
}

.blockInfoAboutTariff {
    position: relative;

    width: 491px;

    margin: 0;
    margin-right: 113px;
    padding: 0;
}

.blockInfoAboutTariffItem {
    margin: 0;
    margin-bottom: 17px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.blockInfoAboutTariffItem span {
    color: #9093ae;
}

.blockInfoAboutTariffInner {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0 0 10px 32px;
    padding: 0;
}

.blockInfoAboutTariffInner:nth-child(5) {
    margin-bottom: 40px;
    margin-left: 0;
}

.blockInfoAboutTariffInner:nth-child(5)::after {
    position: absolute;

    top: 35px;
    left: 0;

    width: 491px;
    height: 1px;

    content: '';

    background: #f2f3f5;
}

.blockInfoAboutTariffInner:nth-child(7) {
    margin-bottom: 32px;
}

.infoAboutTariffItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.infoAboutTariffItem1 {
    font-weight: 500;
}

.checkboxFreeSlotOn {
    position: absolute;

    top: 0;
    left: -32px;

    display: none;

    content: url('../../assets/checkboxOn.svg');

    cursor: pointer;
}

.checkboxFreeSlotOff {
    position: absolute;

    top: 0;
    left: -32px;

    display: none;

    content: url('../../assets/checkboxOff.svg');

    cursor: pointer;
}

.checkboxFreeSlotDefault {
    position: absolute;

    top: 0;
    left: -32px;

    content: url('../../assets/checkboxDefault.svg');
}

.btnUpdateTariff {
    box-sizing: border-box;

    width: 209px;
    height: 42px;
    margin: 0;
    padding: 0;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnUpdateTariff:hover {
    cursor: pointer;

    color: #fff;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnUpdateTariff:active {
    color: #fff;
    background: #1026cf;
}

.btnUpdateTariff:disabled {
    box-sizing: border-box;

    cursor: auto;

    color: #9093ae;

    border: 1.2px solid #babee6;
}

.blockInfoFreeTesting {
    position: relative;

    width: calc(394px - 24px - 56px);
    height: calc(255px - 25px - 24px);

    margin: 0;
    margin-top: -8px;
    padding: 25px 24px 24px 56px;

    border-radius: 6px;
    background: #5f71ff;
}

.blockInfoFreeTesting::before {
    position: absolute;

    top: 24px;
    left: 16px;

    width: 32px;
    height: 32px;

    content: url('../../assets/iconGift32x32.svg');
}

.infoFreeTestingItem {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

    color: #fff;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
}

.infoFreeTestingItem span {
    font-weight: bold;
}

.feedBack {
    display: flex;
    justify-content: flex-end;

    margin: -32px 0 12px;
    padding: 0 48px;
}

.feedBackItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.feedBackItemPhone {
    font-weight: 500;
}

.feedBackItemContact {
    margin: 0 5px;
    padding: 0;

    text-decoration: underline;

    color: #3b51f9;

    font-weight: 500;
}

@media (width <= 1365px) {
    /* .wrapTariffPlanTotalInfo {
        display: block;

        width: 100%;

        margin: 0;
        margin-bottom: 29px;
        padding: 0;

        background: none;
    } */

    /* .wrapTariffPlanTotalInfo::after {
        top: calc(74px + 29px + 19px + 13px + 42px + 17px);
        left: 8px;

        width: calc(100% - 16px);
    } */

    /* .fieldTariffPlanTotalInfo {
        justify-content: space-between;
        align-items: center;

        margin: 0 8px 12px;
        padding: 15px 18px;

        border-radius: 8px;
        background: #f2f3f5;
    } */

    /* .fieldAddBalance {
        float: right;

        margin: 0;
        margin-right: 8px;
        padding: 0;
    } */

    /* .addBalance {
        width: 394px;
    } */

    .wrapperAllAboutTariff {
        margin: 0;
    }

    .blockCardsTariff {
        display: block;

        margin-bottom: 31px;
        padding: 0 20px;
    }

    .cardTariffCurrent {
        margin-bottom: 16px;
    }

    .cardTariff {
        margin-bottom: 16px;
    }

    .cardTariff:last-child {
        margin-bottom: 0;
    }

    .wrapperBlockInfoTariff {
        display: block;

        padding-right: 8px;
        padding-left: 20px;
    }

    .fieldChangeTariff,
    .fieldTariffNumberScreen {
        padding: 0 20px;
    }

    .blockInfoAboutTariff {
        margin-right: 0;
    }

    .blockInfoFreeTesting {
        float: right;

        margin-top: -650px;
    }

    .feedBack {
        margin-top: 32px;
        margin-right: 8px;
        padding: 0;
    }
}

/* Style Page Guide */

.wrapperGuide {
    display: flex;
    justify-content: center;

    height: calc(100vh - 72px - 35px - 49px - 16px);

    margin: 42px auto 0;
    padding: 0 72px;
}

.wrapperSectionsDirectory {
    width: 209px;

    margin: 0;
    margin-right: 85px;
    padding: 0;
}

.fieldSectionDirectory {
    position: relative;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.iconArrowDirectoryDown::before {
    position: absolute;

    top: 0;
    right: 0;

    content: url('../../assets/iconCaretDown.svg');

    cursor: pointer;
}

.iconArrowDirectoryUp::before {
    position: absolute;

    top: 0;
    right: 0;

    content: url('../../assets/iconCaretUp.svg');

    cursor: pointer;
}

.fieldSectionDirectory li:first-child {
    margin-top: 10px;
}

.sectionDirectoryItem {
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.sectionDirectoryItemCurrent {
    color: #3b51f9;
}

.wrapperDirectoryDescription {
    width: 730px;

    margin: 0;
    padding: 0;
}

.directoryDescriptionItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

/* Style ManualTab */

.wrapperManual {
    overflow-y: scroll;

    width: 730px;
    height: calc(100vh - 72px - 100px - 16px);

    margin: 0;
    padding: 0;
}

.wrapperManual::-webkit-scrollbar {
    width: 6px;
}

/* ползунок скроллбара */
.wrapperManual::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.wrapperManualText {
    width: 718px;

    margin: 0;
    padding: 0;
}

.manualItem {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
}

.manualItem1 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.manualItem2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    line-height: 20px;
}

.manualItemLink {
    margin: 0;
    padding: 0;

    text-decoration: underline;

    color: #3b51f9;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}

.manualItemLinkEng {
    text-decoration: none;
}

.manualItemImage {
    width: 100%;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.manualItemLinkAddScreen {
    font-weight: 500;
    font-style: italic;
}

/* TransactionHistory */

.wrapperTransactionHistory,
.wrapperStorageCapacity {
    display: flex;
    flex-direction: column;
}

.containerTransactionHistory,
.containerStorageCapacity {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 72px - 130px - 120px - 16px);
}

.wrapperTransactionHistory .feedBack {
    flex-grow: 1;
}

.wrapperTransactionHistoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(1094px - 96px);
    height: 62px;

    margin: 0 auto;
    padding: 0 48px;
}

.wrapperTransactionHistoryReport {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(1094px - 96px);
    height: 62px;

    margin: 0 auto;
    padding: 0 48px;

    border-radius: 5px;
    background: #fff;
}

.wrapperTransactionHistoryReport:nth-child(2n) {
    background: #f7f7f9;
}

.transactionHistoryItem {
    margin: 0;
    padding: 0;

    color: #9093ae;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
}

.transactionHistoryItem1 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.transactionHistoryDescription {
    width: 350px;
}

.transactionHistorySum {
    font-weight: 500;
}

.transactionHistoryAddSum {
    color: #18c55d;
}

/* StorageCapacity */

.wrapperStorageCapacity {
    width: 469px;

    margin: 0;
    margin-top: 13px;
    padding: 0 48px;
}

.storageCapacityList {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 17px;
    padding: 0;
}

.storageCapacityItem1 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.storageCapacityItem2 {
    font-weight: 700;
}

.fieldProgress {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

progress {
    width: 469px;
    height: 8px;

    margin: 0;
    padding: 0;

    border: 0;
}

progress::-webkit-progress-bar {
    border-radius: 6px;
    background: #d9dae4;
}

progress::-webkit-progress-value {
    border-radius: 6px;
    background: #5f71ff;
}

/* progress::-moz-progress-bar {
    border-radius: 6px;
    background: #5f71ff;
} */

.storageCapacityItem3 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}
