/* Popup window send letter */

.popupSendLetter {
    position: relative;
    top: 50%;

    left: 50%;

    width: 360px;

    margin: 0;
    padding: 50px 88px 56px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupSendLetter h2 {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupSendLetter h3 {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}

.wrapperSendLetter {
    margin: 0 0 16px;
    padding: 0;
}

.labelSendLetter {
    margin: 0;
    margin-bottom: 9px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.popupSendLetterInput {
    box-sizing: border-box;

    width: 360px;
    height: 42px;

    margin: 0;
    padding: 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.popupSendLetterInputError {
    border: 1px solid #f92424;
}

.iconWarning {
    background-image: url('../../../../assets/iconWarning.svg');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.errorSendLetter {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    opacity: 1;
    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.popupSendLetterInput:hover {
    border: 1px solid #bec1d2;
}

.popupSendLetterInput:focus,
.popupSendLetterInput:active {
    border: 1px solid #566dec;
}

.fieldBtnLetter {
    display: flex;

    margin: 0;
    margin-top: 32px;
    padding: 0;
}

.buttonSend {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    margin-right: 16px;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonCancel {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    width: 172px;
    height: 42px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;

    border-radius: 6px;
    background-color: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.buttonSend img {
    margin-right: 12px;

    content: url('../../../../assets/iconLetter.svg');
}

.buttonSend:active {
    background: #1026cf;
}

.buttonSend:disabled {
    cursor: auto;

    background: #babee6;
}

.buttonSend:hover:not([disabled]) {
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.buttonCancel:active {
    color: #fff;
    background: #1026cf;
}

.buttonCancel:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
}

.buttonCancel:hover:not([disabled]) {
    color: #fff;
    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}
