.wrapModal {
    position: fixed;

    inset: 0;

    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.modalTrigger {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 917px;
    height: calc(100vh - 160px);

    margin: 0;
    padding: 45px 88px 48px;

    border-radius: 8px;

    background: #fff;
}

.wrapModalTrigger {
    height: 100%;
}

.conteinerScriptModal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: calc(100% - 31px - 25px);
}

.conteinerScriptModalInner {
    flex: 1 0 auto;
}

.modalTriggerItem {
    margin: 0 0 25px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.modalTriggerItem1 {
    margin: 0 0 0 8px;

    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 21px;
}

.wrapperTriggerContentTab {
    position: relative;

    display: flex;

    margin: 0 0 29px;
    padding: 12px 8px;

    border-radius: 6px;

    background: #f0f0f5;
}

.fiedlBtnFavourites {
    position: relative;
}

.wrapperCreateTriggerStatus {
    position: absolute;

    top: 12px;
    right: 20px;

    box-sizing: border-box;

    height: 18px;
    padding: 0 3px;

    text-align: center;

    color: #1f36e5;

    border: 0.6px solid #1f36e5;

    border-radius: 10px;

    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
}

.fiedlBtnFavourites .wrapperCreateTriggerStatus {
    top: 0;
    right: 20px;
}

.btnClearAllRules {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 0;
}

.btnClearAllRules img {
    margin-right: 12px;

    content: url('../../../../../../assets/iconTrashHover_22x22.svg');
}

.btnNewScript,
.btnFavourites,
.btnReadyTemplates {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 292px;
    height: 48px;

    margin: 0;
    margin-right: 12px;
    padding: 0;

    cursor: pointer;

    color: #9093ae;

    border: none;

    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
}

.btnFavourites,
.btnReadyTemplates {
    cursor: auto;
}

.btnActive {
    position: relative;

    color: #101431;

    border-radius: 6px;

    background: #fff;

    box-shadow: 0 4px 12px rgb(156 161 184 / 11%);

    font-weight: 500;
}

.btnNewScript img {
    margin-right: 12px;

    content: url('../../../../../../assets/iconGitForkPassive_23x22.svg');
}

.btnFavourites img {
    margin-right: 12px;

    content: url('../../../../../../assets/iconFavouritesPassive_23x22.svg');
}

.btnReadyTemplates img {
    margin-right: 12px;

    content: url('../../../../../../assets/iconSquaresPassive_23x22.svg');
}

.btnNewScript.btnActive img {
    content: url('../../../../../../assets/iconGitForkActive_23x22.svg');
}

.btnFavourites.btnActive img {
    content: url('../../../../../../assets/iconFavouritesActive_23x22.svg');
}

.btnReadyTemplates.btnActive img {
    content: url('../../../../../../assets/iconSquaresActive_23x22.svg');
}

.wrapperInfoAboutScript {
    display: flex;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.wrapperInfoAboutScript label {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.wrapperNameScript {
    margin: 0;
    margin-left: 8px;
    padding: 0;
}

.wrapperDescriptionScript {
    margin: 0;
    padding: 0;
}

.nameScriptInput {
    box-sizing: border-box;

    width: 292px;

    margin: 9px 16px 0 0;
    padding: 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;

    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.descriptionScriptInput {
    box-sizing: border-box;

    width: 535px;

    margin: 9px 16px 0 0;
    padding: 9px 20px;

    color: #101431;

    border: 1px solid #dddfee;

    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.nameScriptInput:hover,
.descriptionScriptInput:hover {
    border: 1px solid #bec1d2;
}

.nameScriptInput:active,
.descriptionScriptInput:active,
.nameScriptInput:focus,
.descriptionScriptInput:focus {
    border: 1px solid #566dec;
}

.wrapperBtnHeart {
    position: relative;

    margin: 25px 0 0;
    padding: 0;
}

.btnHeart {
    position: relative;

    box-sizing: border-box;

    width: 42px;
    height: 42px;

    margin: 0;
    padding: 0;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;

    background: none;

    background-image: url('../../../../../../assets/iconHeartDefault_22x22.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btnHeart:hover {
    background: #3b51f9;

    background-image: url('../../../../../../assets/iconHeartHover_22x22.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btnHeart:active {
    border: 1px solid #1026cf;

    background: none;

    background-image: url('../../../../../../assets/iconHeartPresed_22x22.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.wrapperCreateTriggerAll {
    overflow: hidden scroll;

    /* width: 901px; */
    max-height: calc(100vh - 45px - 56px - 104px - 186px - 80px);

    margin: 0;
    margin-top: 3px;
    padding: 8px 3px 0 8px;
}

.containerScripts {
    overflow: hidden scroll;

    width: 917px;
    height: calc(100vh - 45px - 56px - 104px - 186px);

    margin: 0;
    padding: 0 3px;
}

.containerScripts::-webkit-scrollbar,
.wrapperCreateTriggerAll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* ползунок скроллбара */
.containerScripts::-webkit-scrollbar-thumb,
.wrapperCreateTriggerAll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddfee;
}

.wrapperTriggerAll {
    display: flex;
    justify-content: space-between;

    height: 42px;

    margin: 0 0 8px;
    padding: 8px 16px;

    border-radius: 6px;
    background: #f7f7f9;
}

.wrapperTriggerError {
    border: 1px solid #ff7171;
}

.weather {
    /* display: none; */
}

/* .traffic { */

/*    display: none; */

/* } */

.time {
    height: 166px;
}

.wrapperTriggerBlock {
    position: relative;

    display: flex;

    height: 42px;

    margin: 0;
    padding: 0;
}

.wrapperTriggerBlock1 {
    position: relative;

    margin: 0 9px 0 0;
    padding: 0;
}

.wrapperTriggerBlock2 {
    margin-right: 4px;
}

.inputWeatherTraffic {
    box-sizing: border-box;

    width: 162px;
    height: 42px;

    margin: 0;
    margin-right: 3px;
    padding: 10px 45px 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;

    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.inputWeatherTraffic:hover {
    border: 1px solid #bec1d2;
}

.inputWeatherTraffic:active,
.inputWeatherTraffic:focus {
    border: 1px solid #566dec;
}

.wrapInputWeatherTraffic {
    position: absolute;

    top: 10px;
    right: 16px;

    content: '';
}

.inputWeatherTrafficItem {
    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.wrapperIconDelete {
    position: relative;

    width: 24px;
    height: 24px;

    margin: 0;
    padding: 0;
}

.iconDelete {
    width: 24px;
    height: 24px;

    margin: 0;
    margin-top: 8px;
    padding: 0;

    cursor: pointer;

    border: none;
    background: none;
    background-image: url('../../../../../../assets/iconTrash_24x24.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.iconDelete:hover {
    background-image: url('../../../../../../assets/iconTrashHover_24x24.svg');
}

.wrapBtnRules {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-top: 16px;
    padding: 0;
}

.btnAddRules,
.btnClearAllRules,
.btnSaveChange {
    position: relative;

    box-sizing: border-box;

    width: 292px;
    height: 42px;

    margin: 0;
    padding: 9px 42px 9px 0;

    cursor: pointer;

    text-align: right;

    color: #3b51f9;

    border: 1.2px solid #5f71ff;

    border-radius: 6px;

    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnAddRules {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: -5px 0 0;
    padding: 0;
}

.btnAddRules svg {
    margin-right: 12px;

    stroke: #3b51f9;
}

.btnSaveChange::before {
    position: absolute;

    top: 9px;
    left: 50px;

    width: 22px;
    height: 22px;

    content: url('../../../../../../assets/iconCheck_22x22.svg');
}

.btnAddRules:hover,
.btnClearAllRules:hover,
.btnSaveChange:hover {
    color: #fff;

    background: #3b51f9;
}

.btnAddRules:hover svg {
    stroke: white;
}

.btnClearAllRules:hover img {
    content: url('../../../../../../assets/iconTrash_22x22.svg');
}

.btnSaveChange:hover::before {
    content: url('../../../../../../assets/iconCheckHover_22x22.svg');
}

.btnAddRules:active,
.btnClearAllRules:active,
.btnSaveChange:active {
    color: #fff;

    background: #1026cf;
}

.btnAddRules:active svg {
    stroke: white;
}

.btnClearAllRules:active img {
    content: url('../../../../../../assets/iconTrash_22x22.svg');
}

.btnAddRules:disabled,
.btnClearAllRules:disabled {
    cursor: auto;

    color: #9093ae;
    border: 1.2px solid #babee6;
    background: none;
}

.btnAddRules:disabled svg {
    stroke: #9093ae;
}

.btnClearAllRules:disabled img {
    content: url('../../../../../../assets/iconTrashDisabled_22x22.svg');
}

/* .btnSaveChange:disabled:not([hover]) {
    color: #9093ae;
    border: 1.2px solid #babee6;
}

.btnSaveChange:disabled:not([hover])::before {
    content: url('../../../../../../assets/iconCheckDisabled_22x22.svg');
} */

.wrapperBtnSaveCancel {
    display: flex;
    justify-content: flex-end;

    margin: 0;
    padding: 0;
}

.errorRules {
    width: 512px;

    margin: 0;
    margin-right: 27px;
    padding: 0;

    color: #f92424;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSave {
    box-sizing: border-box;

    width: 172px;
    height: 42px;

    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 6px;

    background: #1f36e5;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnSave:active {
    color: #fff;
    background: #1026cf;
}

.btnSave:disabled {
    cursor: auto;

    background: #babee6;
}

.btnSave:hover:not([disabled]) {
    color: #fff;
    background: #3b51f9;
}

.btnCancel {
    box-sizing: border-box;

    width: 172px;
    height: 42px;
    margin: 0;
    margin-right: 24px;

    padding: 0;

    cursor: pointer;

    color: #1f36e5;

    border: 1.2px solid #5f71ff;
    border-radius: 6px;
    background: none;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnCancel:hover {
    color: #fff;

    background: #3b51f9;
    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnCancel:active {
    color: #fff;
    background: #1026cf;
}

.btnCancel:disabled {
    box-sizing: border-box;

    color: #9093ae;

    border: 1.2px solid #babee6;
}

.wrapperReadyTemplates {
    position: relative;

    margin: 0;
    padding: 0;
}

.wrapInputTriggerTime {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 260px;
    margin: 0;
    margin-top: 12px;
    padding: 0;
}

.wrapInputTriggerTime::before {
    position: absolute;

    top: 10px;
    left: 127px;

    content: '-';

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.inputTriggerTime {
    position: relative;

    box-sizing: border-box;

    width: 118px;
    height: 42px;

    margin: 0;
    padding: 10px 20px;

    color: #101431;

    border: 1px solid #dddfee;
    border-radius: 6px;

    background: #fff;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.inputTriggerTime:hover {
    border: 1px solid #bec1d2;
}

.inputTriggerTime:active,
.inputTriggerTime:focus {
    border: 1px solid #566dec;
}

.triggerSetupWeek {
    display: flex;

    width: 236px;
    height: 42px;

    margin: 12px 0 0 12px;
    padding: 0;
}

.triggerSetupWeek.disabled > div {
    opacity: 0.5;
}

.checkboxFreeSlotOn {
    position: absolute;

    top: 5px;
    left: 0;

    /* display: none; */
    content: url('../../../../../../assets/checkboxOn.svg');
}

.checkboxFreeSlotOff {
    position: absolute;

    top: 5px;
    left: 0;

    content: url('../../../../../../assets/checkboxOff.svg');
}

.triggerSetupDay {
    position: relative;
}

.triggerSetupDay .checkboxFreeSlotOn,
.triggerSetupDay .checkboxFreeSlotOff {
    top: 20px;
    left: 0;
}

.triggerSetupDayActive {
    width: 19px;

    margin: 0;
    margin-right: 18px;
    padding: 0;

    text-align: center;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.wrapperFavourites {
    margin: 0 0 8px;
    padding: 14px 25px 15px 24px;

    border: 1px solid transparent;

    border-radius: 6px;
    background: #f7f7f9;
}

.wrapperFavourites.active {
    box-shadow: 0 0 0 3px #c1c8fd;
}

.favouritesScriptBlock {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.favouritesScriptBlock::after {
    position: absolute;

    top: 0;
    right: 103px;

    width: 1px;
    height: 47px;

    content: '';

    border-radius: 6px;
    background: #e8e8f1;
}

.iconDown {
    position: absolute;

    top: 14px;
    right: 2px;

    width: 20px;
    height: 20px;

    content: url('../../../../../../assets/iconCaretDown.svg');
}

.favouritesScriptItem {
    margin: 0 0 3px;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.favouritesScriptItem1 {
    margin: 0;
    margin-right: 25px;
    padding: 0;

    color: #6c6e82;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
}

.fieldBtnDeleteScript {
    margin: 3px 38px 0 0;
    padding: 0;
}

.btnDeleteScript {
    position: relative;

    box-sizing: border-box;

    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;

    border: 1.2px solid #ff7171;
    border-radius: 6px;
    background: none;
}

.btnDeleteScript::before {
    position: absolute;
    top: 9px;
    left: 9px;

    width: 22px;
    height: 22px;

    content: url('../../../../../../assets/iconTrashScreen.svg');
}

.btnDeleteScript:hover {
    background: #ff5757;
}

.btnDeleteScript:hover::before {
    content: url('../../../../../../assets/iconTrash_22x22.svg');
}

.btnDeleteScript:active {
    background: #e41d1d;
}

.wrapperTabFavouritesAll {
    /* display: none; */
    margin: 18px 0 0;
    padding: 0 0 5px;
}

.wrapperTabFavourites {
    margin: 0;
    padding: 0;
}

.multipleScenarios {
    position: relative;

    margin-top: 26px;
    margin-bottom: 26px;
}

.multipleScenarios::before {
    position: absolute;

    top: -16px;
    left: 0;

    width: 869px;
    height: 2px;

    content: '';

    border-radius: 8px;
    background: #fff;
}

.multipleScenarios::after {
    position: absolute;

    bottom: -12px;
    left: 0;

    width: 869px;
    height: 2px;

    content: '';

    border-radius: 8px;
    background: #fff;
}
