<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
</style>

<table border='0' cellpadding='0' cellspacing='0' width='100%' style='line-height:normal;'>
    <tr>
        <td align='center' bgcolor='#E5E5E5' style='background-color:#E5E5E5; padding:10px'>
            <table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width:572px'>
                <tr>
                    <td align='center'>
                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                            <tr>
                                <td
                                    align='center'
                                    bgcolor='#fff'
                                    style='background-color:#fff; border-top-left-radius:8px; border-top-right-radius:8px; padding:64px 20px 49px 20px;'
                                >
                                    <table
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        width='100%'
                                        style='border-spacing:0; max-width: 460px;'
                                    >
                                        <tr>
                                            <td align='left'>
                                                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                                    <tr>
                                                        <td
                                                            align='left'
                                                            valign='middle'
                                                            style='font-size:0px; line-height:0px;'
                                                        >
                                                            <div
                                                                style='display:inline-block; max-width:340px; vertical-align:middle; width:100%'
                                                            >
                                                                <table
                                                                    border='0'
                                                                    cellpadding='0'
                                                                    cellspacing='0'
                                                                    width='100%'
                                                                >
                                                                    <tr>
                                                                        <td
                                                                            align='left'
                                                                            style='font-size: 14px; line-height: 16px;'
                                                                        >
                                                                            <table
                                                                                border='0'
                                                                                cellpadding='0'
                                                                                cellspacing='0'
                                                                                width='100%'
                                                                            >
                                                                                <tr>
                                                                                    <td align='left'>
                                                                                        <img
                                                                                            src='cid:logo'
                                                                                            alt=''
                                                                                            width='153'
                                                                                            height='51'
                                                                                            style='display: block;'
                                                                                        />
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                            <tr>
                                <td
                                    align='center'
                                    bgcolor='#fff'
                                    style='background-color:#fff; padding: 0 20px 24px 20px;'
                                >
                                    <table
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        width='100%'
                                        style='border-spacing:0; max-width: 460px;'
                                    >
                                        <tr>
                                            <td
                                                align='left'
                                                style='color: #101431; font-family: Inter, sans-serif, Arial; font-size: 24px; font-weight:500; font-style:normal; line-height: 31px;'
                                            >
                                                Видеофайл «{{filename}}» успешно
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                align='left'
                                                style='color: #101431; font-family: Inter, sans-serif, Arial; font-size: 24px; font-weight:500; font-style:normal; line-height: 31px;'
                                            >
                                                проанализирован.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                align='left'
                                                style='padding-top: 24px; color: #101431; font-family: Inter, sans-serif, Arial; font-size: 16px; font-weight:400; font-style:normal; line-height: 24px;'
                                            >
                                                Перейдите в сервис, чтобы скачать отчёт.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                            <tr>
                                <td
                                    align='center'
                                    bgcolor='#fff'
                                    style='background-color:#fff; padding: 0 20px 64px 20px;'
                                >
                                    <table
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        width='100%'
                                        style='border-spacing:0; max-width: 460px;'
                                    >
                                        <tr>
                                            <td align='left'>
                                                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                                    <tr>
                                                        <td
                                                            align='center'
                                                            bgcolor='#1f36e5'
                                                            height='42'
                                                            valign='middle'
                                                            style='background-color:#1f36e5; border-radius:6px;'
                                                        >
                                                            <a
                                                                href='{{url}}'
                                                                style='display:block; color:#fff; font-family: Inter, sans-serif, Arial; font-size: 14px; font-weight: 500; font-style:normal; line-height: 22px; text-decoration: none; text-align:center;'
                                                            >
                                                                Перейти в Phygital View
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
