<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
</style>

<table border='0' cellpadding='0' cellspacing='0' width='100%' style='line-height:normal;'>
    <tr>
        <td align='center' bgcolor='#E5E5E5' style='background-color:#E5E5E5; padding:10px'>
            <table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width:572px'>
                <tr>
                    <td align='center'>
                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                            <tr>
                                <td
                                    align='center'
                                    bgcolor='#fff'
                                    style='background-color:#fff; border-top-left-radius:8px; border-top-right-radius:8px; padding:64px 20px 49px 20px;'
                                >
                                    <table
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        width='100%'
                                        style='border-spacing:0; max-width: 460px;'
                                    >
                                        <tr>
                                            <td align='left'>
                                                <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                                                    <tr>
                                                        <td
                                                            align='left'
                                                            valign='middle'
                                                            style='font-size:0px; line-height:0px;'
                                                        >
                                                            <div
                                                                style='display:inline-block; max-width:340px; vertical-align:middle; width:100%'
                                                            >
                                                                <table
                                                                    border='0'
                                                                    cellpadding='0'
                                                                    cellspacing='0'
                                                                    width='100%'
                                                                >
                                                                    <tr>
                                                                        <td
                                                                            align='left'
                                                                            style='font-size: 14px; line-height: 16px;'
                                                                        >
                                                                            <table
                                                                                border='0'
                                                                                cellpadding='0'
                                                                                cellspacing='0'
                                                                                width='100%'
                                                                            >
                                                                                <tr>
                                                                                    <td align='left'>
                                                                                        <img
                                                                                            src='cid:logo'
                                                                                            alt=''
                                                                                            width='153'
                                                                                            height='51'
                                                                                            style='display: block;'
                                                                                        />
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                            <tr>
                                <td
                                    align='center'
                                    bgcolor='#fff'
                                    style='background-color:#fff; padding: 0 20px 24px 20px;'
                                >
                                    <table
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        width='100%'
                                        style='border-spacing:0; max-width: 460px;'
                                    >
                                        {{! <tr>
                                                <td colspan="1" height="11" style="font-size:0; height:11px; line-height:11px;"></td>
                                            </tr> }}
                                        <tr>
                                            <td
                                                align='left'
                                                style='color: #101431; font-family: Inter, sans-serif, Arial; font-size: 24px; font-weight:500; font-style:normal; line-height: 31px;'
                                            >
                                                Спасибо за ваш платёж!
                                            </td>
                                        </tr>
                                        {{! <tr>
                                                <td colspan="1" height="20" style="font-size:0; height:20px; line-height:20px;"></td>
                                            </tr> }}
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                            <tr>
                                <td
                                    align='center'
                                    bgcolor='#fff'
                                    style='background-color:#fff; padding: 0 20px 26px 20px;'
                                >
                                    <table
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        width='100%'
                                        style='border-spacing:0; max-width: 460px;'
                                    >
                                        {{! <tr>
                                                <td colspan="1" height="11" style="font-size:0; height:11px; line-height:11px;"></td>
                                            </tr> }}
                                        <tr>
                                            <td
                                                align='left'
                                                style='color: #101431; font-family: Inter, sans-serif, Arial; font-size: 16px; font-weight:normal; font-style:normal; line-height: 24px;'
                                            >
                                                Здравствуйте,
                                                {{title}}.
                                                <br />
                                                <br />
                                                Оплата сервиса согласно вашему тарифу прошла успешно. Чтобы посмотреть
                                                детали платежа нажмите
                                                <a href=''>здесь</a>.
                                                <br />
                                                <br />
                                                Если у вас возникли вопросы, обратитесь в поддержку
                                                <br />по адресу
                                                <a href='mailto:hello@phygitalsignage.io'>hello@phygitalsignage.io</a>
                                                или по телефону:
                                                <br /><a href='tel:+74993710580'>+7 (499) 371-05-80</a>
                                            </td>
                                        </tr>
                                        {{! <tr>
                                                <td colspan="1" height="20" style="font-size:0; height:20px; line-height:20px;"></td>
                                            </tr> }}
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table border='0' cellpadding='0' cellspacing='0' width='100%'>
                            <tr>
                                <td
                                    align='center'
                                    bgcolor='#fff'
                                    style='background-color:#fff; border-bottom-left-radius:8px; border-bottom-right-radius:8px; padding: 0 20px 64px 20px;'
                                >
                                    <table
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        width='100%'
                                        style='border-spacing:0; max-width: 460px;'
                                    >
                                        {{! <tr>
                                                <td colspan="1" height="11" style="font-size:0; height:11px; line-height:11px;"></td>
                                            </tr> }}
                                        <tr>
                                            <td
                                                align='left'
                                                style='color: #101431; font-family: Inter, sans-serif, Arial; font-size: 16px; font-weight:normal; font-style:normal; line-height: 24px;'
                                            >
                                                С уважением,
                                                <br />
                                                команда Phygital Signage
                                            </td>
                                        </tr>
                                        {{! <tr>
                                                <td colspan="1" height="20" style="font-size:0; height:20px; line-height:20px;"></td>
                                            </tr> }}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>