<style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
</style>


<body style='margin:0; padding:0;'>
    <table border='0' cellpadding='0' cellspacing='0' width='100%' style='background-color:#E5E5E5;'>
        <tr>
            <td align='center' style='padding:10px;'>
                <table style='width:100%; max-width: 572px; border-collapse:collapse; border:0; border-spacing:0; test-align:left;'>
                    <tr>
                        <td style=' padding:40px 20px 32px 20px; background-color:#fff; border-top-left-radius:8px; border-top-right-radius:8px;'>
                            <!--[if (gte mso 9)|(IE)]>
                            <table width='460' align='center'><tr><td style='padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; margin:0px; background-color:#fff;'><![endif]-->
                            <table style='width:100%; max-width: 460px; margin: 0 auto; border-collapse:collapse; border-spacing:0; border:0;'>
                                <tr>
                                    <td>
                                        <img src='cid:logo' alt='' width='153' style='height:auto; display: block;'/>
                                    </td>
                                </tr>
                            </table>
                            <!--[if (gte mso 9)|(IE)]>
                            </td></tr></table><![endif]-->
                        </td>
                    </tr>
                    <tr>
                        <td style='padding:0 20px 24px 20px; background-color:#fff;'>
                            <!--[if (gte mso 9)|(IE)]>
                            <table width='460' align='center'><tr><td style='padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; margin:0px;'><![endif]-->
                            <table style='width:100%; max-width: 460px; margin: 0 auto; border-collapse:collapse; border-spacing:0; border:0;'>
                                <tr>
                                    <td style='color: #101431; font-family: Inter, sans-serif, Arial; font-weight:normal; font-style:normal;'>
                                        <h1 style='min-width:280px; margin:0 auto 24px; font-size: 24px; font-weight:500; line-height: 31px;'>
                                            Добро пожаловать в Phygital Signage!
                                        </h1>
                                        <p style='min-width:280px; margin: 0 auto 12px; font-size: 16px; line-height: 24px;'>
                                            Здравствуйте!
                                        </p>
                                        <p style='min-width:280px; margin: 0 auto 12px; font-size: 16px; line-height: 24px;'>
                                            Вы приглашены {{organizationEmail}} в качестве {{role}}.
                                        </p>
                                        <p style='min-width:280px; margin: 0 auto; font-size: 16px; line-height: 24px;'>
                                            Ваши данные участника для входа в Phygital Signage:
                                        </p>
                                        <p>Логин: <strong>{{email}}</strong></p>
                                        <p>Пароль: <strong>{{password}}</strong></p>
                                    </td>
                                </tr>
                            </table>
                            <!--[if (gte mso 9)|(IE)]>
                            </td></tr></table><![endif]-->
                        </td>
                    </tr>
                    <tr>
                        <td style='padding:0 20px 26px 20px; background-color:#fff;'>
                            <!--[if (gte mso 9)|(IE)]>
                            <table width='460' align='center'><tr><td style='padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; margin:0px;'><![endif]-->
                            <table style='width:100%; max-width: 460px; margin: 0 auto; padding: 10px 0; height:42px; text-align:center; border-collapse:collapse; border-spacing:0; border:0; background-color:#1f36e5; border-radius:6px;'>
                                <tr>
                                    <td>
                                        <a href='{{baseURL}}/signin' style='display:block; min-width:280px; color:#fff; font-family: Inter, sans-serif, Arial; font-size: 14px; font-weight: 500; font-style:normal; line-height: 22px; text-decoration: none; text-align:center;'>
                                            Войти
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <!--[if (gte mso 9)|(IE)]>
                            </td></tr></table><![endif]-->
                        </td>
                    </tr>
                    <tr>
                        <td style='padding:0 20px 64px 20px; border-bottom-left-radius:8px; border-bottom-right-radius:8px; background-color:#fff;'>
                            <!--[if (gte mso 9)|(IE)]>
                            <table width='460' align='center'><tr><td style='padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; margin:0px;'><![endif]-->
                            <table style='width:100%; max-width: 460px; margin: 0 auto; border-collapse:collapse; border-spacing:0; border:0;'>
                                <tr>
                                    <td style='color: #101431; font-family: Inter, sans-serif, Arial; font-weight:normal; font-style:normal;'>
                                        <p style='min-width:280px; margin: 0 auto; font-size: 16px; line-height: 24px;'>
                                            Спасибо,
                                        </p>
                                    <p style='min-width:280px; margin: 0 auto; font-size: 16px; line-height: 24px;'>
                                        команда Phygital Signage
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <!--[if (gte mso 9)|(IE)]>
                            </td></tr></table><![endif]-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
