.popupAddScreen {
    position: relative;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 360px;

    margin: 0;
    padding: 50px 88px;

    transform: translate(-50%, -50%);

    border-radius: 8px;

    background: #fff;

    box-shadow: 2px 4px 20px rgb(166 171 195 / 6%);
}

.popupAddScreen h2 {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 31px;
}

.popupAddScreen p {
    margin: 0;
    padding: 0;

    color: #101431;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fieldButtons {
    display: flex;
    justify-content: flex-end;
}

.btnClose {
    width: 172px;
    height: 42px;

    margin: 0;
    padding: 0;

    border-radius: 6px;

    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.btnClose {
    color: #3b51f9;
    border: 1.2px solid #5f71ff;
    background: transparent;
}

.btnClose:hover {
    cursor: pointer;

    box-shadow: 0 12px 18px -8px rgb(166 171 195 / 32%);
}

.btnClose:hover {
    color: #fff;
    background: #5f71ff;
}

.btnClose:active {
    background: #1026cf;
}
